header {
  width: 100%;
  height: 85px;
  position: fixed;
  z-index: 9999;
  max-width: 2000px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 0;
  /*new color background header */
  background: rgba(0, 0, 0, 0.85);
}

#product-header {
  width: 100%;
  height: 49px;
  position: fixed;
  z-index: 9999;
  max-width: 2000px;
  -webkit-transition: all .74s;
  -moz-transition: all .74s;
  -ms-transition: all .74s;
  -o-transition: all .74s;
  transition: all .74s;
  top: 85px;
  left: 0px;
}

.header-background {
  background: rgba(0, 0, 0, 0.85);
}

header .wrapper, #product-header .wrapper {
  width: 95%;
  padding: 0;
  max-width: 1450px;
  min-width: 975px;
  margin: 0 auto;
}

.product-header-hidden, .product-onlyheader-hidden, .button-hidden, .product-header-hidden-two {
  opacity: 0;
  -webkit-transition: all .74s;
  -moz-transition: all .74s;
  -ms-transition: all .74s;
  -o-transition: all .74s;
  transition: all .74s;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9);
}

.product-header-visible {
  opacity: 1;
  -webkit-transition: all .74s;
  -moz-transition: all .74s;
  -ms-transition: all .74s;
  -o-transition: all .74s;
  transition: all .74s;
  visibility: visible;
}

.product-header-background {
  background: rgba(0, 0, 0, 0.9);
}

.button-visible {
  opacity: 1;
  -webkit-transition: all .74s;
  -moz-transition: all .74s;
  -ms-transition: all .74s;
  -o-transition: all .74s;
  transition: all .74s;
}

#logo {
  position: absolute;
  width: 190px;
  height: 29px;
  top: 25px;
  left: 83px;
  background: url(http://www.evodesk.com/img/evodesk-logo-white.png) center center no-repeat;
  background-size: 188px 28px;
  z-index: 99999;
  display: block;
}

#header-social ul {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    letter-spacing: .09em;
    padding: 7px 10px;
    margin: 0;
    a {
      color: #ccc;
      text-decoration: none;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x {
  overflow-x: hidden;
}

#first {
  padding: 170px 0 130px;
}

.btn-below {
  margin-bottom: 1.75em !important;
}

#header-social {
  position: absolute;
  right: 2.5%;
  top: 30px;
  width: 180px;
  width: 250px;
  display: block;
  a {
    display: block;
    float: right;
    padding: 0 5px;
  }
}

.tabs div {
  width: 24%;
}

/*----------------------------- 

Main components 

-------------------------------- */

.cd-main-content, .cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.cd-main-content, .cd-main-header {
  position: fixed;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-main-content {
  position: relative;
}

.is-hidden {
  margin: 0;
  padding: 0;
}

#video-feature {
  width: 61%;
  border: none;
  background: url(../img/sub-nav-background.jpg) no-repeat center right;
  background-size: 925px auto;
}

#index-feature {
  width: 67%;
  border: none;
  padding: 0;
  height: 580px;
}

#play-button {
  display: inline-block;
  width: 140px !important;
  height: 100px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 -70px !important;
  div {
    position: relative;
    background: url(../img/play-button-outline2.png) left center no-repeat;
    background-size: 140px 96px;
    height: 97px;
    padding: 0;
    width: 140px;
    text-align: right;
    display: inline-block;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #252525;
    color: #fff;
    line-height: 1em;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    -webkit-transition: all .74s;
    -moz-transition: all .74s;
    -ms-transition: all .74s;
    -o-transition: all .74s;
    transition: all .74s;
  }
}

@media only screen and (max-width: 999px) {
  #index-feature {
    display: none;
  }
}

@media (min-width: 1000px) {
  #index-feature {
    padding: 10px 0px;
    min-height: 510px;
    height: auto;
  }
  #index-tile1 {
    width: 40%;
    height: 260px;
    display: block;
    background: #fff;
    float: left;
    margin-bottom: 10px;
  }
  #sd-tile3 {
    width: 40%;
    height: 235px;
    display: block;
    background: #fff;
    float: left;
  }
  #sd-tile4 {
    width: 60%;
    height: 235px;
    display: block;
    background: #fff;
    float: right;
    overflow: hidden;
  }
  #index-tile2 {
    width: 60%;
    height: 260px;
    display: block;
    float: right;
    margin-bottom: 10px;
    background: url(http://www.evodesk.com/img/banner-bg.jpg) top center fixed no-repeat;
    background-size: 770px auto;
  }
  #sd-tile1 {
    width: 50%;
    height: 260px;
    display: block;
    float: right;
    margin-bottom: 10px;
    background: #fff;
    background: url(http://www.evodesk.com/img/meet-evodesk-standing-desk-nav.jpg) center right no-repeat;
    background-size: 500px auto;
  }
  #sd-tile2 {
    width: 50%;
    height: 260px;
    display: block;
    background: url(http://www.evodesk.com/img/gaming-sd-featured.jpg) center right no-repeat;
    background-size: 500px 320px;
    float: left;
    margin-bottom: 10px;
  }
  #sd-tile3 {
    background: url(../img/evodesk-gallery-nav.jpg) top center no-repeat;
    background-size: 385px 275px;
  }
  #index-tile3 {
    width: 50%;
    height: 235px;
    display: block;
    background: url(http://www.evodesk.com/img/nav-tweet-featured.jpg) center center no-repeat;
    background-size: 500px 280px;
    float: left;
  }
  #index-tile4 {
    width: 50%;
    height: 235px;
    display: block;
    background: #fff;
    float: right;
  }
  .interior-spacing {
    position: relative;
    border-top: 0;
    border-bottom: 0;
    height: 100%;
  }
  #index-tile1 .interior-spacing, #sd-tile3 .interior-spacing, #index-tile3 .interior-spacing, #sd-tile2 .interior-spacing {
    border-left: 10px solid #f2f2f2;
    border-right: 5px solid #f2f2f2;
  }
  #index-tile3 .interior-spacing, #sd-tile1 .interior-spacing, #sd-tile2 .interior-spacing {
    overflow: hidden;
  }
  #index-tile2 .interior-spacing, #index-tile4 .interior-spacing, #sd-tile1 .interior-spacing, #sd-tile4 .interior-spacing {
    border-left: 5px solid #f2f2f2;
    border-right: 10px solid #f2f2f2;
  }
  #index-tile2:hover #featured-play, #sd-tile1:hover #featured-play {
    margin-top: -45px;
    margin-left: -60px;
    z-index: 3;
    height: 90px;
    width: 120px;
    background-size: 120px auto;
  }
  #hk-nav-featured {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 999px) {
  .cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left {
    .cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
      -webkit-transform: translateX(260px);
      -moz-transform: translateX(260px);
      -ms-transform: translateX(260px);
      -o-transform: translateX(260px);
      transform: translateX(260px);
    }
  }
}

.cd-main-content {
  background: #e2e3df;
  min-height: 100vh;
  z-index: 2;
}

.cd-main-header {
  height: 65px;
  /*background: rgba(0,0,0,.85);*/
  z-index: 99999;
}

.nav-is-fixed .cd-main-header {
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .cd-main-header {
    height: 90px;
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.cd-logo {
  position: absolute;
  top: 12px;
  left: 5%;
  z-index: 1000;
  img {
    display: block;
  }
}

@media only screen and (max-width: 999px) {
  .nav-on-left .cd-logo {
    left: auto;
    right: 5%;
  }
  #logo {
    position: absolute;
    width: 140px;
    height: 29px;
    top: 15px;
    left: 20px;
    background: url(../img/evodesk-logo-white.png) center center no-repeat;
    background-size: 140px auto;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-logo {
    top: 27px;
    left: 30px;
  }
  .cd-header-buttons {
    display: none !important;
  }
}

@media only screen and (max-width: 999px) {
  .cd-header-buttons {
    display: block !important;
  }
}

.cd-header-buttons {
  position: absolute;
  display: inline-block;
  top: 24px;
  left: 185px;
  padding: 0;
  margin: 0;
}

.nav-is-visible .cd-header-buttons {
  position: absolute;
  display: inline-block;
  top: 24px;
  left: auto;
  right: 20px;
}

.cd-header-buttons li {
  display: inline-block;
}

@media only screen and (max-width: 999px) {
  .nav-on-left .cd-header-buttons {
    right: auto;
    left: 5%;
    li {
      float: right;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .cd-header-buttons {
    top: 18px;
    right: 4em;
  }
}

.cd-search-trigger, .cd-nav-trigger {
  position: relative;
  display: block;
  width: 75px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  z-index: 3;
  font-size: 14px;
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: .07em;
}

.cd-search-trigger {
  &::before, &::after {
    /* search icon */
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &::before {
    /* lens */
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #f2f2f2;
  }
  &::after {
    /* handle */
    height: 3px;
    width: 8px;
    background: #f2f2f2;
    bottom: 14px;
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  span {
    /* container for the X icon */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    &::before, &::after {
      /* close icon */
      content: '';
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 22px;
      top: 50%;
      margin-top: -2px;
      left: 50%;
      margin-left: -11px;
      background: #f2f2f2;
      opacity: 0;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      -moz-transition: opacity 0.3s, -moz-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
    }
    &::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  &.search-is-visible {
    &::before, &::after {
      /* hide search icon */
      opacity: 0;
    }
    span {
      &::before, &::after {
        /* show close icon */
        opacity: 1;
      }
      &::before {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.cd-nav-trigger {
  span {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #f2f2f2;
    &::before, &::after {
      /* hamburger icon in CSS */
      position: absolute;
      display: inline-block;
      height: 3px;
      width: 24px;
      background: #f2f2f2;
    }
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1px;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
    &::before, &::after {
      /* other 2 lines */
      content: '';
      right: 0;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 0% 50%;
      -moz-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
      -o-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      -webkit-transition: -webkit-transform 0.3s 0.3s;
      -moz-transition: -moz-transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s;
    }
    &::before {
      /* menu icon top line */
      top: -6px;
    }
    &::after {
      /* menu icon bottom line */
      top: 6px;
    }
  }
  &.nav-is-visible span {
    /* hide line in the center */
    background: rgba(46, 50, 51, 0);
    &::before, &::after {
      /* keep visible other 2 lines */
      background: #f2f2f2;
    }
    &::before {
      -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
      -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
      -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
      -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
      transform: translateX(4px) translateY(-3px) rotate(45deg);
    }
    &::after {
      -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
      -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
      -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
      -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
      transform: translateX(4px) translateY(2px) rotate(-45deg);
    }
  }
}

@media only screen and (min-width: 1000px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-primary-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background: #333;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 9999;
  margin: 0;
  padding: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 260px;
    background: #333;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    margin: 0;
    padding: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  a, ul a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #444;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, opacity;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    text-decoration: none;
  }
  &.is-hidden, ul.is-hidden {
    /* secondary navigations hidden by default */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  &.moves-out > li > a, ul.moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  .see-all a {
    /* different style for the See all button on mobile and tablet */
    color: #00bbde;
  }
  .cd-nav-gallery .cd-nav-item, .cd-nav-icons .cd-nav-item {
    /* items with picture (or icon) and title */
    height: 80px;
    line-height: 80px;
  }
  .cd-nav-gallery .cd-nav-item h3, .cd-nav-icons .cd-nav-item h3 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cd-nav-gallery .cd-nav-item {
    padding-left: 90px;
    img {
      position: absolute;
      display: block;
      height: 40px;
      width: auto;
      left: 20px;
      top: 50%;
      margin-top: -20px;
    }
  }
  .cd-nav-icons .cd-nav-item {
    padding-left: 75px;
    p {
      color: #f2f2f2;
      font-size: 1.3rem;
      /* hide description on small devices */
      display: none;
    }
    &::before {
      /* item icon */
      content: '';
      display: block;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -20px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 40px 40px;
    }
    &.item-1::before {
      background-image: url("../img/line-icon-1.svg");
    }
    &.item-2::before {
      background-image: url("../img/line-icon-2.svg");
    }
    &.item-3::before {
      background-image: url("../img/line-icon-3.svg");
    }
    &.item-4::before {
      background-image: url("../img/line-icon-4.svg");
    }
    &.item-5::before {
      background-image: url("../img/line-icon-5.svg");
    }
    &.item-6::before {
      background-image: url("../img/line-icon-6.svg");
    }
    &.item-7::before {
      background-image: url("../img/line-icon-7.svg");
    }
    &.item-8::before {
      background-image: url("../img/line-icon-8.svg");
    }
  }
}

@media only screen and (max-width: 999px) {
  .nav-on-left .cd-primary-nav {
    right: auto;
    left: 0;
    ul {
      right: auto;
      left: 0;
    }
  }
}

@media only screen and (max-width: 999px) {
  .cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
    &.nav-is-visible {
      visibility: visible;
      -webkit-transition: visibility 0s 0s;
      -moz-transition: visibility 0s 0s;
      transition: visibility 0s 0s;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .cd-primary-nav {
    position: static;
    padding: 0 0 0 225px;
    margin: 0;
    height: auto;
    width: auto;
    float: left;
    overflow: visible;
    background: transparent;
    list-style: none;
    &::after {
      clear: both;
      content: "";
      display: table;
    }
    &.moves-out > li > a {
      /* reset mobile style */
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
    ul {
      position: static;
      height: auto;
      width: auto;
      background: transparent;
      overflow: visible;
      z-index: 3;
      &.is-hidden {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
      &.moves-out > li > a {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
    > li {
      float: left;
      margin-left: 30px;
      > a {
        /* main navigation buttons style */
        position: relative;
        display: inline-block;
        height: 90px;
        line-height: 90px;
        padding: 0 10px;
        color: #fff;
        overflow: visible;
        border-bottom: none;
        -webkit-transition: color 0.3s, box-shadow 0.3s;
        -moz-transition: color 0.3s, box-shadow 0.3s;
        transition: color 0.3s, box-shadow 0.3s;
        text-decoration: none;
        outline: none;
        &:hover {
          color: #00bbde;
        }
        &.selected {
          color: #00bbde;
          box-shadow: inset 0 4px 0 #00bbde;
          outline: none;
        }
        &.mobile-only{
          display: none;
        }
      }
    }
    .go-back, .see-all {
      display: none;
    }
    .cd-secondary-nav, .cd-nav-gallery, .cd-nav-icons {
      position: absolute;
      top: 90px;
      width: 94vw;
      max-width: 1430px;
      margin: 0;
      left: 0;
      background: #ffffff;
      padding: 0;
      box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: opacity .3s 0s, visibility 0s 0s;
      -moz-transition: opacity .3s 0s, visibility 0s 0s;
      transition: opacity .3s 0s, visibility 0s 0s;
    }
    .cd-secondary-nav::after, .cd-nav-gallery::after, .cd-nav-icons::after {
      clear: both;
      content: "";
      display: table;
    }
    .cd-secondary-nav.is-hidden, .cd-nav-gallery.is-hidden, .cd-nav-icons.is-hidden {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity .3s 0s, visibility 0s .3s;
      -moz-transition: opacity .3s 0s, visibility 0s .3s;
      transition: opacity .3s 0s, visibility 0s .3s;
    }
    .cd-secondary-nav > .see-all, .cd-nav-gallery > .see-all, .cd-nav-icons > .see-all {
      /* this is the BIG See all button at the bottom of the dropdown menu */
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 80px;
      width: 100%;
      overflow: hidden;
      /* reset some inherited style */
      margin: 0;
      padding: 0;
      background-color: #fff;
      z-index: 99;
    }
    .cd-secondary-nav > .see-all a, .cd-nav-gallery > .see-all a, .cd-nav-icons > .see-all a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-size: 2.2rem;
      font-weight: bold;
      text-align: center;
      line-height: 80px;
      border-top: 1px solid #e2e3df;
      /* reset some inherited style */
      border-bottom: none;
      margin: 0;
      padding: 0;
      -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
      -moz-transition: color 0.2s, background 0.2s, border 0.2s;
      transition: color 0.2s, background 0.2s, border 0.2s;
    }
    .cd-secondary-nav > .see-all a:hover, .cd-nav-gallery > .see-all a:hover, .cd-nav-icons > .see-all a:hover {
      background: #f2f2f2;
      border-color: #f2f2f2;
      color: #ffffff;
    }
    .cd-secondary-nav {
      > li {
        height: 495px;
        width: 30%;
        float: left;
        float: right;
        margin-right: 0;
        padding: 2.5% 0 2.5% 3%;
        /*border-right: 1px solid #e2e3df;*/
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        > a {
          /* secondary nav title */
          color: #00bbde;
          font-weight: bold;
          font-size: 1.6rem;
          margin-bottom: .6em;
        }
      }
      a {
        height: 30px;
        line-height: 30px;
        padding: 0 18% 0 5px;
        color: #222;
        border-bottom: none;
        font-size: 20px;
        text-decoration: none;
        outline: none;
      }
    }
  }
  /*.cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) {
    +2 because we have 2 list items with display:none 
    margin-right: 0;
    border-right: none;
  }*/
  .cd-secondary-nav li {
    padding: 5px 0;
  }
  .cd-primary-nav {
    .cd-secondary-nav {
      #video-feature a {
        height: auto;
        color: #999;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .08em;
        padding: 0;
        margin: 0;
        width: 93%;
        img {
          width: 100%;
          height: auto;
        }
      }
      a:hover {
        color: #00bbde;
      }
      ul {
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        ul {
          /* tertiary navigation */
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          padding: 0;
          &.is-hidden {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
          }
          .go-back {
            display: block;
            a {
              color: #999;
            }
          }
          .see-all {
            display: block;
          }
        }
      }
      .moves-out > li > a {
        /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }
    .cd-nav-gallery {
      li {
        /* set here number of columns - use width percentage */
        width: 22%;
        float: left;
        margin: 0 4% 40px 0;
        &:nth-child(4n+2) {
          /* +2 because we have two additional list items with display:none */
          margin-right: 0;
        }
      }
      .cd-nav-item {
        border-bottom: none;
        padding: 0;
        height: auto;
        line-height: 1.2;
        img {
          position: static;
          margin-top: 0;
          height: auto;
          width: 100%;
          margin-bottom: .6em;
        }
        h3 {
          color: #00bbde;
          font-weight: bold;
          padding: 0 .4em;
        }
      }
    }
    .cd-nav-icons {
      li {
        /* set here number of columns - use width percentage */
        width: 32%;
        float: left;
        margin: 0 2% 20px 0;
        &:nth-child(3n+2) {
          /* +2 because we have two additional list items with display:none */
          margin-right: 0;
        }
      }
      .cd-nav-item {
        border-bottom: none;
        height: 80px;
        line-height: 1.2;
        padding: 24px 0 0 85px;
        position: relative;
        &:hover {
          background: #f6f6f5;
        }
        h3 {
          color: #00bbde;
          font-weight: bold;
        }
        p {
          display: block;
        }
        &::before {
          left: 25px;
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .cd-primary-nav .cd-secondary-nav a {
    height: 22px;
    line-height: 22px;
    padding: 0 18% 0 5px;
    color: #222;
    border-bottom: none;
    font-size: 18px;
  }
}

.has-children > a, .go-back a {
  position: relative;
}

.has-children > a {
  &::before, &::after {
    /* arrow icon in CSS - for element with nested unordered lists */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #666;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.go-back a {
  &::before, &::after {
    /* arrow icon in CSS - for element with nested unordered lists */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #666;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.has-children > a::before, .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.has-children > a::after, .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 1000px) {
  .has-children > a {
    &::before, &::after {
      background: #c9cbc4;
    }
  }
  .go-back a {
    &::before, &::after {
      background: #c9cbc4;
    }
  }
  .has-children > a:hover {
    &::before, &::after {
      background: #00bbde;
    }
  }
  .go-back a:hover {
    &::before, &::after {
      background: #00bbde;
    }
  }
}

.has-children > a {
  padding-right: 40px;
  &::before, &::after {
    /* arrow goes on the right side - children navigation */
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
  }
}

.cd-primary-nav .go-back a {
  padding-left: 40px;
  &::before, &::after {
    /* arrow goes on the left side - go back button */
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .has-children > a {
    &::before, &::after {
      right: 10%;
    }
  }
  .cd-primary-nav > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
    &::before, &::after {
      width: 9px;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      background: #c9cbc4;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: width 0.3s, -webkit-transform 0.3s;
      -moz-transition: width 0.3s, -moz-transform 0.3s;
      transition: width 0.3s, transform 0.3s;
    }
    &::before {
      right: 12px;
    }
    &::after {
      right: 7px;
    }
    &.selected {
      &::before, &::after {
        width: 14px;
      }
      &::before {
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
      }
      &::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .cd-secondary-nav > .has-children > a {
    &::before, &::after {
      /* remove arrows on secondary nav titles */
      display: none;
    }
  }
  .cd-primary-nav .go-back a {
    padding-left: 20px;
    &::before, &::after {
      left: 1px;
    }
  }
}

.cd-search {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  form {
    height: 100%;
    width: 100%;
  }
  input {
    border-radius: 0;
    border: none;
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 0 5%;
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      color: #c9cbc4;
    }
    &:focus {
      outline: none;
    }
  }
  &.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
}

.nav-is-fixed .cd-search {
  position: fixed;
}

@media only screen and (min-width: 1000px) {
  .cd-search {
    height: 120px;
    top: 80px;
    input {
      padding: 0 2em;
      font-size: 3.2rem;
      font-weight: 300;
    }
  }
}

.cd-overlay {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
  &.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
  }
}

@media only screen and (max-width: 999px) {
  .cd-overlay.is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left .cd-overlay.is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
  .cd-overlay.is-visible.search-is-visible, .nav-on-left .cd-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* -------------------------------- 

support for no js 

-------------------------------- */

.no-js {
  .cd-primary-nav {
    position: relative;
    height: auto;
    width: 100%;
    overflow: visible;
    visibility: visible;
    z-index: 2;
  }
  .cd-search {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (min-width: 1000px) {
  .no-js {
    .cd-primary-nav {
      position: absolute;
      z-index: 9999;
      display: inline-block;
      width: auto;
      top: 0;
      right: 150px;
      padding: 0;
    }
    .nav-is-fixed .cd-primary-nav {
      position: fixed;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  #header-social {
    display: none;
  }
  .cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: 24px;
    left: auto;
    right: 20px;
  }
}

@media (min-width: 1000px) {
  .cd-primary-nav .cd-secondary-nav > li {
    height: 465px;
  }
}

@media (min-width: 1300px) {
  .cd-primary-nav .cd-secondary-nav > li {
    height: 555px;
  }
}

nav {
  #index-feature {
    box-sizing: border-box;
    padding: 10px;
    min-height: 0;
  }
  .cd-secondary-nav {
    > li {
      height: auto !important;
      overflow-y: hidden !important;
    }
    ul.options-menu li {
      padding: 0;
    }
  }
  .navtilerow {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    * {
      font-family: 'Proxima Nova', sans-serif !important;
      font-weight: normal;
      letter-spacing: 1px;
      line-height: 1em;
      color: white;
      margin: 0;
      padding: 0;
    }
    a {
      color: #00bbde !important;
      padding: 0 !important;
      margin: 0 !important;
      height: auto !important;
      line-height: 1em !important;
    }
  }
  .navtilerow1 > div {
    flex-basis: 50%;
    height: 260px;
    text-align: center;
  }
  .navtilerow2 {
    > div {
      flex-basis: 33%;
      height: 232px;
      text-align: center;
      margin-bottom: 0 !important;
    }
    h1 {
      margin-bottom: 0.5em;
      letter-spacing: 0;
      span {
        letter-spacing: -0.5px;
      }
    }
    a {
      letter-spacing: 2px !important;
      display: block !important;
      margin-bottom: 1em !important;
    }
  }
  .navtile {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background: white;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    > div {
      display: block;
      width: 100%;
      text-align: center;
    }
    &:last-child {
      margin-right: 0;
    }
    h1 {
      font-size: 21px;
      font-weight: bold;
      span {
        font-weight: 100;
      }
    }
    sup {
      font-size: 24px;
      position: relative;
      top: 2px;
      font-weight: 100;
    }
    a {
      font-size: 14px !important;
    }
  }
  .tile-explore {
    background: url(../img/tile-explore.jpg);
    align-items: center;
    h1 {
      font-size: 13px;
      font-weight: normal;
      margin-bottom: 1em;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 0.5em;
      em {
        color: #00bbde;
        font-style: normal;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.25em;
      margin-bottom: 1em;
      font-weight: 300;
    }
    a {
      font-size: 13px !important;
    }
  }
  .tile-elevate {
    background: url(../img/tile-elevate.jpg);
    align-items: center;
    h1 {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 0.25em;
      em {
        color: #00bbde;
        font-style: normal;
      }
    }
    img {
      margin-bottom: 0.5em;
    }
    a {
      font-size: 13px !important;
      display: block !important;
      height: auto !important;
    }
  }
  .tile-evodesk {
    background: url(../img/tile-evodesk.jpg);
  }
  .tile-evodeskpro {
    background: url(../img/tile-evodeskpro.jpg);
  }
  .tile-evodeskxe {
    background: url(../img/tile-evodeskxe.jpg);
  }
  .tile-studiol {
    background: url(../img/tile-evodeskstudiol.jpg);
  }
}

@media (max-width: 1024px) {
  nav .navtile h1 {
    font-size: 17px;
  }
}