
<section id="finance">
  <!-- finance section-->
  <div class="wrapper-container">
    <!-- wrapper container div--><img class="absolute z-back" id="financing-standing-desk" src="http://www.evodesk.com/img/white-standing-evodesk-keyboard.jpg" data-echo="img/white-standing-evodesk-keyboard.jpg" width="1116" height="469" alt="financing standing desk"/>
    <div class="keepItRealContent">
      <h2>Special Offer</h2>
      <h3>Evolve Today.<br/><span>Pay Later.</span></h3>
      <p>With PayPal® Credit® you can bring home EvoDesk today with No Payments and No Interest for 6 months*</p><a class="button-outline medium" href="financing" style="border: 2px inset #fff; display:inline-block; margin-right:10px;">Learn More ›</a><a class="button medium" href="https://www.evodesk.com/store/">Shop Now ›</a>
    </div>
  </div>
  <!-- end of wrapper-container div-->
</section>
<!-- finance section-->