
<section id="keep-it-real">
  <!--keep-it-real-->
  <div class="wrapper-container"><img class="absolute z-back" id="evoedge-desktop" src="http://www.evodesk.com/img/evoedge-desktop.jpg" data-echo="http://www.evodesk.com/img/evoedge-desktop.jpg" width="1125" height="425" alt="evoedge desktop"/>
    <div class="keepItRealContent">
      <h2>Goodbye 70’s Style Laminate</h2>
      <h3>We Keep it <span>Real.</span></h3>
      <p>Part of evolution is becoming something better. That’s why we created something better for people and the planet. We cut out toxic chemicals like urea formaldehyde, solvents, and VOCs (Volatile Organic Compounds). All desktops are finished in the United States without the use of toxic chemicals. There are no harmful gasses or strange odors. There is no plastic laminate, no plastic-edge banding and no excuses. Evodesk has created over 20 high quality desktops - from modern seamless designs to the more traditional warmth of genuine wood. Our Renew desktops are finished with EvoGuard™, a seamless solvent-free coating that fully encapsulates each desktop. Our rubberwood and bamboo desktops are finished with a transparent ultraviolet cured and solvent-free coating that brings out the warmth and beauty only provided by real wood.</p>
    </div>
  </div>
  <!-- end of keep-it-real-->
</section>