
<section id="noSharpEdges">
  <!-- noSharpEdges section-->
  <div class="wrapper-container"><img class="absolute z-back" id="standing-desk-white" src="http://www.evodesk.com/img/white-standing-desk.jpg" data-echo="img/white-standing-desk.jpg" width="1057" height="732" alt="white standing desk"/>
    <div class="keepItRealContent">
      <h2>No More Seams or Sharp Edges</h2>
      <h3>Truly <span>Immersive Design</span></h3>
      <p>Laminate desktops are limited to rectangle shapes with sharp edges and corners that make for a truly uncomfortable work experience. We wanted to make Evodesk extremely comfortable for long periods of use. Sharp edges were replaced with contoured edges that make resting your wrists and forearms comfortable for long hours at work or play. The latest innovation is our Ergo desktop. The CNC machined ergonomic inset forms a functional standing desk cockpit. Get closer to your work increases productivity by allowing you to reach 22% more of your desktop with ease.</p><a class="button medium" href="https://www.evodesk.com/store">Build Now ›</a>
    </div>
  </div>
</section>