
<section id="storage">
  <!-- storage section-->
  <div style="position:relative;"><img class="absolute z-back" id="standing-desk-storage" src="http://www.evodesk.com/img/standing-desk-evodesk-storage.jpg" data-echo="img/standing-desk-evodesk-storage.jpg" width="1059" height="801" alt="adjustable height evodesk"/></div>
  <div class="wrapper-container">
    <!-- wrapper container section-->
    <div class="keepItRealContent">
      <h2>Storage Made easy</h2>
      <h3>Increased <span>Storage Capacity</span></h3>
      <p>Sometimes more is more, and you just need every square inch of your desktop. The Pod, Pod Plus and Highrise let you move your monitor and speakers off your desktop, and store your other critical tools under your desktop, giving you a clean surface to get right down to it.</p><a class="text-link" href="/standing-desk-storage">Learn More ›</a>
    </div>
  </div>
</section>