
<section id="lavish">
  <div class="wrapper-container">
    <div class="rw-words full75 center-all relative z-front" id="quotes-rotator">
      <div class="text-center">
        <h3>"There are several manufacturers that make standing desks, but I chose this one<b>-- it’s the Lamborghini of standing desks -- super sleek.</b>"</h3><img src="http://www.evodesk.com/img/entreprenuer-quote-logo.png" alt="entreprenuer logo"/>
      </div>
      <div class="text-center">
        <h3>"@JoeKaiserSports @cfrelund Bought a stand/sit desk from @evodesk and <b>it changed my world. Changed.My.World.</b>"</h3>
        <h4 class="twitter-post"><i class="fa fa-twitter"></i> @Socrdave</h4>
      </div>
      <div class="text-center">
        <h3><b>Score of 90/100:</b> "Adjustable, stable, and smooth, the EvoDesk is a potent and well designed sit/stand gaming desk…”</h3><img src="http://www.evodesk.com/img/pc-gamer-logo.png" alt="pc gamer logo"/>
      </div>
      <div class="text-center">
        <h3>"<b>Gotta say that my initial impression of our new @evodesk's is outstanding.</b> Fast adjustment, great finish, quick shipping."</h3>
        <h4 class="twitter-post"><i class="fa fa-twitter"></i> @Risar_</h4>
      </div>
      <div class="text-center">
        <h3>"<b>Amazing details ! Great product and customer service!</b> Highly recommend @evodesk #evodesk thanks! #happy #geek "</h3>
        <h4 class="twitter-post"><i class="fa fa-twitter"></i> @pamirrimap</h4>
      </div>
    </div>
    <div class="row clearfix" id="featured-in">
      <div class="col-xs-12 text-center" id="also">
        <h3>Also Featured in</h3>
      </div>
      <div class="col-xs-6 col-sm-3"><img class="img-responsive" src="http://www.evodesk.com/img/forbes-logo.png" alt="forbes logo"/></div>
      <div class="col-xs-6 col-sm-3"><img class="img-responsive" src="http://www.evodesk.com/img/digital-trends-logo.png" alt="Digital Trends logo"/></div>
      <div class="col-xs-6 col-sm-3"><img class="img-responsive" src="http://www.evodesk.com/img/cult-of-mac-logo.png" alt="cult of mac logo"/></div>
      <div class="col-xs-6 col-sm-3"><img class="img-responsive" src="http://www.evodesk.com/img/examiner-logo.png" alt="examiner logo"/></div>
    </div>
    <div class="row" id="more">
      <div class="col-xs-12 text-center"><a class="text-link" href="reviews">Read More ›</a></div>
    </div>
  </div>
</section>