doctype html
html
	head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WV9HWZH');
		// End Google Tag Manager
		link(rel='dns-prefetch', href='http://www.evodesk.com')
		link(rel='dns-prefetch', href='http://d17bplqo9q3lum.cloudfront.net')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Compare standing desks | Evodesk
		meta(name='description', content='Evodesk represents an entirely new look at the standing desk. It heralds the future of the desk and you can be there at the start.')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/navbar-styles.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='../js/nav.js')
		script(src='../js/plugins.js')
		meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
		style(type='text/css').
			.fa-check-circle { color:#00bbde; font-size:40px;}
			.fa-times-circle-o { color:#999; font-size:40px;}
			#compareNav {color: #00bbde;
			box-shadow: inset 0 4px 0 #00bbde;}
			#product-header { display:none;}
			@media all and (max-width: 900px) {
			#compare-nav  {color: #00bbde !important;border-top: none;}
			}
	body
		#max-wrapper
			include navbar
			main.cd-main-content
				// #EndLibraryItem
				section#banner-compare
					.wrapper-container
						.keepItRealContent
							h2 Compare Evodesk
							h3 Innovation
							p
								| Evodesk didn’t invent the standing desk. We did make the most feature-packed desk in its class. And we made it affordable. Evolution at its best. See how Evodesk stacks up.
						img#compare-banner-image.absolute.z-back.animated.fadeIn(src='http://www.evodesk.com/img/evodesk-compare.png', width='1071', height='631', alt='evodesk compare')
				section#compare-body
					.wrapper-container
						table#compare-table-header.responsive
							tr
								td.table-title
									h1
										span Compare
										|  Standing Desks
								td.logo-column
									img(src='http://www.evodesk.com/img/evodesk-logo-white.png', width='260', height='39', alt='evodesk logo white')
								td.other-column The Other Guys
						table#compare-table.responsive
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#expandable-frame')
										| Expandable Frame 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Weight capacity
								td.product-column 355 lbs
								td.product-column 154 lb
							tr
								td.table-feature Speed
								td.product-column 1.5 inches per second
								td.product-column 1 inch per second
							tr
								td.table-feature Maximum Height
								td.product-column 49.5”
								td.product-column 47”
							tr
								td.table-feature Desktop Composition
								td.product-column Recycled Composite Wood
								td.product-column Particleboard
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#recycled-wood')
										| 100% recycled wood desktop 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Plastic-Free Desktop
								td.product-column
									i.fa.fa-check-circle
								td.product-column Plastic laminate standard
							tr
								td.table-feature Comfort Edges & Radius Corners
								td.product-column
									i.fa.fa-check-circle
								td.product-column Sharp laminated edges & corners
							tr
								td.table-feature Environmentally Friendly Solvent-Free Metal  Finish 
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Easy start/soft stop
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Predrilled Desktops
								td.product-column
									i.fa.fa-check-circle
								td.product-column Varies
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#posi-loc')
										| Posi-Loc™ Steel Deskop Inserts 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Zero Solvent Based Paints
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Decibel level during movement
								td.product-column 45 db
								td.product-column 52 db
							tr
								td.table-feature Assembly Time
								td.product-column Yes, 15 min or less assembly
								td.product-column No, 1 hour assembly
							tr
								td.table-feature Desktop Made In USA
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Fingerprint Resistant Desktop
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#oversized-grommet')
										| Oversized 3” x 6” Grommet 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#controller')
										| Programmable Controller 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column Varies
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#keyboard-platform')
										| Matching Ergo Keyboard Platform 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#cable-tray')
										| Cable Management Tray 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Braided Expandable Sleeving
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#ergopro')
										| Ergonomic Edge 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
				
				include footer