doctype html
html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    // End Google Tag Manager
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    link(rel='dns-prefetch', href='http://d17bplqo9q3lum.cloudfront.net')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Contact Us | Evodesk
    meta(name='description', content='We strive to provide great customer service. For product inquiries and customer support, here are all the ways you can contact Evodesk.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    link(rel='stylesheet', href='../css/formstack.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    style.
      section > .standard h2 {
      letter-spacing: .05em;}
      #contact-nav {color: #00bbde !important}
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/contact')
  body#contact-page
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      include navbar
      main.cd-main-content
        section#banner-contact
            #banner-text
              h3 Contact EvoDesk
              p
                | If you would like more information on EvoDesk or would simply like to ask a question, please complete the form below. You may also contact us by telephone at the toll-free number below.
        section#contact-us
          .wrapper-container
            #form.full75.float-left.title-h2
              .tabBox(style='width: 100%;')
                .tabs
                  #div1.tab-click.clearfix(style='margin-left:0; cursor:pointer;')
                    i.fa.fa-user
                    .tab-text-wrapper
                      h2
                        em Sales
                      ul
                        li Purchase Evodesk
                        li Change your order
                        li General sales questions
                      a.button.small(href='javascript:void(0)', data-href='#tab1', style='display:inline-block; margin-top:15px;') Contact Now
                  #div2.tab-click.clearfix(style='margin-left:3%; margin-right:0; cursor:pointer; ')
                    i.fa.fa-users
                    .tab-text-wrapper
                      h2
                        em Customer
                        |  Care
                      ul
                        li Check order status
                        li Technical support
                        li Customer feedback
                      a.button.small(href='javascript:void(0)', data-href='#tab2', style='display:inline-block; margin-top:15px;') Contact Now
                  #div3.tab-click.clearfix(style='margin-left:3%; margin-right:0; cursor:pointer;')
                    i.fa.fa-info-circle
                    .tab-text-wrapper
                      h2
                        em Other
                        |  Contact
                      ul
                        li Media Inquiries
                        li Employment Opps
                        li Partner Inquiries
                      a.button.small(href='javascript:void(0)', data-href='#tab3', style='display:inline-block; margin-top:15px;') Contact Now
                .tabContainer.none(style='min-height:0;')
                  #tab1.tabContent
                    h2(style='text-align:center;font-size: 18px; font-weight:400;') Contact Evodesk Sales
                    form#fsForm1875238.fsForm.fsSingleColumn.fsMaxCol1(method='post', novalidate='', enctype='multipart/form-data', action='https://www.formstack.com/forms/index.php')
                      input(type='hidden', name='form', value='1875238')
                      input(type='hidden', name='viewkey', value='02ejZeF02p')
                      input#hidden_fields1875238(type='hidden', name='hidden_fields', value='')
                      input(type='hidden', name='_submit', value='1')
                      input#incomplete1875238(type='hidden', name='incomplete', value='')
                      input(type='hidden', name='style_version', value='3')
                      #requiredFieldsError(role='alert', style='display:none;') Please fill in a valid value for all required fields
                      #invalidFormatError(role='alert', style='display:none;') Please ensure all values are in a proper format.
                      #resumeConfirm(role='alert', style='display:none;') Are you sure you want to leave this form and resume later?
                      #fileTypeAlert(role='alert', style='display:none;') You must upload one of the following file types for the selected field:
                      #embedError(role='alert', style='display:none;')
                        | There was an error displaying the form. Please copy and paste the embed code again.
                      #applyDiscountButton(role='alert', style='display:none;') Apply Discount
                      #dcmYouSaved(role='alert', style='display:none;') You saved
                      #dcmWithCode(role='alert', style='display:none;') with code
                      #submitButtonText(role='alert', style='display:none;') Submit Form
                      #submittingText(role='alert', style='display:none;') Submitting
                      input#field28742628-first.input50.float-left(type='text', name='field28742628-first', placeholder='First Name*', size='20', value='')
                      input#field28742628-last.input50.float-right(type='text', name='field28742628-last', placeholder='Last Name*', size='20', value='')
                      input#field28770465.input50.float-left(type='text', name='field28770465', size='50', value='', placeholder='Company Name')
                      input#field28742631.input50.float-right(type='tel', name='field28742631', size='20', placeholder='Phone Number*', value='')
                      input#field28742629.input50.float-left(type='email', name='field28742629', placeholder='Email Address*', size='50', value='')
                      input#field28742629_confirm.input50.float-right(type='email', name='field28742629_confirm', placeholder='Confirm Email Address*', size='50')
                      select#field28742630.input50.float-left(name='field28742630', size='1', style='margin-bottom: 15px;')
                        option(value='Preferred Contact Method...') Preferred Contact Method*...
                        option(value='Phone') Phone
                        option(value='Email') Email
                        option(value='Either') Either
                      select#field28770467.input50.float-right(name='field28770467', size='1', required='', aria-required='true', style='margin-bottom: 15px;')
                        option(value='') Topic*
                        option(value='General Sales Question') General Sales Question
                        option(value='Other') Other
                      textarea#field28742632(name='field28742632', placeholder='Dear Evodesk...', rows='3', cols='50', style='width: 97%;')
                      input.button.medium(style='display:block;', type='submit', value='Submit Inquiry')
                      .clear
                  #tab2.tabContent
                    h2(style='text-align:center;font-size: 18px; font-weight:400;') Contact for Customer Support
                    form#fsForm1876255.fsForm.fsSingleColumn.fsMaxCol1(method='post', novalidate='', enctype='multipart/form-data', action='https://www.formstack.com/forms/index.php')
                      input(type='hidden', name='form', value='1876255')
                      input(type='hidden', name='viewkey', value='02ejZeF02p')
                      input#hidden_fields1876255(type='hidden', name='hidden_fields', value='')
                      input(type='hidden', name='_submit', value='1')
                      input#incomplete1876255(type='hidden', name='incomplete', value='')
                      input(type='hidden', name='style_version', value='3')
                      #requiredFieldsError(role='alert', style='display:none;') Please fill in a valid value for all required fields
                      #invalidFormatError(role='alert', style='display:none;') Please ensure all values are in a proper format.
                      #resumeConfirm(role='alert', style='display:none;') Are you sure you want to leave this form and resume later?
                      #fileTypeAlert(role='alert', style='display:none;') You must upload one of the following file types for the selected field:
                      #embedError(role='alert', style='display:none;')
                        | There was an error displaying the form. Please copy and paste the embed code again.
                      #applyDiscountButton(role='alert', style='display:none;') Apply Discount
                      #dcmYouSaved(role='alert', style='display:none;') You saved
                      #dcmWithCode(role='alert', style='display:none;') with code
                      #submitButtonText(role='alert', style='display:none;') Submit Form
                      #submittingText(role='alert', style='display:none;') Submitting
                      input#field28771435-first.input50.float-left(type='text', name='field28771435-first', placeholder='First Name*', size='20', value='')
                      input#field28771435-last.input50.float-right(type='text', name='field28771435-last', placeholder='Last Name*', size='20', value='')
                      input#field28771437.input50.float-left(type='text', name='field28771437', size='50', value='', placeholder='Company Name')
                      input#field28771439.input50.float-right(type='tel', name='field28771439', size='20', placeholder='Phone Number', value='')
                      input#field28771436.input50.float-left(type='email', name='field28771436', placeholder='Email Address*', size='50', value='')
                      input#field28771436_confirm.input50.float-right(type='email', name='field28771436_confirm', placeholder='Confirm Email Address*', size='50')
                      select#field28771438.input50.float-left(name='field28771438', size='1', style='margin-bottom: 15px;')
                        option(value='Preferred Contact Method...') Preferred Contact Method...
                        option(value='Phone') Phone
                        option(value='Email') Email
                        option(value='Either') Either
                      select#field28771440.input50.float-right(name='field28771440', size='1', required='', aria-required='true', style='margin-bottom: 15px;')
                        option(value='') Topic*
                        option(value='Check Shipping Status of My Order') Check Shipping Status of My Order
                        option(value='Technical Question About My Desk') Technical Question About My Desk
                        option(value='Change My Existing Order') Change My Existing Order
                        option(value='Warranty Claim') Warranty Claim
                        option(value='Other') Other
                      input#field28771525(type='text', name='field28771525', size='50', value='', placeholder='Order Number*', style='width: 97%;')
                      textarea#field28771441(name='field28771441', placeholder='Dear Evodesk...', rows='3', cols='50', style='width: 97%;')
                      input.button.medium(style='display:block;', type='submit', value='Submit Inquiry')
                      .clear
                  #tab3.tabContent
                    h2(style='text-align:center;font-size: 18px; font-weight:400;') Contact for General Inquiries
                    form#fsForm1876276.fsForm.fsSingleColumn.fsMaxCol1(method='post', novalidate='', enctype='multipart/form-data', action='https://www.formstack.com/forms/index.php')
                      input(type='hidden', name='form', value='1876276')
                      input(type='hidden', name='viewkey', value='02ejZeF02p')
                      input#hidden_fields1876276(type='hidden', name='hidden_fields', value='')
                      input(type='hidden', name='_submit', value='1')
                      input#incomplete1876276(type='hidden', name='incomplete', value='')
                      input(type='hidden', name='style_version', value='3')
                      #requiredFieldsError(role='alert', style='display:none;') Please fill in a valid value for all required fields
                      #invalidFormatError(role='alert', style='display:none;') Please ensure all values are in a proper format.
                      #resumeConfirm(role='alert', style='display:none;') Are you sure you want to leave this form and resume later?
                      #fileTypeAlert(role='alert', style='display:none;') You must upload one of the following file types for the selected field:
                      #embedError(role='alert', style='display:none;')
                        | There was an error displaying the form. Please copy and paste the embed code again.
                      #applyDiscountButton(role='alert', style='display:none;') Apply Discount
                      #dcmYouSaved(role='alert', style='display:none;') You saved
                      #dcmWithCode(role='alert', style='display:none;') with code
                      #submitButtonText(role='alert', style='display:none;') Submit Form
                      #submittingText(role='alert', style='display:none;') Submitting
                      input#field28771793-first.input50.float-left(type='text', name='field28771793-first', placeholder='First Name*', size='20', value='')
                      input#field28771793-last.input50.float-right(type='text', name='field28771793-last', placeholder='Last Name*', size='20', value='')
                      input#field28771795.input50.float-left(type='text', name='field28771795', size='50', value='', placeholder='Company Name')
                      input#field28771797.input50.float-right(type='tel', name='field28771797', size='20', placeholder='Phone Number*', value='')
                      input#field28771794.input50.float-left(type='email', name='field28771794', placeholder='Email Address*', size='50', value='')
                      input#field28771794_confirm.input50.float-right(type='email', name='field28771794_confirm', placeholder='Confirm Email Address*', size='50')
                      select#field28771796.input50.float-left(name='field28771796', size='1', style='margin-bottom: 15px;')
                        option(value='Preferred Contact Method...') Preferred Contact Method*...
                        option(value='Phone') Phone
                        option(value='Email') Email
                        option(value='Either') Either
                      select#field28771798.input50.float-right(name='field28771798', size='1', required='', aria-required='true', style='margin-bottom: 15px;')
                        option(value='') Topic*
                        option(value='Job Inquiry') Job Inquiry
                        option(value='Press Inquiry') Press Inquiry
                        option(value='Other') Other
                      textarea#field28771799(name='field28771799', placeholder='Dear Evodesk...', rows='3', cols='50', style='width: 97%;')
                      input.button.medium(style='display:block;', type='submit', value='Submit Inquiry')
                      .clear
            #contact-info.full25.float-right
              h3 Email:
              ul
                li
                  | Sales:
                  script(language='JavaScript').
                    var username = "sales";
                    var hostname = "evodesk.com";
                    var linktext = username + "@" + hostname ;
                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                li
                  | Support:
                  script(language='JavaScript').
                    var username = "support";
                    var hostname = "evodesk.com";
                    var linktext = username + "@" + hostname ;
                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                li
                  | Dealer:
                  script(language='JavaScript').
                    var username = "dealers";
                    var hostname = "evodesk.com";
                    var linktext = username + "@" + hostname ;
                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
              h3 Main Office:
              ul
                li Evodesk
                li 2251 Piccadilly Drive
                li Suite C340
                li Austin, TX 78660
              h3 Toll-Free Telephone:
              ul
                li (888) 615-5721
        //
          <section id="finance" class="inset-shadow overflow-hidden">
          <div class="wrapper clearfix relative">
          <div class="full55 float-left">
          <h2>Special Offer</h2>
          <h3>Evolve Today.<br> <span>Pay Later.</span></h3>
          <p>With PayPal&reg; BillMeLater&reg; you can bring home EvoDesk today with special financing offers.</p>
          <a href="#" class="button medium">Apply Now &rsaquo;</a>
          </div>
          </div>
          <img src="http://d17bplqo9q3lum.cloudfront.net/img/evodesk-finance.jpg" width="664" height="373" alt="Evodesk Standing Desk Financing" id="finance-image">
          </section>
        // #BeginLibraryItem "/Library/footer.lbi"
        include footer
        script(type='text/javascript').
          $(".tabContent").hide();
          $("div.tabs div").click(function () {
          $("div.tabs div").removeClass("active");
          $(this).addClass("active");
          $(".tabContent").hide();
          var activeTab = $(this).find("a").attr("data-href");
          $(activeTab).fadeIn('slow',function(){
          $('html,body').animate({
          scrollTop: $(activeTab).offset().top-100},
          'slow');
          });
          return false;
          });
        script(type='text/javascript').
          $("div.tabs div").click(function () {
          $("div.tabContainer").removeClass("none");
          });
        script(type='text/javascript').
          $(".myBox").click(function(){
          window.location=$(this).find("a").attr("href");
          return false;
          });