doctype html
html
	head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WV9HWZH');
		// End Google Tag Manager
		link(rel='dns-prefetch', href='http://www.evodesk.com')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title DeskShields by Evodesk | Evodesk
		meta(name='description', content='Choose from hundreds of high-definition graphic designs, from rare woods to tranquil ocean scenes to family portraits. Acting as a durable second skin to your desktop.')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/navbar-styles.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='../js/nav.js')
		script(src='../js/plugins.js')
		meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js")
		script(src="../js/jsshowoff.min.js")
		style(type='text/css').
			#productNav {    color: #00bbde;
			box-shadow: inset 0 4px 0 #00bbde;}
			@media (min-width: 1300px) {
			#banner { background-position: center 90px;}
			}
			@media all and (max-width: 1000px) {
			#productNav {color: #00bbde !important;}
			}
		// Canonical Link
		link(rel='canonical', href='http://www.evodesk.com/deskshields')
	body#deskshields
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				section#banner-deskshields
					.wrapper-container
						img#deskshields-banner(src='http://www.evodesk.com/img/deskshield-banner.png', alt='Evodesk Deskshields')
						.keepItRealContent.animated.fadeIn
								svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 810 100', style='enable-background:new 0 0 810 100;', xml:space='preserve')
									style(type='text/css').
										.st69{fill:#FFFFFF;}
									path.st69(d='M150.9,26.3h-36.1v43.9h36.1c15.7,0,21.1-7.5,21.1-22S166.6,26.3,150.9,26.3z M150.9,61.2H124v-26h26.9\
									c10.5,0,11.8,4.6,11.8,13S161.4,61.2,150.9,61.2z')
									path.st69(d='M178.6,48.2c0,14.5,5.5,22,21.2,22h34.8v-8.8h-34.8c-8.6,0-11.2-3.2-11.8-9.1h45.9v-8.2H188\
									c0.6-5.8,3.2-9.1,11.8-9.1h34.8v-8.7h-34.8C184,26.3,178.6,33.8,178.6,48.2z')
									path.st69(d='M284.6,44.5l-20.2-1.6c-7.2-0.6-8.9-1.9-8.9-4.3c0-3,2.4-4.1,6.7-4.1h36.6v-8.2h-35.7\
									c-9.1,0-16.9,3.3-16.9,12.6c0,8.1,5.9,11.6,15.8,12.4l21.3,1.7c6.3,0.5,8.9,2,8.9,4.9c0,2.4-1.7,4.1-7.1,4.1H246v8.2h38.5\
									c12.4,0,17.2-5.3,17.2-12.7C301.6,48.6,294.9,45.4,284.6,44.5z')
									path.st69(d='M344.8,47.6c3-1.3,5.1-3.4,6.7-5.4l13.7-15.9H353l-9.4,12.1c-1.3,1.6-5.3,5.4-9.3,5.4h-13.8V26.3h-9.2v43.9h9.2\
									V51.9h13.3c5,0,9.5,3.8,10.7,5.5l9.6,12.8h12.3l-13.7-16.9C350.8,51.1,348.4,48.8,344.8,47.6z')
									path.st69(d='M410.4,44.5l-20.2-1.6c-7.2-0.6-8.9-1.9-8.9-4.3c0-3,2.4-4.1,6.7-4.1h36.6v-8.2h-35.7\
									c-9.1,0-16.9,3.3-16.9,12.6c0,8.1,5.9,11.6,15.8,12.4l21.3,1.7c6.3,0.5,8.9,2,8.9,4.9c0,2.4-1.7,4.1-7.1,4.1h-39.1v8.2h38.5\
									c12.4,0,17.2-5.3,17.2-12.7C427.4,48.6,420.7,45.4,410.4,44.5z')
									polygon.st69(points='483.2,44.1 446.4,44.1 446.4,26.3 437.2,26.3 437.2,70.2 446.4,70.2 446.4,52.3 483.2,52.3 483.2,70.2\
									492.4,70.2 492.4,26.3 483.2,26.3 ')
									rect.st69(x='504.9', y='26.3', width='9.2', height='43.9')
									path.st69(d='M524.7,48.2c0,14.5,5.5,22,21.2,22h34.8v-8.8h-34.8c-8.6,0-11.2-3.2-11.8-9.1h45.9v-8.2h-45.9\
									c0.6-5.8,3.2-9.1,11.8-9.1h34.8v-8.7h-34.8C530.1,26.3,524.7,33.8,524.7,48.2z')
									path.st69(d='M601.1,52V26.3h-9.2V52c0,13.2,6.7,18.2,21.2,18.2h29.3v-9h-29.3C603.9,61.2,601.1,59.2,601.1,52z')
									path.st69(d='M689.1,26.3H653v43.9h36.1c15.7,0,21.1-7.5,21.1-22S704.8,26.3,689.1,26.3z M689.1,61.2h-26.9v-26h26.9\
									c10.5,0,11.8,4.6,11.8,13S699.5,61.2,689.1,61.2z')
									path.st69(d='M758.5,44.5l-20.2-1.6c-7.2-0.6-8.9-1.9-8.9-4.3c0-3,2.4-4.1,6.7-4.1h36.6v-8.2H737c-9.1,0-16.9,3.3-16.9,12.6\
									c0,8.1,5.9,11.6,15.8,12.4l21.3,1.7c6.3,0.5,8.9,2,8.9,4.9c0,2.4-1.7,4.1-7.1,4.1h-39.1v8.2h38.5c12.4,0,17.2-5.3,17.2-12.7\
									C775.5,48.6,768.8,45.4,758.5,44.5z')
									polygon.st69(points='807.8,26.3 800.8,34.6 793.7,26.3 792.5,26.3 792.5,38.6 793.5,38.6 793.5,27.7 800.3,35.8 801.1,35.8\
									807.9,27.7 807.9,38.6 809,38.6 809,26.3 ')
									polygon.st69(points='775.5,27.3 782.1,27.3 782.1,38.6 783.2,38.6 783.2,27.3 789.8,27.3 789.8,26.3 775.5,26.3 ')
									path.st69(d='M4.2,52.3c0,7.7,3.9,15,10.4,19.2L44.4,91l29.3-19.5c6.4-4.3,10.2-11.4,10.2-19.1V11.3H4.2V52.3z M44.4,16.1H79\
									v36.3c0,6.1-3,11.7-8.1,15.1L44.4,85.2V16.1z')
								h3 Protect. Express. Impress.
								h1 Desktop Surface Protector & Designer Skins
								p.btn-below
									| Protect your Evodesk desktop with clear or designer DeskShields. Hundreds of design choices are available. Add this “second skin” to your Evodesk for an extra layer of protection from our .006-inch thick premium grade vinyl against dings, scratches, and water damage.
								a.button.medium(href='/store') Shop Now
								a.text-link(href='#overview') Learn More ›
				section#deskshield-types
					.wrapper-container
						.keepItRealContent
								h2 Choose Your Level of Protection
								p DeskShield Types and Comparisons
				section#clear-protector
					.wrapper-container
							img(src='http://www.evodesk.com/img/clear-desk-shield-surface-protector-desktop.jpg', alt='Clear Desktop Surface Protector')
							.keepItRealContent

								h3 DeskShield Clear Protector
								p
									| The TopShield Clear Protector was designed to add an extra layer of protection to our sustainable bamboo and rubberwood desktops while adding a “wet-polish” like finish. Precision cut from 6-mil automotive-grade vinyl, the TopShield will defend against even the most brutal workload abuse, from scratches, dings, and even water damage. Easy to install and remove for replacement when worn, the TopShield Clear Protector will keep your desktop surface like new, shielded around the clock.
				section#topshield
					.wrapper-container
							img(src='http://www.evodesk.com/img/topshield-designer-skins.jpg', alt='topshield designer skins evodesk')
							.keepItRealContent
								h3 DeskShield Designer Skins
								p
									| Protect your desktop with a beautiful, high-resolution design. Choose from hundreds of design options to make your Evodesk uniquely yours. Printed on premium-grade automotive cast vinyl at an incredible 1440 DPI resolution and CNC cut to .5mm tolerance. Plus, alignment and installation are simplified by air-channel adhesives that minimize bubble and imperfection.
				section#whiteboard
					img(src='http://www.evodesk.com/img/whiteboard-deskshield.jpg', alt='white board desk shield')
					.wrapper-container
							#overlayInnerDiv
								h3 NEW WHITEBOARD
								h3.color-h3 WRITEABLE, ERASABLE DESKTOP
								p
									| It’s time to put the fun in functional. The new whiteboard writeable and erasable DeskShield turns a standard desktop into an extraordinary dry erase finish and transforms a once forgotten space into a new creative space. Your entire desktop is now the perfect place to leave notes to yourself, experiment with new designs, or just doodle aimlessly –  it's all up to you. The whiteboard DeskShield is writable, erasable, and always functional. (Avery or Expo dry-erase markers recommended)
				section#lavish1
					.wrapper-container
						#quotes-rotator
							.text-center
								h3
									| “No need for photo frames when your entire desktop is covered by the latest family picture.”
								img(src='http://www.evodesk.com/img/chipchick-logo.png', alt='chipchick logo')
							.text-center
								h3 “DeskShields make standing desks both functional and decorative.”
								img(src='http://www.evodesk.com/img/digital-trends-logo.png', alt='Digital Trends logo')
							.text-center
								h3
									| “It was only a matter of time. After years of being able to customize your phone and computer casing with personalized skins, you can now do the same with your office desk.”
								img(src='http://www.evodesk.com/img/forbes-logo.png', alt='forbes logo')
							.text-center
								h3 “[This] new product allows us to gussy up our desks.”
								img(src='http://www.evodesk.com/img/mentalfloss-logo.png', alt='mental floss logo')
							.text-center
								h3
									| “[DeskShields are] a durable second skin that envelops the desk with a wide selection of photos and patterns to keep creatives happy and productive.”
								img(src='http://www.evodesk.com/img/tech.co-logo.png', alt='tech.co logo')
						#featured-in.row.clearfix
							#also.col-xs-12.text-center
								h3 Also Featured in
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/forbes-logo.png', alt='forbes logo')
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/digital-trends-logo.png', alt='Digital Trends logo')
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/cult-of-mac-logo.png', alt='cult of mac logo')
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/examiner-logo.png', alt='examiner logo')
						#more.row
							.col-xs-12.text-center
								a.text-link(href='reviews') Read More ›
				section#deskshield-features
					.wrapper-container
						h2.title
							| DeskShield™ 
							span Features
						#deskshield-type
							.deskshield-type
								svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', style='enable-background:new 0 0 100 100;', xml:space='preserve')
									path.st55(d='M10.1,10.1v34.6v6.4c0,7.7,3.9,15,10.4,19.2l29.8,19.5l29.3-19.5c6.4-4.3,10.2-11.4,10.2-19.1v-6.5V10.1H10.1z\
									M82.9,51.2c0,5.3-2.7,10.3-7.1,13.3l-25.5,17l-25.9-17c-4.5-3-7.2-7.9-7.2-13.3v-5c9.4,1.8,25.8,4.6,32.9,4.6s23.4-2.9,32.9-4.6\
									V51.2z')
								h2
									| Top
									span Shield™
								p
									| The DeskShield TopShield™ is a .005-inch thick premium grade vinyl professionally printed and perfectly cut to fit the top of your desk with a .25MM tolerance.
								ul.list-unstyled
									li
										i.fa.fa-check(aria-hidden='true')
										|  .005-inch thick premium grade vinyl
									li
										i.fa.fa-check(aria-hidden='true')
										|  Protective laminate coating
									li
										i.fa.fa-check(aria-hidden='true')
										|  Desktop surface coverage
									li
										i.fa.fa-check(aria-hidden='true')
										|  Natural desk edge exposed
									li.text-nowrap
										i.fa.fa-check(aria-hidden='true')
										|  Easy, in-home application 
										span (factory application also available)
									li
										i.fa.fa-check(aria-hidden='true')
										|  Residue-free removal
							.deskshield-type
								svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', style='enable-background:new 0 0 100 100;', xml:space='preserve')
									style(type='text/css').
										.st55{fill:#5D5D5D;}
									path.st55(d='M10.1,51.1c0,7.7,3.9,15,10.4,19.2l29.8,19.5l29.3-19.5c6.4-4.3,10.2-11.4,10.2-19.1V10.1H10.1V51.1z\
									M17.1,17.1h65.7v34.1c0,5.3-2.7,10.3-7.1,13.3l-25.5,17l-25.9-17c-4.5-3-7.2-7.9-7.2-13.3V17.1z')
								h2
									| Full
									span Shield™
								p
									| The DeskShield FullShield™ is a semi-permanent factory applied DeskShield that encapsulates your Evodesk in the design of your choice to protect both the top and sides of your desktop.
								ul.list-unstyled
									li
										i.fa.fa-check(aria-hidden='true')
										|  .005-inch thick premium grade vinyl
									li
										i.fa.fa-check(aria-hidden='true')
										|  Protective laminate coating
									li
										i.fa.fa-check(aria-hidden='true')
										|  Full desktop and side coverage
									li
										i.fa.fa-check(aria-hidden='true')
										|  Professional factory application
									li
										i.fa.fa-check(aria-hidden='true')
										|  Semi-permanent adhesion
									li
										i.fa.fa-check(aria-hidden='true')
										|  Combined with our Sustainable Wheatboard
						
				section#skin-designs
					.wrapper-container
						.row.text-center
							h2 Choose from New Skins Added Daily or Order Custom!
						.row
							.skin-type
								img(src='http://www.evodesk.com/img/skins/uniquely-yours.jpg', alt='uniquely yours')
								.text-wrapper
									h2 Uniquely Yours
									p
										| Turn your desk into a surface like no one else’s. Rare woods that can’t be bought, splinter-free reclaimed wood, custom patterns, or family pictures. The possibilities are endless—and wouldn’t be possible without DeskShield.
							.skin-type
								img(src='http://www.evodesk.com/img/skins/go-natural.jpg', alt='go natural')
								.text-wrapper
									h2 Go Natural
									p
										| Choose from rare rainforest woods that can’t be bought, or that vintage, reclaimed wood look you love without the splinters.
						.row
							.skin-type
								img(src='http://www.evodesk.com/img/skins/team-pride.jpg', alt='Team Pride')
								.text-wrapper
									h2 Team Pride
									p
										| If you’re a true fan, there’s no such thing as too much team memorabilia. Find your favorite team in our wide selection of sports images, or create your own.
							.skin-type
								img(src='http://www.evodesk.com/img/skins/destination-desk.jpg', alt='destination desk')
								.text-wrapper
									h2 Destination: Desk
									p
										| You can’t always be at your favorite beach, city, or scene, but with a custom DeskShield, your dream trip doesn’t have to seem so far away.
						.row
							.skin-type
								img(src='http://www.evodesk.com/img/skins/nature-prints.jpg', alt='nature prints')
								.text-wrapper
									h2 Nature Prints
									p
										| Fresh flowers are always in bloom with a Nature DeskShield. Choose from tropical flowers, pineapples, garden scenes, and more that are so beautiful, you can almost smell them.
							.skin-type
								img(src='http://www.evodesk.com/img/skins/geometric-prints.jpg', alt='geometric prints')
								.text-wrapper
									h2 Geometric Patterns
									p
										| Choose a print that delivers the perfect vibe to your desk space. Our variety of colorful, calming, or energetic prints are sure to help you get in the right mindset each day.
						.row
							.skin-type
								img(src='http://www.evodesk.com/img/skins/personal-touch.jpg', alt='personal touch')
								.text-wrapper
									h2 A Personal Touch
									p
										| Showcase your most cherished memories from family portraits to unforgettable vacation experiences in rich, high-definition, and full-color imagery.
							.skin-type
								img(src='http://www.evodesk.com/img/skins/custom.jpg', alt='custom skin')
								.text-wrapper
									h2 Design Your Own!
									p
										| Customize your DeskShield with a design of your very own! Our design specialists will ensure your quality is preserved along with your desktop.
						.row.text-center
							a.button.medium(href='https://www.evodesk.com/store') Build Now ›
				include finance
				include join-our-mailing
				include footer
				script.
					var headroom,myElement;
					$(document).ready(function(){
					// grab an element
					window.myElement = document.querySelector("header");
					// construct an instance of Headroom, passing the element
					window.headroom  = new Headroom(myElement);
					// initialise
					window.headroom.init();
					});
				
				script(type='text/javascript').
					var x=document.getElementsByClassName('myBox');
					for(var i=0; i < x.length; i++)
					{
					x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
					};
					// echo.render(); is also available for non-scroll callbacks
				// LOAD FONTS
				
				script(type='text/javascript', data-cfasync='false').
					window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
					(function()
					{
					var done = false;
					var script = document.createElement('script');
					script.async = true;
					script.type = 'text/javascript';
					script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
					document.getElementsByTagName('HEAD').item(0).appendChild(script);
					script.onreadystatechange = script.onload = function (e)
					{
					if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
					{
					var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
					done = true;
					purechatApi.on('chat:operatorJoin', function (args)
					{
					$.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
					});
					purechatApi.on('email:send', function(args)
					{
					$.post("//www.spindle360.com/formstack", args);
					});
					}
					};
					})();
				// #EndLibraryItem
			
		// Max Wrapper
		script(type='text/javascript').
			// Rotator
			$('#quotes-rotator').jshowoff({
			links: false,
			controls: false,
			effect: 'fade',
			hoverPause: false ,
			changeSpeed: 600,
			autoPlay: true,
			speed: 5000
			});
