doctype html
html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    // End Google Tag Manager
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    link(rel='dns-prefetch', href='http://d17bplqo9q3lum.cloudfront.net')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Downloads | Evodesk
    meta(name='description', content='Evodesk shipping information')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    style(type='text/css').
      header { background: rgba(0,0,0,.85);}
      #difference .text-link {padding: 25px 0 0 0;}
      #difference .full75 {margin-bottom: 45px;}
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/downloads')
  body#downloads-page
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      include navbar
      // #BeginLibraryItem "/Library/header.lbi"
      
      main.cd-main-content
        // #EndLibraryItem
        section#difference
          #downloads.wrapper.standard.clearfix
            .full75.center-all
              h3
                | Evodesk  
                span Downloads
              h2 Assembly Manual, Spec Diagrams and Documentation.
            .full100.clearfix
              #manual.full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-manual.jpg', width='250', height='232', alt='Download Evodesk Manual PDF')
                h2 Evodesk Assembly Manual
                ul
                  li
                    a.text-link(href='http://www.evodesk.com/manual-v1') v1
                  li
                    a.text-link(href='http://www.evodesk.com/manual-v2') v2
                  li
                    a.text-link(href='http://www.evodesk.com/manual-v3') v3
                  li
                    a.text-link(href='http://www.evodesk.com/manual-v4') v4 (Current)
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-desktops.jpg', width='250', height='232', alt='Download Evodesk Desktops Diagram PDF')
                h2 Rectangle Desktop Diagrams
                a.text-link(href='http://www.evodesk.com/media/desktop-diagrams.pdf') Download PDF
              .full30.float-right.myBox
                img.difference-image(src='http://www.evodesk.com/img/studio-l-desktop-diagram.jpg', width='250', height='232', alt='Download Evodesk Desktops Diagram PDF')
                h2 Studio L™ Desktop Diagrams
                a.text-link(href='http://www.evodesk.com/media/studio-l-desktop-diagram.pdf') Download PDF
            .full100.clearfix
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-frame.jpg', width='250', height='232', alt='Download Evodesk Frame Diagram PDF')
                h2 Evolution™ Frame Diagram
                a.text-link(href='http://www.evodesk.com/media/frame-diagram.pdf') Download PDF
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-keyboard-assembly.jpg', width='250', height='232', alt='Download Evodesk Keyboard Platform Assembly')
                h2 Keyboard Platform Assembly
                a.text-link(href='http://www.evodesk.com/media/keyboard-platform-instructions.pdf') Download PDF
              .full30.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-keyboard-specs.jpg', width='250', height='232', alt='Download Evodesk Desktops Diagram PDF')
                h2 Keyboard Diagram
                a.text-link(href='http://www.evodesk.com/media/evo-keyboard-specs.pdf') Download PDF
            .full100.clearfix
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/controller-manual.jpg', width='250', height='232', alt='Download Evodesk Controller Manual')
                h2 Programmable Controller Manual
                a.text-link(href='http://www.evodesk.com/media/controller-manual.pdf') Download PDF
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/evotech-single-specs-pdf.jpg', width='250', height='232', alt='Download EvoTech Single Monitor Arm Specs')
                h2 EvoTech™ Single Monitor Arm Specs
                a.text-link(href='http://www.evodesk.com/media/evotech-single-monitor-arm-diagram.pdf') Download PDF
              .full30.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/ergo-single-specs-pdf.jpg', width='250', height='232', alt='Download Ergo Single Monitor Arm Specs PDF')
                h2 Ergo Single Monitor Arm Specs
                a.text-link(href='http://www.evodesk.com/media/ergo-single-monitor-arm-diagram.pdf') Download PDF
            .full100.clearfix
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/ergo-double-specs-pdf.jpg', width='250', height='232', alt='Download Ergo Double Monitor Arm Specs')
                h2 Ergo Double Monitor Arm Specs
                a.text-link(href='http://www.evodesk.com/media/ergo-double-monitor-arm-diagram.pdf') Download PDF
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-harman-kardon.jpg', width='250', height='232', alt='Download EvoTech Single Monitor Arm Specs')
                h2 Harman Kardon® Subwoofer Mount Assembly
                a.text-link(href='http://www.evodesk.com/media/harman-kardon-assembly.pdf') Download PDF
              .full30.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-harman-kardon-cable-management.jpg', width='250', height='232', alt='Download Ergo Single Monitor Arm Specs PDF')
                h2 Harman Kardon® + Cable Management Riser Assembly
                a.text-link(href='http://www.evodesk.com/media/hk-cable-management-sub-assembly.pdf') Download PDF
            .full100.clearfix
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-evotech-single.jpg', width='250', height='232', alt='Download Ergo Double Monitor Arm Specs')
                h2 EvoTech Single Monitor Arm Assembly
                a.text-link(href='http://www.evodesk.com/media/evotech-single.pdf') Download PDF
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-ergo-single.jpg', width='250', height='232', alt='Download EvoTech Single Monitor Arm Specs')
                h2 Ergo Single Monitor Arm Assembly
                a.text-link(href='http://www.evodesk.com/media/ergo-single-monitor-arm.pdf') Download PDF
              .full30.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-ergo-double.jpg', width='250', height='232', alt='Download Ergo Single Monitor Arm Specs PDF')
                h2 Ergo Double Monitor Arm Assembly
                a.text-link(href='http://www.evodesk.com/media/ergo-double-monitor-arm.pdf') Download PDF
            .full100.clearfix
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-cpu-mount-assembly.jpg', width='250', height='232', alt='Download Ergo Double Monitor Arm Specs')
                h2 CPU Mounting Assembly
                a.text-link(href='http://www.evodesk.com/media/evodesk-cpu-assembly.pdf') Download PDF
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-cable-management.jpg', width='250', height='232', alt='Download Cable Management Diagram PDF')
                h2 Cable Management Diagrams
                a.text-link(href='http://www.evodesk.com/media/cable-management-diagrams.pdf') Download PDF
              .full30.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/pdf-cable-management.jpg', width='250', height='232', alt='Download Cable management installation pdf')
                h2 Cable Management Installation
                a.text-link(href='http://www.evodesk.com/media/cable-management-installation.pdf') Download PDF
            .full100.clearfix
              .full30.float-left.margin5-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/Freeport-EVO-manual-icon.png', width='250', height='232', alt='Download Cable management installation pdf')
                h2 FREEPORT POWER DOCK USER MANUAL
                a.text-link(href='http://www.evodesk.com/media/Freeport-user-manual.pdf') Download PDF
        include finance
        include join-our-mailing
        include footer
        script(type='text/javascript').
          var x=document.getElementsByClassName('clickDiv');
          for(var i=0; i < x.length; i++)
          {
          x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
          };
