doctype html
html
	head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WV9HWZH');
		// End Google Tag Manager
		link(rel='dns-prefetch', href='http://www.evodesk.com')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Evodesk Pro
		meta(name='description', content='The Evodesk Pro is paired with a more sturdy four column frame that hoists 500 pounds 50 inches into the air with ease')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/navbar-styles.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='../js/nav.js')
		script(src='../js/plugins.js')
		meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
		style(type='text/css').
			#productNav { color: #00bbde;
			box-shadow: inset 0 4px 0 #00bbde;
			}
			@media (min-width: 1300px) {
			#banner { background-position: center 90px;}
			}
			@media all and (max-width: 1000px) {
			#productNav {color: #00bbde !important;}
			}
		// Canonical Link
		link(rel='canonical', href='http://www.evodesk.com/evodesk-pro')
	body#evodesk-pro-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				section#banner-evo-pro
					.wrapper-container
							img.product(src='../img/evodesk-pro.png', alt='Evodesk Pro Standing Desk')

							.keepItRealContent
								h3
									| The Power
									br
									|  of Four
								h1 Introducing the Evodesk Pro™ 
								p.btn-below
									| The Evodesk Pro provides a glimpse into the future of the standing desk: equal parts engineering and aesthetics. A combination its competitors can’t match. The Pro comes with the same top choices, and is paired with a more sturdy four column frame that hoists 500 pounds 50 inches into the air with ease. Not that you would need to do that, but you can.
								a.button.medium(href='/store/evodesk-pro') Shop Now
				section#overview
					img(src='../img/evodesk-pro-power-stability.jpg', alt='More Power More Stability')
					.wrapper-container
							.keepItRealContent
								h3 Setting The Precedent
								p
									| Evodesk Pro leads from the front of the pack. From any angle, the Pro shows its true colors: Power, stability, efficiency. The Evodesk Pro delivers on all three promises. Superior design, engineering, and manufacturing produce a quantum leap toward the future of adjustable height desks.
								a.button.medium(href='/store/evodesk-pro') Shop Now
				section#start-front
					.wrapper-container
							.keepItRealContent
								h3 Elegantly Adept
								p
									| With a frame built for heavier duty than the standard Evodesk adjustable height desk, the Pro can handle whatever you decide to do with it – design, office work, gaming, household tasks, even paying the bills on the weekend – it's elegantly adept no matter where it sits.  Four microprocessor-controlled leg columns arranged in unique 45-degree geometry offer a visual cue of increased potential.
								h3 Pushing Limits
								p
									| Evodesk Pro has a striking new appearance with undeniable strength. Four powerful columns deliver robust performance every time. After all, when it comes to lifting your most prized possessions, confidence is king. Additionally, Pro is loaded with all of the features you’ve come to expect from Evodesk, making it truly future proof—the only desk you’ll ever need.
					.product-img
						img.img-responsive(src='../img/evodesk-pro-start-front.png', alt='Evodesk Pro has the power to lift 500 lbs')
						p
							| With the capacity to lift up to 
							strong 500 pounds
							| , Pro lets you take your gear to new and ergonomically correct heights.
				img.img-responsive(src='../img/evodesk-pro-desk-wall.jpg', alt='Evodesk Pro')
				section#rock-welded-signature
					.wrapper-container
						.keepItRealContent
							.copy
								h3 The Pro Persona
								p
									| With a wide, aggressive stance, the Pro dismantles preconceptions about standing desk stability. The new balanced design with four sturdy lifting columns speaks volumes to the Pro’s personality. Powerful and rugged, yet sophisticated and stylish. The perfect formula for today’s modern technology-driven life.
							.copy
								h3 Welded Tubular Subframe
								p
									| The formula sounds simple. A 50/50 weight distribution between front and back. Yet no other manufacturer has matched our balance. The steel sub frame is expertly crafted from high-strength steel tubing. It’s stronger and lighter than a traditional stamped steel frame, for a more confident and solid feeling desk. Eight welded cross members provide unmatched lateral support to keep your workstation rock solid at all heights.
							.copy
								h3 Signature 45° Angles
								p
									| In addition to its signature looks, Pro raises the bar even higher with a new patent pending design. Evodesk engineered the electric columns at a 45° angle for greater lateral stability, in contrast to traditional desks that are made with columns positioned parallel to the feet. The steel sub frame and quad column design combine to deliver exceptional stability.
							.clearfix
				img.img-responsive(src='../img/evodesk-pro-frame.jpg', alt='Evodesk Pro')
				section#powerful
					.wrapper-container
						.heading
							h3 A Powerful Desk with Attitude
						.keepItRealContent
							.copy
								h3
									| The strong
									br
									| & silent type
								ul
									li Power-adjust from sitting to standing in seconds
									li 4 powerful microprocessor-controlled columns
									li 4 whisper quiet, low voltage DC motors
									li Robust internal rod drive for increased reliability
									li Opti-Sync for smooth transition during movement
									li Speed: 1.5" per second
									li Height Range: 24" - 50.5"
							.copy
								h3
									| Smart
									br
									| Features
								ul
									li Over-sized cable pass-through with sliding cover
									li 3 programmable memory presets
									li Sophisticated track guidance system
									li Smooth soft-start and soft-stop
									li Dust, air and moisture resistant sealed electric columns
									li Brilliant digital LED display indicates height selection
						.keepItRealContent
							.copy
								h3
									| Premium
									br
									| Desktops
								ul
									li 100% recycled wood composite with EvoGuard
									li Sustainable wood options: bamboo and rubberwood
									li Rounded corners and edges for comfort
									li Pre-drilled desktops for ease setup
									li Posi-Loc™ steel desktop inserts
									li No solvent-based paints
							.copy
								h3
									| Durable Steel
									br
									| Sub frame
								ul
									li High-strength welded steel frame for max stability
									li Tubular steel design is stronger than stamped steel
									li Baked on power coat finish in 3 colors
									li Scratch and wear resistant
									li 5-year warranty
				img.img-responsive(src='../img/evodesk-pro-desk-speakers.jpg', alt='Evodesk Pro')
				section#realwood
					// <img src="img/solid-sustainable-desktops-xe.jpg" alt="Solid Sustainable Desktop XE">
					.wrapper-container
							img(src='../img/evodesk-pro-real-wood.jpg', alt='Real Wood')

							.keepItRealContent
								h3
									| Real Desk.
									br
									|  Real Materials.
								p
									| At Evodesk, the material of your desktop matters. This is no place for plastic. Genuine, natural materials add warmth and beauty to any space.  Our “do not harm” philosophy means that all desktops feature Rubberwood, Bamboo, and 100% Recycled Wood Composite, because these are among the smartest choices available.
								a.button.medium(href='/store/evodesk-pro') Shop Now
				section#madetomove
					img(src='../img/evodesk-pro-made-to-move.jpg', alt='We Are Made to Move')
					.wrapper-container
						.keepItRealContent
								h3
									| We are Made
									br
									| to Move
								p
									| Sitting for extended periods of time is taking a toll on our health. Studies show that transitioning to a sit-to-stand workstation can counteract the potential health risks associated with years of sitting down. And since the Pro adjusts to your exact height, you can sit or stand with perfect posture and enjoy the freedom of natural movement throughout the day.  At work or at home, the advanced features of the Evodesk Pro help you get in sync with your life and everything in it.
								a.button.medium(href='/store/evodesk-pro') Shop Now
				section#pro-compare
					// pulled from: https://www.evodesk.com/store/evodesk
					.wrapper-container
						.heading
							h3
								span Quality
								|  Comes Standard
							p Discover why Evodesk is the only desk you’ll ever need.
						table#compare-table-header.responsive
							tbody
								tr
									td.table-title Compare Standing Desks
									td.logo-column
										img(src='https://www.evodesk.com/store/img/evodesk-logo-white.png', width='200', height='29', alt='evodesk logo white')
									td.other-column The Other Guys
						table#compare-table.responsive
							tbody
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#expandable-frame')
											| Expandable Frame 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Weight capacity
									td.product-column(data-label='Evodesk') 500 lbs
									td.product-column(data-label='The Other Guys') 154 lb
								tr
									td.table-feature Speed
									td.product-column(data-label='Evodesk') 1.5 inches per second
									td.product-column(data-label='The Other Guys') 1 inch per second
								tr
									td.table-feature Maximum Height
									td.product-column(data-label='Evodesk') 49.5”
									td.product-column(data-label='The Other Guys') 47”
								tr
									td.table-feature Desktop Composition
									td.product-column(data-label='Evodesk') Recycled Composite Wood
									td.product-column(data-label='The Other Guys') Particleboard
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#recycled-wood')
											| 100% recycled wood desktop 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Plastic-Free Desktop
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys') Plastic laminate standard
								tr
									td.table-feature Comfort Edges & Radius Corners
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys') Sharp laminated edges & corners
								tr
									td.table-feature Environmentally Friendly Solvent-Free Metal  Finish 
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Easy start/soft stop
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Predrilled Desktops
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys') Varies
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#posi-loc')
											| Posi-Loc™ Steel Deskop Inserts 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Zero Solvent Based Paints
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Decibel level during movement
									td.product-column(data-label='Evodesk') 45 db
									td.product-column(data-label='The Other Guys') 52 db
								tr
									td.table-feature Assembly Time
									td.product-column(data-label='Evodesk') 30 min or less assembly
									td.product-column(data-label='The Other Guys') 1 hour assembly
								tr
									td.table-feature Desktop Made In USA
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Fingerprint Resistant Desktop
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#oversized-grommet')
											| Oversized 3” x 6” Grommet 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk')
										i.fa.fa-check-circle
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#controller')
											| Programmable Controller 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk') Available
									td.product-column(data-label='The Other Guys') Varies
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#keyboard-platform')
											| Matching Ergo Keyboard Platform 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk') Available
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#cable-tray')
											| Cable Management Tray 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk') Available
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature Braided Expandable Sleeving
									td.product-column(data-label='Evodesk') Available
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
								tr
									td.table-feature
										a(href='http://www.evodesk.com/standing-desks#ergopro')
											| Ergonomic Edge 
											i.fa.fa-plus-square-o
									td.product-column(data-label='Evodesk') Available
									td.product-column(data-label='The Other Guys')
										i.fa.fa-times-circle-o
				include finance
				
				include join-our-mailing
				include footer