doctype html
html
	head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WV9HWZH');
		// End Google Tag Manager
		link(rel='dns-prefetch', href='http://www.evodesk.com')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Evodesk XE - Desktop Desk Crossover | Evodesk
		meta(name='description', content='The all-new Evodesk XE turns any desk into an adjustable height desk. The answer for those stuck with their static desk but want to add life-enhancing movement to their day.')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/navbar-styles.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='../js/nav.js')
		script(src='../js/plugins.js')
		meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js")
		script(src="../js/jsshowoff.min.js")
		style(type='text/css').
			#productNav { color: #00bbde;
			box-shadow: inset 0 4px 0 #00bbde;
			}
			@media (min-width: 1300px) {
			#banner { background-position: center 90px;}
			}
			@media all and (max-width: 1000px) {
			#productNav {color: #00bbde !important;}
			}
		// Canonical Link
		link(rel='canonical', href='http://www.evodesk.com/evodesk-xe')
	body#evodesk-xe-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				section#banner
					.wrapper-container

						a(href='https://www.evodesk.com/store/evodesk-xe')
						img#starting-at.animated.fadeInDown(src='http://www.evodesk.com/img/xe-badge.png', alt='starting at $599')
						.keepItRealContent
								h3
									| Your Desk,
									br
									|  Transformed.
								h1 Introducing the Evodesk XE™

								p.btn-below Turn any existing static desk into an adjustable-height workstation with ease.
								a.button.medium(href='/store/evodesk-xe') Shop Now
								a.text-link(href='#overview') Learn More ›
						img.product(src='http://www.evodesk.com/img/evodesk-xe-crossover-desktop-standing-desk.png', alt='Evodesk XE Crossover Standing Desktop Desk')
				section#overview
					img(src='http://www.evodesk.com/img/evodesk-life-in-motion.jpg', alt='life in motion')
					.wrapper-container
						.row
							.keepItRealContent
								h3 Life In Motion
								h2 Add Movement to your day
								p
									| Humans are not designed to be sedentary, but our work environments and habits try to make us that way. You’re probably familiar with the health benefits of standing incrementally throughout the day, and in order to adopt this healthy, sit-stand lifestyle, you need a desk that adapts. That’s where the Evodesk XE comes in. It fits perfectly onto your existing desk and moves effortlessly with the push of a button to your precise ergonomic height. The XE is truly the simple solution for everyone, regardless of their desk environment. Enjoy all the benefits of a larger power-adjustable height desk in a smart, compact frame.
								a.text-link(href='/standing-desks') Explore the Benefits of Standing ›
				section#perfect-fit
					.wrapper-container
							img(src='http://www.evodesk.com/img/the-perfect-fit.jpg', alt='The Perfect Desktop Fit')
							.keepItRealContent
								h3 The Perfect Fit
								h2 Compatible with Any Standard Desk
								p
									| The XE quickly turns your desk into an ergonomic workstation. Installation is as easy as setting the XE onto your existing desktop and pressing a button. There are no hand cranks, scissor lifts, or clunky hand brakes required to lift the XE to your optimal height. Plus, its soft-start and soft-stop technology means anything you have on your desk moves without being jarred or unsteady—even your cup of coffee.
				section#lavish
					.wrapper-container
						#quotes-rotator
							.text-center
								h3
									| “No need for photo frames when your entire desktop is covered by the latest family picture.”
								img(src='http://www.evodesk.com/img/chipchick-logo.png', alt='chipchick logo')
							.text-center
								h3 “DeskShields make standing desks both functional and decorative.”
								img(src='http://www.evodesk.com/img/digital-trends-logo.png', alt='Digital Trends logo')
							.text-center
								h3
									| “It was only a matter of time. After years of being able to customize your phone and computer casing with personalized skins, you can now do the same with your office desk.”
								img(src='http://www.evodesk.com/img/forbes-logo.png', alt='forbes logo')
							.text-center
								h3 “[This] new product allows us to gussy up our desks.”
								img(src='http://www.evodesk.com/img/mentalfloss-logo.png', alt='mental floss logo')
							.text-center
								h3
									| “[DeskShields are] a durable second skin that envelops the desk with a wide selection of photos and patterns to keep creatives happy and productive.”
								img(src='http://www.evodesk.com/img/tech.co-logo.png', alt='tech.co logo')
						#featured-in.row.clearfix
							#also.col-xs-12.text-center
								h3 Also Featured in
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/forbes-logo.png', alt='forbes logo')
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/digital-trends-logo.png', alt='Digital Trends logo')
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/cult-of-mac-logo.png', alt='cult of mac logo')
							.col-xs-6.col-sm-3
								img.img-responsive(src='http://www.evodesk.com/img/examiner-logo.png', alt='examiner logo')
						#more.row
							.col-xs-12.text-center
								a.text-link(href='reviews') Read More ›
				section#strength
					img(src='http://www.evodesk.com/img/xe-evodesk-strength.jpg', alt='Evodesk XE Strength')
					.wrapper-container
							.keepItRealContent
								h3 Strength in Design
								h2 Move with Power
								p
									| Inside the XE is a best-in-class microprocessor-controlled lift system. 24-volt DC motors power the XE through transitions with whisper-quiet sound. Because there are no clamps or mounts, the XE effortlessly lifts up to 100 pounds while remaining stable and safe even at a speed of 1.5 inches per second. With a vertical lifting range of up to 20.75 inches, your optimal ergonomic height is effortless to attain.
				section#sustainable
					.wrapper-container

							img(src='http://www.evodesk.com/img/solid-sustainable-desktops-xe.jpg', alt='Solid Sustainable Desktop XE')
							.keepItRealContent
								h3 Solid. Sustainable. Sophisticated.
								h2 Eco-friendly Desktop Options
								p
									| Evodesk is known for its sustainable materials and high quality design, and the XE is no exception to that rule. Choose from completely eco-friendly Bamboo, natural Rubberwood or recycled Wood Composite desktops for a warm, natural aesthetic. EvoGuardTM solvent-free coating gives the recycled wood composite superior mouse tracking abilities and surface protection. The XE’s surface options are not only sleek, but durable, with a scratch and wear resistant coating to ensure a lasting beauty.
				section#stability
					img(src='http://www.evodesk.com/img/desktop-stability.jpg', alt='Desktop Stability')
					.wrapper-container
							.keepItRealContent
								h3 Heightended Stability
								h2 Superior Frame Construction
								p
									| The XE desktop is supported by a highly durable metal frame for maximum stability in both high and low positions. A baked-on powder coating protects the finish from scratches and wear to ensure lasting beauty. Additionally, its durable, high-quality appearance is achieved without solvent-based paints. Infallible stability, beautifully designed.
				section#xe-features
					.wrapper-container
							.heading
								h3 Evodesk XE Features
								p Rising Above the Rest
								ul
									li Power Adjustable
									li High-Strength Metal Frames for Maximum Stability
									li Unibody Construction: Out of Sight Internal Motor Design
									li Robust Internal Threaded Spindle for Quiet Transitions
									li Dust, Air, and Moisture Resistant
									li Smooth Soft-Start and Soft-Stop Technologies
									li No Dangerous Scissor Lifts of Clunky Counterbalancing Mechanisms
									li Power Electric System Raises Straight Up and Down
									li Monitor Can Be Mounted Directly to XE
									li Baked-on Powder Coat Finish in 3 Colors
									li No Solvent-Based Paints
									li Maximum Height: 40”
									li Weight Capacity: 100lbs
									li Rounded Corners and Edges
									li
										| EvoGuardTM Solvent-Free Coating for Superior Mouse Tracking and Surface Protection
									li Eco-friendly Bamboo, Natural Rubberwood, or Recycled Wood Composite.
									li Desktop Made in USA
									li Whisper-Quiet Decibel Level During Movement
									li 1.5 Inches per Second Transition Speed
									li Programmable Controller
									li 5-Year Warranty

							table#compare-table-header.responsive
								tbody
									tr
										td.table-title
										td.logo-column
											img(src='https://www.evodesk.com/store/img/evodesk-logo-white.png', alt='evodesk logo white', height='29', width='200')
										td.other-column The Other Guys
							table#compare-table.responsive
								// <tr>
								// <td class="table-feature">Weight capacity</td>
								// <td class="product-column" data-label="Evodesk">355 lbs</td>
								// <td class="product-column" data-label="The Other Guys">154 lb</td>
								// </tr>
								tbody
									tr
										td.table-feature Power-Adjustable Height Technology
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Dangerous Hinged Lift Mechanics
										td.product-column(data-label='Evodesk')
											i.fa.fa-times-circle-o(style='color: #00bbde;')
										td.product-column(data-label='The Other Guys')
											i.fa.fa-check-circle(style='color: #999;')
									tr
										td.table-feature Nearness to existing desktop
										td.product-column(data-label='Evodesk') 3.30"
										td.product-column(data-label='The Other Guys') 5"
									tr
										td.table-feature Weight Capacity:
										td.product-column(data-label='Evodesk') 100 lbs
										td.product-column(data-label='The Other Guys') 35 lbs
									tr
										td.table-feature Speed
										td.product-column(data-label='Evodesk') 1.5 inches per second
										td.product-column(data-label='The Other Guys') Manual Transition
									tr
										td.table-feature Maximum Height
										td.product-column(data-label='Evodesk') 18.45"
										td.product-column(data-label='The Other Guys') 15.5"
									tr
										td.table-feature Desktop Depth
										td.product-column(data-label='Evodesk') 23"
										td.product-column(data-label='The Other Guys') 22.5"
									tr
										td.table-feature Keyboard / Mouse Tray
										td.product-column(data-label='Evodesk') Yes, Optional
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Monitor Mounts
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Desktop Composition
										td.product-column(data-label='Evodesk') Recycled Composite Wood
										td.product-column(data-label='The Other Guys') Particleboard
									tr
										td.table-feature
											a(href='http://www.evodesk.com/standing-desks#recycled-wood')
												| 100% recycled wood desktop 
												i.fa.fa-plus-square-o
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Plastic-Free Desktop
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys') Plastic laminate standard
									tr
										td.table-feature Comfort Edges & Radius Corners
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys') Sharp laminated edges & corners
									tr
										td.table-feature Environmentally Friendly Solvent-Free Metal Finish 
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Easy start/soft stop
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Predrilled Desktops
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys') Varies
									tr
										td.table-feature
											a(href='http://www.evodesk.com/standing-desks#posi-loc')
												| Posi-Loc™ Steel Deskop Inserts 
												i.fa.fa-plus-square-o
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Zero Solvent Based Paints
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature Assembly Time
										td.product-column(data-label='Evodesk') Yes, 15 min or less assembly
										td.product-column(data-label='The Other Guys') No, 1 hour assembly
									tr
										td.table-feature Fingerprint Resistant Desktop
										td.product-column(data-label='Evodesk')
											i.fa.fa-check-circle
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
									tr
										td.table-feature
											a(href='http://www.evodesk.com/standing-desks#controller')
												| Programmable Controller 
												i.fa.fa-plus-square-o
										td.product-column(data-label='Evodesk') Available
										td.product-column(data-label='The Other Guys')
											i.fa.fa-times-circle-o
				include finance
				include join-our-mailing
				include footer
				script(type='text/javascript').
					// Rotator
					$('#quotes-rotator').jshowoff({
					links: false,
					controls: false,
					effect: 'none',
					hoverPause: false ,
					changeSpeed: 600,
					autoPlay: true,
					speed: 5000
					});