doctype html
html
	include head
	body#options-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				// main
				.banner-policy
					.wrapper-container
						#banner-text
							h3 Evolve Today.
									br
									|	Pay Later.
							h1 No Payments, No Interest for 6 Months.*
							p.btn-below
								| PayPal&reg; Credit&reg; is the simple, flexible credit line built-in to your PayPal&reg; account. 
							a.button.medium(href='https://creditapply.paypal.com/apply?guid=9I4VCP0C') Apply Now
				section#financing-content
					.wrapper
						.full30
							i.fa.fa-paypal

							h3 No Payments, No Interest for 6 Months
							|              
							p
								| With PayPal&reg; Credit&reg; financing, you get the flexibility to pay in full or spread out your payments over time. (Offers may vary*)
							|                 
							a.text-link(href='https://creditapply.paypal.com/apply?guid=9I4VCP0C') Visit Paypal to Get Started
							|              
							|              
						.full30
							i.fa.fa-thumbs-o-up
							|                 
							h3 Use Your Credit Line with Confidence
							|                 
							p
								|	Choose how you want to pay- right away or over time.  Manage your money with ease.(Interest or minimum payments apply.)
								|             
							a.text-link(href='https://creditapply.paypal.com/apply?guid=9I4VCP0C') Learn More at PayPal
								|                 
								|                 
						.full30
							i.fa.fa-info-circle
							|
							h3 Get to know Bill Me Later
							|                 
							p
								| Are you still wondering where to use Bill Me Later, or how promotional financing works? PayPal answers to these questions and more.
								|
							a.text-link(href='https://creditapply.paypal.com/apply?guid=9I4VCP0C') Visit Paypal to Learn More
				include footer