section#finance
  // finance section
  .wrapper-container
    // wrapper container div
    img#financing-standing-desk.absolute.z-back(src='http://www.evodesk.com/img/white-standing-evodesk-keyboard.jpg', data-echo='img/white-standing-evodesk-keyboard.jpg', width='1116', height='469', alt='financing standing desk')
    .keepItRealContent
      h2 Special Offer
      h3
        | Evolve Today.
        br
        span Pay Later.
      p
        | With PayPal® Credit® you can bring home EvoDesk today with No Payments and No Interest for 6 months*
      a.button-outline.medium(href='financing', style='border: 2px inset #fff; display:inline-block; margin-right:10px;') Learn More ›
      a.button.medium(href='https://www.evodesk.com/store/') Shop Now ›
  // end of wrapper-container div
// finance section
