footer#footer
  .wrapper-container
    ul#footer-row1.footer-nav
      li.footer-title
        a(href='http://www.evodesk.com/standing-desks') Products
      li
        a(href='http://www.evodesk.com/standing-desks') Standing Desks
      li
        a(href='http://www.evodesk.com/gaming-desk') Gaming Desk
      li
        a(href='http://www.evodesk.com/standing-desks') Features
      li
        a(href='http://www.evodesk.com/standing-desks#overview') Watch the Video
      li
        a(href='http://www.evodesk.com/compare') Compare
      li
        a(href='http://www.evodesk.com/options') All Options
      li
        a(href='http://www.evodesk.com/gallery') Gallery
      li
        a(href='http://www.evodesk.com/reviews') Reviews
      li
        a(href='http://www.evodesk.com/media/evodesk-brochure.pdf', target='_blank') Brochure
      li
        a(href='http://www.evodesk.com/manual', target='_blank') Assembly Manual
      li
        a(href='http://www.evodesk.com/downloads') Downloads
      li
        a(href='http://www.evodesk.com/specifications') Specifications
    ul#footer-row2.footer-nav
      li.footer-title
        a(href='http://www.evodesk.com/store') Get Evodesk
      li
        a(href='http://www.evodesk.com/store') Evodesk Store
      li
        a(href='http://www.evodesk.com/shipping') Shipping
      li
        a(href='http://www.evodesk.com/shipping#returns') Returns and Refunds
      li
        a(href='http://www.evodesk.com/financing') Financing
      li
        a(href='http://www.evodesk.com/store/login') My Account
      li
        a(href='http://www.evodesk.com/store/checkout/cart') View Cart
    ul#footer-row3.footer-nav
      li.footer-title
        a(href='http://www.evodesk.com/contact') Get in Touch
      li
        a(href='http://www.evodesk.com/about') About Us
      li
        a(href='http://www.evodesk.com/blog') Blog
      li
        a(href='http://www.evodesk.com/contact') Contact
      li
        a(href='http://www.evodesk.com/international-shipping') International Shipping
      li
        a(href='http://www.evodesk.com/contact') Request a Phone Call
      li
        a(href='http://www.evodesk.com/privacy-policy') Privacy Policy
      li
        a(href='http://www.evodesk.com/terms-of-use') Terms of Use
    .footer.clearfix
    #footer-info
      a(href='http://www.evodesk.com')
        #footer-logo
      p.copyright
        | Copyright © 2015 Evodesk.com
        br
        |  All Rights Reserved
        br
        a(href='http://www.evodesk.com/privacy-policy') Privacy Policy
        |  / 
        a(href='http://www.evodesk.com/terms-of-use') Terms of Use
      br
      #footer-social
        p Get Social
        a(href='https://www.facebook.com/evodesk')
          img(src='http://www.evodesk.com/img/facebook-header.png', width='25', height='25', alt='facebook header')
        a(href='https://twitter.com/EvoDesk')
          img(src='http://www.evodesk.com/img/twitter-header.png', width='25', height='25', alt='twitter header')
      img(style='max-width: 200px;              width: 100%;              height: auto;              display: inline-block;              padding: 30px 0 0 0;              -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */              filter: grayscale(100%);              max-width: 165px;              opacity: .65;', src='http://www.evodesk.com/img/payment-methods.png', alt='Secured checkout payment options')
      p(style='color: #666; font-size: 10px; text-transform: uppercase; padding: 0 0 20px 0; margin: 0;') Secured checkout
      .clearfix
