section#freeport
					// noSharpEdges section
					.wrapper-container
						img#standing-desk-white.absolute.z-back(src='../img/Evodesk-Freeport-desktop-v2.png', data-echo='img/white-standing-desk.jpg', width='1057', height='732', alt='white standing desk')
						.keepItRealContent
							h2.freeH2  SUPERIOR POWER MANAGEMENT
							h3
								| ULTIMATE 
								span POWER PLAY
							h2 FREEPORT&trade;
							p
								| The Freeport PowerDock provides 1870 watts of pure power through 8 surge-protected AC outlets and 4 fuse-protected USB outlets in one convenient station—the perfect way to enable your office desk for any task while protecting even your most sensitive devices.

							h2 FREEPORT&trade; PLUS
							p
								| The Freeport Plus offers all the advantages of our Freeport PowerDock, and adds a convenient front panel that brings 4 configurable high-speed USB ports and 2 standard audio jacks within easy reach. Hide away your CPU (with our space-saving CPU Mount option) and still have access to all its ports.
							a.textDoc.medium(href='http://www.evodesk.com/media/Freeport-Power-Dock-Spec-Sheet-1.pdf') view power management specs &rsaquo;