doctype html
html
	head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WV9HWZH');
		// End Google Tag Manager
		link(rel='dns-prefetch', href='http://www.evodesk.com')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Gallery | Evodesk
		meta(name='description', content='The Official Evodesk Standing Desk Gallery, take a closer look and build your desk today!')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/navbar-styles.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='../js/nav.js')
		script(src='../js/plugins.js')
		script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
		// jQuery 1.7.2+ or Zepto.js 1.0+
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js")
		script(src='../js/jquery.magnific-popup.min.js')
		link(rel='stylesheet', href='../css/magnific-popup.css')
		meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
		style(type='text/css').
			a:focus {
			outline: none;
			}
			#gallery-nav {border-top: 5px solid #00bbde;}
			#gallery-nav a {color: #00bbde;}
			#banner {  background-position: 0px -190px;}
			@media all and (max-width: 900px) {
			#gallery-nav  {color: #00bbde !important;border-top: none;}
			}
		// Canonical Link
		link(rel='canonical', href='http://www.evodesk.com/gallery')
	body#gallery-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				section#banner-gallery
					#banner-text-wrapper.animated.fadeIn
						#banner-text
							h3 Bold Design
							h1 The Standing Desk Gallery
							p
								| View our 
								strong standing desk gallery
								|  and experience every perfected detail of the Evodesk design.
							// <a href="#overview" id="banner-play">Play Video</a>
					img#gallery-banner-image.animated.longer-ani.fadeInUp(src='http://www.evodesk.com/img/evodesk-standing-desk-design.png', width='1254', height='300', alt='evodesk standing desk gallery')
				section#gallery
					.wrapper-container
						#gallery-title.full100.center-all
							h2
								| Explore the 
								strong Standing Desk Gallery
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/integrated-sound-system-programmable-controller.jpg', title='60inch Black EroEdge Desktop with Integrated Harman Kardon Sound System and Programmable Remote')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/integrated-sound-system-programmable-controller.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/integrated-sound-system-programmable-controller-thumb.jpg', width='800', height='560', data-echo='img/gallery/integrated-sound-system-programmable-controller-thumb.jpg', alt='evodesk black sound system with programmable remote')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/evodesk-desktops.jpg', title='Evodesk Desktop Finishes. Slate Grey Coming Soon')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/evodesk-desktops.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/evodesk-desktops-thumb.jpg', width='800', height='560', data-echo='img/gallery/evodesk-desktops-thumb.jpg', alt='Evodesk desktops thumbnail')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/black-standing-desk.jpg', title='ErgoEdge Desktop with Standard Controller')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/black-standing-desk.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/black-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/black-standing-desk-thumb.jpg', alt='ErgoEdge Desktop with adjustable height controller')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/48inch-standing-desk.jpg', title='48inch Black Ergo Edge Desktop with Ergonomic Keyboard Platform')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/48inch-standing-desk.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/48inch-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/48inch-standing-desk-thumb.jpg', alt='48inch standing desk black thumbnail')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/black-frame-white-desktop-profile.jpg', title='60inch Polar White Desktop with Black Frame')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/black-frame-white-desktop-profile.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/black-frame-white-desktop-profile-thumb.jpg', width='800', height='560', data-echo='img/gallery/black-frame-white-desktop-profile-thumb.jpg', alt='Standing Desk image')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/evodesk-ergo-edge-desktop-black.jpg', title='Evodesk Programmable Controller')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/evodesk-ergo-edge-desktop-black.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/evodesk-ergo-edge-desktop-black-thumb.jpg', width='800', height='560', data-echo='img/gallery/evodesk-ergo-edge-desktop-black-thumb.jpg', alt='Standing Desk Programmable Controller')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/ergonomic-keyboard-diagram.jpg', title='Evodesk Ergonomic Keyboard Platform Diagram')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/ergonomic-keyboard-diagram.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/ergonomic-keyboard-diagram-thumb.jpg', width='800', height='560', data-echo='img/gallery/ergonomic-keyboard-diagram-thumb.jpg', alt='Ergonomic Keyboard Platform Diagram')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/harman-kardon-integrated-sound-system.jpg', title='Harman Kardon Integrated Sound System on Polar White Desktop with Black Frame')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/harman-kardon-integrated-sound-system.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/harman-kardon-integrated-sound-system-thumb.jpg', width='800', height='560', data-echo='img/gallery/harman-kardon-integrated-sound-system-thumb.jpg', alt='Standing Desk with Harman Kardon Sound System')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/polar-white-standing-desk.jpg', title='Polar White Evodesk Configuration')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/polar-white-standing-desk.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/polar-white-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/polar-white-standing-desk-thumb.jpg', alt='White Standing Desk')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/silver-standing-desk-frame.jpg', title='Evodesk Standing Desk')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/silver-standing-desk-frame.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/silver-standing-desk-frame-thumb.jpg', width='800', height='560', data-echo='img/gallery/silver-standing-desk-frame-thumb.jpg', alt='Evodesk adjustable height desk')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/under-standing-desk.jpg', title='Underneath Evodesk Frame System')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/under-standing-desk.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/under-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/under-standing-desk-thumb.jpg', alt='underneath a standing desk')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/standing-desk-harman-kardon.jpg', title='Integrated Harman Kardon Sound System')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/standing-desk-harman-kardon.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/standing-desk-harman-kardon-thumb.jpg', width='800', height='560', data-echo='img/gallery/standing-desk-harman-kardon-thumb.jpg', alt='installed sound system on desk')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/standing-desk-frame.jpg', title='Evolution Frame System')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/standing-desk-frame.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/standing-desk-frame-thumb.jpg', width='800', height='560', data-echo='img/gallery/standing-desk-frame-thumb.jpg', alt='adjustable height width desk frame')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/ergo-edge-desktop-48inch.jpg', title='48inch Black ErgoEdge Desktop with Silver Frame ')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/ergo-edge-desktop-48inch.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/ergo-edge-desktop-48inch-thumb.jpg', width='800', height='560', data-echo='img/gallery/ergo-edge-desktop-48inch-thumb.jpg', alt='ergonomic desktop')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/standing-desk-desktop.jpg', title='Top View of ErgoEdge Desktop')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/standing-desk-desktop.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/standing-desk-desktop-thumb.jpg', width='800', height='560', data-echo='img/gallery/standing-desk-desktop-thumb.jpg', alt='standing desk desktop')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/ergonomic-keyboard-platform-standing-desk.jpg', title='Ergonomic Keyboard Platform')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/ergonomic-keyboard-platform-standing-desk.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/ergonomic-keyboard-platform-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/ergonomic-keyboard-platform-standing-desk-thumb.jpg', alt='ergonomic keyboard platform')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/evodesk-white-ergo-desktop-white-frame.jpg', title='White ErgoEdge Desktop with Standard Controller and White Frame')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/evodesk-white-ergo-desktop-white-frame.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/evodesk-white-ergo-desktop-white-frame-thumb.jpg', width='800', height='560', data-echo='img/gallery/evodesk-white-ergo-desktop-white-frame-thumb.jpg', alt='white evodesk')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/standard-controller-evodesk.jpg', title='Standard Evodesk Controller')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/standard-controller-evodesk.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/standard-controller-evodesk-thumb.jpg', width='800', height='560', data-echo='img/gallery/standard-controller-evodesk-thumb.jpg', alt='standard two button controller')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/white-standing-desk.jpg', title='Integrated Harman Kardon Sound System, Polar White Desktop, Silver Frame')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/white-standing-desk.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/white-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/white-standing-desk-thumb.jpg', alt='white evodesk with harman kardon')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/evodesk-standing-desk-white-frame.jpg', title='Black Standard Desktop with Ergonomic Keyboard Platform and Optional Progammable Remote')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/evodesk-standing-desk-white-frame.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/evodesk-standing-desk-white-frame-thumb.jpg', width='800', height='560', data-echo='img/gallery/evodesk-standing-desk-white-frame-thumb.jpg', alt='black standard desktop with optional keyboard platform')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/white-desktop-black-frame.jpg', title='White Desktop with Black Frame and Optional Programmable Remote')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/white-desktop-black-frame.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/white-desktop-black-frame-thumb.jpg', width='800', height='560', data-echo='img/gallery/white-desktop-black-frame-thumb.jpg', alt='White standing desk with black frame')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/programmable-controller.jpg', title='Programmable Controller Option')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/programmable-controller.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/programmable-controller-thumb.jpg', width='800', height='560', data-echo='img/gallery/programmable-controller-thumb.jpg', alt='programmable standing desk controller')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/ergonomic-keyboard-standard-desktop-black.jpg', title='Black Desktop, Silver Frame, Ergonomic Keyboard Platform')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/ergonomic-keyboard-standard-desktop-black.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/ergonomic-keyboard-standard-desktop-black-thumb.jpg', width='800', height='560', data-echo='img/gallery/ergonomic-keyboard-standard-desktop-black-thumb.jpg', alt='evodesk black desktop silver frame')
						// // END Image
						// Image
						.full30.float-left
							.gallery-image.padded
								figure.effect-zoe
									a.gall(href='http://www.evodesk.com/img/gallery/programmable-controller-slate-desktop.jpg', title='Slate Grey Desktop (Coming Soon) with Optional Programmable Controller')
									figcaption
										ul.icon-links
											li Share This
											li
												a(href='#')
													i.fa.fa-facebook-square
											li
												a(href='#')
													i.fa.fa-twitter
											li
												a(href='#')
													i.fa.fa-pinterest(data-href='http://www.evodesk.com/img/gallery/programmable-controller-slate-desktop.jpg')
										p.description
											i.fa.fa-plus-square-o
											br
											| Enlarge Image
								img.gallery-thumb(src='http://www.evodesk.com/img/gallery/programmable-controller-slate-desktop-thumb.jpg', width='800', height='560', data-echo='img/gallery/programmable-controller-slate-desktop-thumb.jpg', alt='Slate Grey Desk')
						// // END Image
				include finance
				include join-our-mailing
				include footer
				//if lt IE 9
					script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
				
				
				script(type='text/javascript').
					var x=document.getElementsByClassName('myBox');
					for(var i=0; i < x.length; i++)
					{
					x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
					};
					// echo.render(); is also available for non-scroll callbacks
				// LOAD FONTS
				
				// #EndLibraryItem
				// #BeginLibraryItem "/Library/nav.lbi"
			
			
		// Max Wrapper
		// Magnific Popup core JS file
		script.
			$(document).ready(function() {
			$('.gall').magnificPopup({
			type: 'image',
			removalDelay: 300,
			mainClass: 'mfp-fade',
			gallery:{
			enabled:true
			},
			callbacks: {
			beforeOpen:function(){
			$('.mfp-container').hide();
			},open:function(){
			$('.mfp-container').fadeIn("slow");
			},beforeClose:function(){
			$('.mfp-container').fadeOut("slow");
			}}
			});
			});
			$('.fa-facebook-square').bind('click',function(event){
			event.preventDefault()
			url="http://www.evodesk.com/gallery";
			var furl="http://www.facebook.com/sharer.php?u="+ encodeURI(url);
			w=window.open(furl,"ftgw","location=1,status=1,scrollbars=1,width=600,height=400");
			w.moveTo((screen.width/2)-(300),(screen.height/2)-(200));
			});
			$('.fa-twitter').bind('click',function(event){
			event.preventDefault();
			url="http://www.evodesk.com/gallery";
			ttext="Checkout the Evodesk Gallery @evodesk" ;
			w=window.open("https://twitter.com/intent/tweet?url="+ encodeURI(url)+"&text="+ encodeURI(ttext),"ftgw","location=1,status=1,scrollbars=1,width=600,height=400");
			w.moveTo((screen.width/2)-(300),(screen.height/2)-(200));
			});
			$('.fa-pinterest').bind('click',function(){
			url="http://www.pinterest.com/pin/create/button/?url=http://www.evodesk.com/gallery&media="+$(this).attr('data-href');
			var w=window.open(url,"ftgw","location=1,status=1,scrollbars=1,width=600,height=400");
			w.moveTo((screen.width/2)-(300),(screen.height/2)-(200));});
		
