doctype html
html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    // End Google Tag Manager
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Gaming Desk | Evodesk
    meta(name='description', content='Evodesk is the world leader in power-adjustable gaming desks that will  level up your game.  Named the "Lamborghini of standing desks" by Entrepreneur mag.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js")
    script(src="../js/jsshowoff.min.js")
    meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/gaming-desk')
  body#gaming-desk-wrapper
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      include navbar
      main.cd-main-content
        section#bannerGamingDesk
          .wrapper-container
            a(href='http://www.evodesk.com/store')
              img#starting-at.animated.fadeInDown(src='http://www.evodesk.com/img/starting-price.png', width='174', height='174', alt='starting at $599')
            img#game-banner.absolute.z-back.animated.longer-ani.fadeInUp(src='http://www.evodesk.com/img/gaming-desk.png', width='937', height='566', alt='evodesk standing desk evolution')
            .keepItRealContent.animated.fadeIn
                h1 Take Your Gaming Desk to the
                h3 Next Level
                p
                  | We've assembled the ultimate gaming desk configuration available to provide a superior gaming experience. It's time to level up.
                a#banner-play(href='gaming-desk?play=1#overview') Play Video
          // #BeginLibraryItem "/Library/header.lbi"
      
        // #EndLibraryItem
        section#join-clients-like
          h3 Join Clients Like
          #carousel
            div
              img(src='http://www.evodesk.com/img/logos/apple.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/airbnb.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/american-express.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/att.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/autodesk.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/dreamworks.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/ea.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/general-mills.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/google.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/microsoft.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/siemens.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/visa.png', width='400', height='175', alt='apple logo')
        section#videoOverview
          .wrapper-container
            #video
                script(src='//f.vimeocdn.com/js/froogaloop2.min.js')
                #video-wrapper
                    iframe#player1(src='https://player.vimeo.com/video/136350335?api=1&player_id=player1', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
            #video-content-left
              h2 Build The Ultimate Gaming Desk
              h3
                | Built for
                br
                span Peak Performance
              ul
                li
                  a(href='#ergoedge')
                    i.fa.fa-hand-spock-o
                    |  Ergo Edge™ for superior ergonomic performance
                li
                  a(href='#evoguard')
                    i.fa.fa-crosshairs
                    |  EvoGuard™ finish for exceptional mouse precision
                li
                  a(href='#frame')
                    i.fa.fa-arrows
                    |  Adjustable, highly expandable, future-proof frame
                li
                  a(href='#smartpass')
                    i.fa.fa-plug
                    |  SmartPass™ & Cable Management Tray system
                li
                  a(href='#monitor-arm')
                    i.fa.fa-desktop
                    |  Ergo monitor arms for the ultimate positioning
                li
                  a(href='#customize')
                    i.fa.fa-tint
                    |  Over 8,000 customizable combinations
          #features(style='position: absolute;bottom: 100px;')
        section#ergoedge
          img#ergo-pro-desktop.absolute.z-back(src='http://www.evodesk.com/img/ergo-pro-desktop.jpg', data-echo='img/ergo-pro-desktop.jpg', width='1000', height='611', alt='ergo pro desktop')
          .wrapper-container
            .keepItRealContent
              h3
                | Get 
                span Closer
              h4 with the Ergo Edge™ Desktop.
              p.btn-below
                | Providing optimal ergonomic wrist and forearm positioning for superior in-game performance and comfort. The unique ergonomic design means you’ll comfortably reach 22% more of the gaming desktop. Game on. Strain off.
              a.text-link(href='http://www.evodesk.com/standing-desks#ergopro') Learn More ›
        section#evoguard
          img#evoguard-desktop(src='http://www.evodesk.com/img/evoguard-desktop-surface.jpg', data-echo='img/evoguard-desktop-surface.jpg', width='987', height='545', alt='evoguard desktop surface')
          .wrapper-container
            .keepItRealContent
              h3
                | Laser 
                span Accuracy
              h4 with the EvoGuard™ Finish.
              p.btn-below
                | A tough-as-nails gaming desk with a smooth, stylish finish. The surface is finely textured with thousands of microscopic, high-intensity light reflecting points, creating the perfect surface for next-generation gaming mice tracking capabilities.
              a.text-link(href='http://www.evodesk.com/standing-desks#keep-it-real') Learn More ›
        section#frame
          img#adjustable-frame-image(src='http://www.evodesk.com/img/adjustable-frame-system.jpg', data-echo='img/adjustable-frame-system.jpg', width='601', height='533', alt='adjustable gaming desk frame')
          .wrapper-container
            .keepItRealContent
              h3
                | Adjustable. 
                br
                span Future Proof.
              h4 The Evolution™ Frame System.
              p.btn-below
                | Adjusting the gaming desk is "level-1" simple. Press a button and the Evodesk moves to a favorite position for the ultimate ergonomic gaming posture. The Evodesk smart frame also expands laterally to support any desktop 48-90 inches long. And at full expansion, it’s still strong enough to lift even the most epic gaming setup. Strength and adaptability. It’s how you win.
              a.text-link(href='http://www.evodesk.com/standing-desks#expandable-frame') Learn More ›
        section#smartpass
          img#gaming-smart-pass(src='http://www.evodesk.com/img/smart-pass-cable-management-gaming-desk.jpg', data-echo='img/smart-pass-cable-management-gaming-desk.jpg', width='1102', height='700', alt='smart pass cable management gaming desk')
          .wrapper-container
            .keepItRealContent
              h3
                | Go 
                span Stealth
              h4 with SmartPass™ & Cable Management.
              p
                | Achieve ultimate focus. Keep cables organized and out of sight. Cords are snaked through the Smartpass™ cable pass-through then bundled in the Cable Management Tray. Wires stay off the floor and out of your mind to put the focus on domination.
              a.text-link(href='http://www.evodesk.com/standing-desks#oversized-grommet') Learn More ›
        section#monitor-arm
          .wrapper-container
            .keepItRealContent
              h3
                | Clear 
                span the board
              h4 with Evodesk Monitor Arms.
              p.btn-below
                | Elevate your monitor and your gaming skills with Evodesk monitor arms. Clear off desk space and fluidly reposition the screen for improved eye comfort and focus. Single or dual monitor arms keep the gaming desk as pristine as a character on a winning streak.
              a.text-link(href='http://www.evodesk.com/standing-desks#monitor-arms') Learn More ›
          img#gaming-monitor-arm-image(src='http://www.evodesk.com/img/gaming-monitor-arms.png', data-echo='img/gaming-monitor-arms.png', width='1052', height='527', alt='gaming desk monitor arms')
        section#customize
          img#real-wood.absolute.z-back(src='http://www.evodesk.com/img/real-wood-desktops.jpg', data-echo='img/real-wood-desktops.jpg', width='981', height='686', alt='real wood desktops')
          .wrapper-container
            .keepItRealContent
              h3
                | Customize 
                span & Conquer
              h4 with Thousands of Different Configurations.
              p.btn-below
                | You spend the time creating characters from the ground up — why settle on a cookie-cutter desk? Build the ultimate gaming desk with over 8,000 unique Evodesk combinations just waiting to be crafted into the ultimate loot: a rig that’s stylized just for you. Characters needs the right gear to be lethal, a gaming desk is no exception.
              a.button.medium(href='http://www.evodesk.com/store') Customize Now ›
        section#digital
          .wrapper-container
              img#standing-desk-benefits.absolute.z-back(src='http://www.evodesk.com/img/standing-desk-benefits.jpg', data-echo='img/standing-desk-benefits.jpg', width='1347', height='855', alt='standing desk benefits')
              .keepItRealContent
                h3
                  | Sit. Stand. 
                  span Dominate.
                h4
                p.btn-below
                  | Improve your HP and your character’s XP. Stand, stretch your legs and still stay in the game. Even while leveling, press the power height adjustable button, and the gaming desk rises up or down at 1.5 inches per second to one of 250 different height positions. Standing breaks give a ton of bonuses like improved mood, concentration, creativity and focus. Also, medical researchers have found that standing a few times per hour is better than once-a-day exercise so you and your character can both buff up. Elevate your game.
        include testimonials
        section#configurations
          .wrapper-container
            .full65
              h3
                | Select & 
                span Customize
              h2 Your Gaming Desk Configuration
              p
                | Because it’s never been “just a game,” we built the ultimate gaming desks designed with our fan-favorite features. Customize and conquer.
              a.text-link(href='https://www.evodesk.com/store') Or Build Your Own - Starting at $599 ›
            .gaming-configuration
              img(src='http://www.evodesk.com/img/48-ergo-gaming.jpg', width='500', height='300', alt='48 inch ergo gaming desks')
              .title-block.tb-1
                h3 Good
                h4 Level 1
              .features-block
                p
                  | High-performance gaming needs a high-performance gaming desk. Ergo Edge™ is equipped to decrease wrist discomfort and increase the win-rate.
                ul
                  li
                    a(href='http://www.evodesk.com/standing-desks#ergopro')
                      i.fa.fa-plus
                      | 48" Ergo Edge™ Desktop  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#expandable-frame')
                      i.fa.fa-plus
                      | Power-adjustable height: over 250 positions  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#cable-tray')
                      i.fa.fa-plus
                      | Cable management tray  
                      i.fa.fa-info-circle
                a.button.medium(href='https://www.evodesk.com/store/evodesk?customdesk=834-837-839-843-905-1145-1096-1098-1120-2127-2126') Customize ›
            .gaming-configuration
              img(src='http://www.evodesk.com/img/60-ergo-gaming.jpg', width='500', height='300', alt='60 inch ergo gaming desk')
              .title-block.tb-2
                h3 Better
                h4 Level 2
              .features-block
                p
                  | Engineered to outlast opponents, climb into the Ergo Edge™ cockpit, adjust the monitor arm, and snowball the enemy.
                ul
                  li
                    a(href='http://www.evodesk.com/standing-desks#ergopro')
                      i.fa.fa-plus
                      | 60" Ergo Edge™ Desktop  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#expandable-frame')
                      i.fa.fa-plus
                      | Power-adjustable height: over 250 positions  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#cable-tray')
                      i.fa.fa-plus
                      | Cable management tray  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#monitor-arms')
                      i.fa.fa-plus
                      | Single Monitor Arm  
                      i.fa.fa-info-circle
                a.button.medium(href=' https://www.evodesk.com/store/evodesk?customdesk=835-837-839-843-905-952-959-1145-1096-1098-1120-2127-2126') Customize ›
            .gaming-configuration
              img(src='http://www.evodesk.com/img/60-ergo-gaming-dual.jpg', width='500', height='300', alt='60 inch ergo gaming dual')
              .title-block.tb-3
                h3 Best
                h4 Level 3
              .features-block
                p
                  | Experience a gaming desk equipped with dual monitor arms and Ergo Edge™ for maximum comfort and maximum gaming potential.
                ul
                  li
                    a(href='http://www.evodesk.com/standing-desks#ergopro')
                      i.fa.fa-plus
                      | 60" Ergo Edge™ Desktop  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#expandable-frame')
                      i.fa.fa-plus
                      | Power-adjustable height: over 250 positions  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#cable-tray')
                      i.fa.fa-plus
                      | Cable management tray  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#monitor-arms')
                      i.fa.fa-plus
                      | Dual Monitor Arms  
                      i.fa.fa-info-circle
                a.button.medium(href=' https://www.evodesk.com/store/evodesk?customdesk=835-837-839-843-905-953-959-1145-1096-1098-1120-2127-2126') Customize ›
            .gaming-configuration
              img(src='http://www.evodesk.com/img/studio-l-gaming.jpg', width='500', height='300', alt='studio l gaming desks')
              .title-block.tb-4
                h3 Ultimate
                h4 Level 4
              .features-block
                p
                  | Sounds will strike at full force with the Harman Kardon® Integrated Sound System. You’ll swear you are standing in the game.
                ul
                  li
                    a(href='http://www.evodesk.com/standing-desks##evodesk-studio')
                      i.fa.fa-plus
                      | Studio L™ Desktop with Ergo Edge™  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#expandable-frame')
                      i.fa.fa-plus
                      | Power-adjustable height: over 250 positions  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#cable-tray')
                      i.fa.fa-plus
                      | Cable management tray  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#monitor-arms')
                      i.fa.fa-plus
                      | Quad-Monitor Arm System  
                      i.fa.fa-info-circle
                  li
                    a(href='http://www.evodesk.com/standing-desks#harman-kardon')
                      i.fa.fa-plus
                      | Harman Kardon® Integrated Sound System  
                      i.fa.fa-info-circle
                a.button.medium(href='https://www.evodesk.com/store/evodesk?customdesk=831-839-843-851-905-953-959-1072-1073-1084-1091-1120-2127-2126') Customize ›
        section#gallery
          .wrapper-container
            #gallery-title.full100.center-all
              h2
                | Explore the 
                strong Gaming Desk Gallery
              a.text-link(href='http://www.evodesk.com/gallery') View More Evodesk Gallery Images ›
            // Image
            .full30.float-left
              .gallery-image.padded
                img.gallery-thumb(src='http://www.evodesk.com/img/gallery/integrated-sound-system-programmable-controller-thumb.jpg', width='800', height='560', data-echo='img/gallery/integrated-sound-system-programmable-controller-thumb.jpg', alt='evodesk black sound system with programmable remote')
            // // END Image
            // Image
            .full30.float-left
              .gallery-image.padded
                img.gallery-thumb(src='http://www.evodesk.com/img/gallery/evodesk-desktops-thumb.jpg', width='800', height='560', data-echo='img/gallery/evodesk-desktops-thumb.jpg', alt='Evodesk desktops thumbnail')
            // // END Image
            // Image
            .full30.float-left
              .gallery-image.padded
                img.gallery-thumb(src='http://www.evodesk.com/img/gallery/black-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/black-standing-desk-thumb.jpg', alt='ErgoEdge Desktop with adjustable height controller')
            // // END Image
            // Image
            .full30.float-left
              .gallery-image.padded
                img.gallery-thumb(src='http://www.evodesk.com/img/gallery/48inch-standing-desk-thumb.jpg', width='800', height='560', data-echo='img/gallery/48inch-standing-desk-thumb.jpg', alt='48inch standing desk black thumbnail')
            // // END Image
            // Image
            .full30.float-left
              .gallery-image.padded
                img.gallery-thumb(src='http://www.evodesk.com/img/gallery/black-frame-white-desktop-profile-thumb.jpg', width='800', height='560', data-echo='img/gallery/black-frame-white-desktop-profile-thumb.jpg', alt='Standing Desk image')
            // // END Image
            // Image
            .full30.float-left
              .gallery-image.padded
                img.gallery-thumb(src='http://www.evodesk.com/img/gallery/evodesk-ergo-edge-desktop-black-thumb.jpg', width='800', height='560', data-echo='img/gallery/evodesk-ergo-edge-desktop-black-thumb.jpg', alt='Standing Desk Programmable Controller')
            // // END Image
        include finance
        include join-our-mailing
        include footer
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
        script.
          var headroom,myElement;
          $(document).ready(function(){
          // grab an element
          window.myElement = document.querySelector("header");
          // construct an instance of Headroom, passing the element
          window.headroom  = new Headroom(myElement);
          // initialise
          window.headroom.init();
          });
        
        script(type='text/javascript').
          $( document ).ready(function() {
          $('#featured-rotator').jshowoff({
          links: false,
          controls: false,
          effect: 'fade',
          hoverPause: true ,
          changeSpeed: 1000,
          autoPlay: true,
          speed: 5000
          });
          });
        script(type='text/javascript').
          var x=document.getElementsByClassName('myBox');
          for(var i=0; i < x.length; i++)
          {
          x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
          };
          // echo.render(); is also available for non-scroll callbacks
        // LOAD FONTS
        script(type='text/javascript', src='//use.typekit.net/ter5vyf.js')
        script(type='text/javascript').
          try{Typekit.load();}catch(e){}
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-56768912-1', 'auto');
          ga('send', 'pageview');
        script(src='../js/jquery.carouFredSel-6.0.4-packed.js', type='text/javascript')
        script(type='text/javascript').
          $(function() {
          $('#carousel').carouFredSel({
          responsive: true,
          scroll: 1,
          items: {
          width: 300,
          visible: {
          min: 1,
          max: 10
          }
          }
          });
          });
        script(type='text/javascript', data-cfasync='false').
          window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
          (function()
          {
          var done = false;
          var script = document.createElement('script');
          script.async = true;
          script.type = 'text/javascript';
          script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
          document.getElementsByTagName('HEAD').item(0).appendChild(script);
          script.onreadystatechange = script.onload = function (e)
          {
          if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
          {
          var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
          done = true;
          purechatApi.on('chat:operatorJoin', function (args)
          {
          $.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
          });
          purechatApi.on('email:send', function(args)
          {
          $.post("//www.spindle360.com/formstack", args);
          });
          }
          };
          })();
        // #EndLibraryItem
        // #BeginLibraryItem "/Library/nav.lbi"
      script.
        $(function()
        {
        $(".navtile").click(function()
        {
        window.location = $(this).data("href");
        });
        });
      // #EndLibraryItem
    script(type='text/javascript').
      var x = document.getElementsByClassName('myBox');
      for (var i = 0; i < x.length; i++) {
      x[i].onclick = function () {
      window.location = this.getElementsByTagName('a')[0].getAttributeNode("href").value;
      }
      }
      ;
      // echo.render(); is also available for non-scroll callbacks
    script(type='text/javascript').
      // Rotator
      (function ($) {
      $.fn.fixOverflow = function () {
      if ($.browser.msie) {
      return this.each(function () {
      if (this.scrollWidth > this.offsetWidth) {
      $(this).css({'padding-bottom': '20px', 'overflow-y': 'hidden'});
      }
      });
      } else {
      return this;
      }
      };
      })(jQuery);
      $('pre').fixOverflow();
      $(document).ready(function () {
      $('#quotes-rotator').jshowoff({
      links: true,
      controls: false,
      effect: 'fade',
      hoverPause: false,
      changeSpeed: 600,
      autoPlay: true,
      speed: 5000
      });
      });
    script(type='text/javascript').
      // Slick Nav
      $(document).ready(function () {
      if (document.URL.search('play') > 0)
      $('#banner-play').click()
      });
      $('#banner-play').bind('click', function () {
      setTimeout(function () {
      var iframe = $('#player1')[0];
      var player = $f(iframe);
      player.api('play');
      }, 1000);
      });
      // Basic FitVids Test
      $("#video").fitVids();
