head
    meta(charset='utf-8')
    title Standing desks took a huge leap forward | Evodesk
    link(href='../css/styles.css', rel='stylesheet', type='text/css')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Standing desks just took a huge leap forward.  Evodesk changed the momentum of what a standing desk should be.  Evodesk is only $599 for a limited time.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/standing-desks')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet' href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/plugins.js')
    script(src='../js/nav.js')
    script(src='../js/jsshowoff.min.js')
    script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js', type='text/javascript', charset='utf-8')