doctype html
html
  head
    // Google Tag Manager
    script.
      (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WV9HWZH');
    // End Google Tag Manager
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Standing Desks with Power Adjustable Height from $399 | Evodesk
    meta(name='description', content='Official Evodesk site featuring the standing desk that will elevate your expectations of what standing desks should be.  And Evodesk starts at only $599.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js")
    script(src="../js/jsshowoff.min.js")
    meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/')
    // Google Analytics Content Experiment code
    script.
      function utmx_section(){}function utmx(){}(function(){var
      k='93890815-8',d=document,l=d.location,c=d.cookie;
      if(l.search.indexOf('utm_expid='+k)>0)return;
      function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
      indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c. length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write( '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl': '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+ '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date(). valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+ '" type="text/javascript" charset="utf-8"><\\/sc'+'ript>')})();
    script.
      utmx('url','A/B');
    // End of Google Analytics Content Experiment code

    //-- this stylesheet will only contain styles used by the new layout codebase
  body#home
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      include navbar
      main.cd-main-content
        // this wraps the entire page from this point down
        ul.bxslider-hero
          // Slide 1
          li
            .hero-slide
              img(src='https://s3.amazonaws.com/evodesk/img/banner/evo-hero-home-3.jpg')
        section#join-clients-like
          h3 Join Clients Like
          #carousel
            div
              img(src='http://www.evodesk.com/img/logos/apple.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/airbnb.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/american-express.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/att.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/autodesk.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/dreamworks.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/ea.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/general-mills.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/microsoft.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/siemens.png', width='400', height='175', alt='apple logo')
            div
              img(src='http://www.evodesk.com/img/logos/visa.png', width='400', height='175', alt='apple logo')
          section#featured-models
            .container-models
              .row
                .models-column30
                  a(href='http://www.evodesk.com/standing-desks')
                    img.img-responsive(src='http://www.evodesk.com/img/standing-desk-evodesk-model.jpg', alt='Standing Desk Evodesk')
                    .model-name
                      h2 Evodesk™
                      span.text-link Learn More ›
                .models-column30
                  a(href='http://www.evodesk.com/evodesk-pro')
                    img.img-responsive(src='http://www.evodesk.com/img/standing-desk-evodesk-studio-pro-model.jpg', alt='Standing Desk Evodesk Pro')
                    .model-name
                      h2
                        | Evodesk 
                        span Pro™
                      span.text-link Learn More ›
                .models-column30
                  a(href='http://www.evodesk.com/evodesk-xe')
                    img.img-responsive(src='http://www.evodesk.com/img/standing-desk-evodesk-xe-model.jpg', alt='Standing Desk Evodesk XE')
                    .model-name
                      h2
                        | Evodesk 
                        span XE™
                      span.text-link Learn More ›
          // divs start here
          section#immerseYourself
                .wrapper-container
                  img.img-responsive(src='http://www.evodesk.com/img/evo-trans-standard-homepage.png', data-echo='img/evo-div-one.png')
                  .keepItRealContent
                    h2 Immerse Yourself. Reward Yourself.
                    h3
                      | Your Life  
                      span in Sync
                    p
                      | Evodesk was the first company to deliver a great looking standing desk at a price that can’t be matched. Much more than just another adjustable height desk, Evodesk holds the key to increased movement and better health.
                    p
                      | In homes and offices all around the world there's a quiet revolution occurring. People are standing up, embracing natural movement our bodies crave. Evodesk can put your life in sync with the touch of a button.
                // #end of ImmerseYourself
          section#pricedToImpress
            .wrapper-container
              img.img-responsive(src='http://www.evodesk.com/img/home-div-two.png')

              .keepItRealContent
                .copy
                  h2 Priced to Impress.
                  h3
                    | More Features. 
                    br
                    span Less Money.
                  p
                    | We didn’t invent the standing desk, but we did reinvent it. Evodesk was designed to be the most feature-packed, customizable desk in its class, and at an equally attractive price. Other adjustable height desks may work, but they fail to inspire or deliver on the finer details.
                  p
                    | Evodesk engineers were tasked with cutting out plastic laminate, and other low-grade materials without raising the price. Evodesk creates professional-grade workstations using sustainable materials like 100% recycled wood, rubberwood, and bamboo. Evodesk—the first adjustable height desk that delivers a quality product –and- insanely great value.
                  //- # end of pricedToImpress
          section#digitalWorld
              .wrapper-container
                img.img-responsive(src='http://www.evodesk.com/img/standing-desk-benefits.jpg')
                .keepItRealContent
                  h3
                    | Digital World. 
                    br
                    span Digital Desk.
                  p
                    | Think about your typical day—how many hours do you spend sitting at your desk? The desk has become the center of our digital world. Our technology—at work and at home—has enticed us to sit more than ever before. Sitting has been linked directly to more than a dozen life-threatening medical conditions.
                  p
                    | The good news is that researchers have found that standing for a few hours each day over the course of a year has massive benefits. Reduced risk of heart attack, back pain, obesity, diabetes, heart disease, and more. So, what are you waiting for?
              //- #three
          include freeport
          include testimonials
          section#oneSizeFit
            .wrapper-container
              img#future-proof.absolute.z-back(src='http://www.evodesk.com/img/future-proof-frame-design.jpg', data-echo='img/future-proof-frame-design.jpg', width='1053', height='1004', alt='frame design')
              .keepItRealContent
                h2 One Frame. Highly Expandable. Future Proof.
                h3
                  | One Size 
                  span Does Fit All
                p.btn-below
                  | All power standing desks move up and down, but only Evodesk moves laterally to accommodate a different-sized desktop. If your needs change and you are ready to upgrade to a bigger standing desk. Simply expand the frame and swap for a 48", 60", 72", or 90" desktop. Plus the double steel wall tubing means your frame can handle the weight even at its maximum extension. Finally, a desk that evolves with you.
                a.button.medium(href='http://www.evodesk.com/standing-desks#features') Explore Features ›
          section#noCorners
            .wrapper-container
                  img#evodesk-desktop.absolute.z-back(src='http://www.evodesk.com/img/evodesk-desktop-controller.jpg', data-echo='img/evodesk-desktop-controller.jpg', width='1412', height='877', alt='evodesk recycled desktop')
                  .keepItRealContent
                    h2 No Corners Cut. No Plastic Laminate.
                    h3
                      | Premium materials.
                      br
                      span Amazing value.
                    p
                      | Sometimes what you put in is just as important as what you leave out. Plastic laminate is typical on low cost furniture. But those who spend massive time at their desk often want more. Your desktop is the most visible part of your desk. Take a close look at Evodesk and you will find no plastic laminate. You will find no plastic edge banding that can loosen and peel over time. You will find no uncomfortable sharp edges. We always start with the real material of your choice: recycled wood composite, Rubberwood or Bamboo. We then CNC machine each desktop to give it a smooth contoured edge so you can rest your forearms and wrists comfortably during long hours of work or play.
                    p.btn-below
                      | Fingerprint and smudge resistant, each desktop is made for the real world. All natural Rubberwood and Bamboo desktops feature a solid sustainable desktop that is finished with a 100% solid, ultraviolet light cured finish. The Renew desktop is fully encapsulated in a coating that is four times more abrasion resistant than plastic laminate. The 100% solid, ultraviolet cured finish creates a smudge-resistant coating that brings out the natural beauty of the bamboo and rubberwood.
                     
          section#sustainableMaterials
            .wrapper-container
                img.img-responsive(src='http://www.evodesk.com/img/home-div-seven.jpg')
                .keepItRealContent
                  h2 Sustainable Materials Reborn.
                  h3
                    | Resilient. Reimagined. 
                    span Revolutionary.
                  p
                    | The desktop material is perhaps the most important decision you’ll make when choosing your new desk. Genuine, natural materials add warmth and beauty to any space. Evodesk maintains a rare standard in the furniture industry: all desktops must be real, and not plastic versions of something made by Mother Nature. But we take it a step further. Our "do no harm" philosophy means that we use sustainable, planet-friendly materials.
                  p
                    | Our diverse and unique desktops create a one of a kind standing desk. It’s the perfect fusion of visual design, functional engineering and craftsmanship. To truly understand the inherent beauty of our desktops, cruise through our Product Builder, or check out the Gallery page for inspiration.

          include pod-plus-storage
          section#brilliantOptions
             .wrapper-container

                  img(src='http://www.evodesk.com/img/harman-kardon-sound-system-integrated.jpg')
                  .keepItRealContent
                    h2 More Choices. More Options. More Fun.
                    h3
                      | Tons of 
                      span Brilliant Options
                    p
                      | Options and accessories make Evodesk uniquely yours. The most popular option is the Ergo keyboard platform. Customized to match your Evodesk perfectly, it's designed for the perfect body position during standing and sitting. And with its sliding platform, simply push and store it under Evodesk when not in use.
                    p
                      | The newest addition is our EvoEdge™ desktop. The ergonomic design brings you even closer to your work. The unique shape and edge profile lets you reach 22 percent more of your desktop.
                    p.btn-below
                      | If you’re into great sounding music, it's the premium Harman Kardon integrated sound system. The stunning minimalist design features a down-firing subwoofer installed underneath Evodesk. With everything out of the way and off the floor, the 2.1-channel system rocks 40 watts of clean power—enough to deliver crystal clear sound.
                    a.button.medium(href='http://www.evodesk.com/standing-desks#options') Browse Options ›

          section#expressPersonal
            .wrapper-container
              .full75
                h3
                  | Express Yourself. 
                  span It’s Now Personal.
                h2 You Customize It. We build it.
              .full30
                  img(src='http://www.evodesk.com/img/frame-system.jpg', data-echo='img/frame-system.jpg', alt='evodesk frame system')
                  h2 Evolution Frame System
                  p
                    | All power adjustable desks move up and down. Only the Evodesk smart frame expands laterally. Its future-proof telescopic design evolves with you. Supports any desktop 48 to 90 inches long.
              .arrow-spacer.full7.float-left
              .full30
                img(src='http://www.evodesk.com/img/desktop.jpg', data-echo='img/desktop.jpg', alt='evodesk frame system')
                h2 Choose Your Desktop
                p
                  | Smooth contoured edges and the Renew™ finish create a desktop unlike anything you've seen before. Choose your size, shape, and finish to make your Evodesk perfect for your office or space.
              .arrow-spacer.full7.float-left
              .full30
                img(src='http://www.evodesk.com/img/accessories.jpg', data-echo='img/accessories.jpg', alt='evodesk frame system')
                h2 Accessorize & Personalize
                p
                  | Choose one or all of the innovative options to make Evodesk even better. From the functional ergonomics to the brilliant sound of the Harman Kardon sound system, the choice is yours.
              a.text-link.large(href='http://www.evodesk.com/standing-desks') Explore Evodesk Features and Options ›
            // .content
          // #ten
          include finance
          include join-our-mailing
          include footer
        script.
          var headroom,myElement;
          $(document).ready(function(){
          // grab an element
          window.myElement = document.querySelector("header");
          // construct an instance of Headroom, passing the element
          window.headroom  = new Headroom(myElement);
          // initialise
          window.headroom.init();
          });
        script(type='text/javascript').
          $( document ).ready(function() {
          // this does not appear to be used on this page (no #featured-rotator on page) rgentile 2/27/17
          $('#featured-rotator').jshowoff({
          links: false,
          controls: false,
          effect: 'fade',
          hoverPause: true ,
          changeSpeed: 1000,
          autoPlay: true,
          speed: 5000
          });
          });
        script(type='text/javascript').
          var x=document.getElementsByClassName('myBox');
          for(var i=0; i < x.length; i++)
          {
          x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
          };
          // echo.render(); is also available for non-scroll callbacks
        // LOAD FONTS
        script(type='text/javascript', src='//use.typekit.net/ter5vyf.js')
        script(type='text/javascript').
          try{Typekit.load();}catch(e){}
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-56768912-1', 'auto');
          ga('send', 'pageview');
        script(src='../js/jquery.carouFredSel-6.0.4-packed.js', type='text/javascript')
        script(type='text/javascript').
          $(function() {
          // this is the brands carousel
          $('#carousel').carouFredSel({
          responsive: true,
          scroll: 1,
          items: {
          width: 300,
          visible: {
          min: 1,
          max: 10
          }
          }
          });
          });
        script(type='text/javascript', data-cfasync='false').
          window.onload=function() {
          window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
          (function()
          {
          var done = false;
          var script = document.createElement('script');
          script.async = true;
          script.type = 'text/javascript';
          script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
          document.getElementsByTagName('HEAD').item(0).appendChild(script);
          script.onreadystatechange = script.onload = function (e)
          {
          if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
          {
          var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
          done = true;
          purechatApi.on('chat:operatorJoin', function (args)
          {
          $.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
          });
          purechatApi.on('email:send', function(args)
          {
          $.post("//www.spindle360.com/formstack", args);
          });
          }
          };
          })();}
        // #EndLibraryItem
        // #BeginLibraryItem "/Library/nav.lbi"
        script(type='text/javascript').
            // Rotator
                $('#quotes-rotator').jshowoff({
                links: false,
                controls: false,
                effect: 'fade',
                hoverPause: false,
                changeSpeed: 600,
                autoPlay: true,
                speed: 5000
                });
        script.
          $(document).ready(function(){
          });
        
