doctype html
html
  head
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    link(rel='dns-prefetch', href='http://d17bplqo9q3lum.cloudfront.net')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Request an International Shipping Quote | Evodesk
    meta(name='description', content='We strive to provide great customer service. For product inquiries and customer support, here are all the ways you can contact Evodesk.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    link(rel='stylesheet', href='../css/formstack.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    style.
      section > .standard h2 {
      letter-spacing: .05em;}
      #contact-nav {color: #00bbde !important}
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/contact')
  body#international-shipping-page
    #max-wrapper
        main.cd-main-content
            section#banner-contact
                #banner-text
                    h1 INTERNATIONAL SHIPPING QUOTE
                    p
                        | Evodesk will gladly ship products worldwide to most international destinations. The Evodesk Online Store ships within the US and Canada. If you wish to get an international shipping quote on any of our products, please call (888) 615-5721 or use the form below.
            section#contact-us
                .wrapper-container
                    #form.full75.float-left.title-h2
                        h3(style='font-size:18px; text-transform:none; margin-bottom:20px;') Fill out the form below and we will be in contact with you shortly...

                        form#fsForm1881558.fsForm.fsSingleColumn.fsMaxCol1(style='display:inline-grid;' method='post', novalidate='', enctype='multipart/form-data', action='https://www.formstack.com/forms/index.php')
                          input(type='hidden', name='form', value='1881558')
                          input(type='hidden', name='viewkey', value='99L85qoj1j')
                          input#hidden_fields1881558(type='hidden', name='hidden_fields', value='')
                          input(type='hidden', name='_submit', value='1')
                          input#incomplete1881558(type='hidden', name='incomplete', value='')
                          input(type='hidden', name='style_version', value='3')
                          #requiredFieldsError(role='alert', style='display:none;') Please fill in a valid value for all required fields
                          #invalidFormatError(role='alert', style='display:none;') Please ensure all values are in a proper format.
                          #resumeConfirm(role='alert', style='display:none;') Are you sure you want to leave this form and resume later?
                          #fileTypeAlert(role='alert', style='display:none;') You must upload one of the following file types for the selected field:
                          #embedError(role='alert', style='display:none;')
                            | There was an error displaying the form. Please copy and paste the embed code again.
                          #applyDiscountButton(role='alert', style='display:none;') Apply Discount
                          #dcmYouSaved(role='alert', style='display:none;') You saved
                          #dcmWithCode(role='alert', style='display:none;') with code
                          #submitButtonText(role='alert', style='display:none;') Submit Form
                          #submittingText(role='alert', style='display:none;') Submitting
                          input#field28910541-first.input50.float-left(type='text', name='field28910541-first', placeholder='First Name*', size='20', value='')
                          input#field28910541-last.input50.float-right(type='text', name='field28910541-last', placeholder='Last Name*', size='20', value='')
                          input#field28910542.input50.float-left(type='text', name='field28910542', size='50', value='', placeholder='Company Name')
                          input#field28910545.input50.float-right(type='tel', name='field28910545', size='20', placeholder='Phone Number*', value='')
                          input#field28910544.input50.float-left(type='email', name='field28910544', placeholder='Email Address*', size='50', value='')
                          input#field28910544_confirm.input50.float-right(type='email', name='field28910544_confirm', placeholder='Confirm Email Address*', size='50')
                          label#label28910543.fsLabel.fsRequiredLabel(for='field28910543', style='margin: 10px 0;\
                          display: block;\
                          font-weight: 500;\
                          font-size: 20px;')
                            | Ship To Address
                            span.fsRequiredMarker *
                          input#field28910543-address(type='text', name='field28910543-address', size='50', required='', value='', placeholder='Address Line 1*', aria-required='true', style='width: 97%;')
                          input#field28910543-address2(type='text', name='field28910543-address2', size='50', value='', placeholder='Address Line 2', style='width: 97%;')
                          input#field28910543-city.input50.float-left(type='text', name='field28910543-city', size='15', value='', placeholder='City*', aria-required='true')
                          input#field28910543-state.input50.float-right(type='text', name='field28910543-state', size='15', value='', placeholder='State/Providence*')
                          input#field28910543-zip.input50.float-left(type='text', name='field28910543-zip', size='8', value='', placeholder='Postal Code*', aria-required='true')
                          select#field28910543-country.input50.float-right(name='field28910543-country', aria-required='true')
                            option(value='') Select Your Country*
                            option(value='Afghanistan') Afghanistan
                            option(value='Aland Islands') Aland Islands
                            option(value='Albania') Albania
                            option(value='Algeria') Algeria
                            option(value='American Samoa') American Samoa
                            option(value='Andorra') Andorra
                            option(value='Angola') Angola
                            option(value='Anguilla') Anguilla
                            option(value='Antarctica') Antarctica
                            option(value='Antigua and Barbuda') Antigua and Barbuda
                            option(value='Argentina') Argentina
                            option(value='Armenia') Armenia
                            option(value='Aruba') Aruba
                            option(value='Australia') Australia
                            option(value='Austria') Austria
                            option(value='Azerbaijan') Azerbaijan
                            option(value='Bahamas') Bahamas
                            option(value='Bahrain') Bahrain
                            option(value='Bangladesh') Bangladesh
                            option(value='Barbados') Barbados
                            option(value='Belarus') Belarus
                            option(value='Belgium') Belgium
                            option(value='Belize') Belize
                            option(value='Benin') Benin
                            option(value='Bermuda') Bermuda
                            option(value='Bhutan') Bhutan
                            option(value='Bolivia, Plurinational State of') Bolivia, Plurinational State of
                            option(value='Bosnia and Herzegovina') Bosnia and Herzegovina
                            option(value='Botswana') Botswana
                            option(value='Bouvet Island') Bouvet Island
                            option(value='Brazil') Brazil
                            option(value='British Indian Ocean Territory') British Indian Ocean Territory
                            option(value='Brunei Darussalam') Brunei Darussalam
                            option(value='Bulgaria') Bulgaria
                            option(value='Burkina Faso') Burkina Faso
                            option(value='Burundi') Burundi
                            option(value='Cambodia') Cambodia
                            option(value='Cameroon') Cameroon
                            option(value='Canada') Canada
                            option(value='Cape Verde') Cape Verde
                            option(value='Cayman Islands') Cayman Islands
                            option(value='Central African Republic') Central African Republic
                            option(value='Chad') Chad
                            option(value='Chile') Chile
                            option(value='China') China
                            option(value='Christmas Island') Christmas Island
                            option(value='Cocos (Keeling) Islands') Cocos (Keeling) Islands
                            option(value='Colombia') Colombia
                            option(value='Comoros') Comoros
                            option(value='Congo') Congo
                            option(value='Congo, The Democratic Republic of the') Congo, The Democratic Republic of the
                            option(value='Cook Islands') Cook Islands
                            option(value='Costa Rica') Costa Rica
                            option(value='Cote Divoire') Cote Divoire
                            option(value='Croatia') Croatia
                            option(value='Cuba') Cuba
                            option(value='Cyprus') Cyprus
                            option(value='Czech Republic') Czech Republic
                            option(value='Denmark') Denmark
                            option(value='Djibouti') Djibouti
                            option(value='Dominica') Dominica
                            option(value='Dominican Republic') Dominican Republic
                            option(value='Ecuador') Ecuador
                            option(value='Egypt') Egypt
                            option(value='El Salvador') El Salvador
                            option(value='Equatorial Guinea') Equatorial Guinea
                            option(value='Eritrea') Eritrea
                            option(value='Estonia') Estonia
                            option(value='Ethiopia') Ethiopia
                            option(value='Falkland Islands (Malvinas)') Falkland Islands (Malvinas)
                            option(value='Faroe Islands') Faroe Islands
                            option(value='Fiji') Fiji
                            option(value='Finland') Finland
                            option(value='France') France
                            option(value='French Guiana') French Guiana
                            option(value='French Polynesia') French Polynesia
                            option(value='French Southern Territories') French Southern Territories
                            option(value='Gabon') Gabon
                            option(value='Gambia') Gambia
                            option(value='Georgia') Georgia
                            option(value='Germany') Germany
                            option(value='Ghana') Ghana
                            option(value='Gibraltar') Gibraltar
                            option(value='Greece') Greece
                            option(value='Greenland') Greenland
                            option(value='Grenada') Grenada
                            option(value='Guadeloupe') Guadeloupe
                            option(value='Guam') Guam
                            option(value='Guatemala') Guatemala
                            option(value='Guernsey') Guernsey
                            option(value='Guinea') Guinea
                            option(value='Guinea-bissau') Guinea-bissau
                            option(value='Guyana') Guyana
                            option(value='Haiti') Haiti
                            option(value='Heard Island and Mcdonald Islands') Heard Island and Mcdonald Islands
                            option(value='Holy See (Vatican City State)') Holy See (Vatican City State)
                            option(value='Honduras') Honduras
                            option(value='Hong Kong') Hong Kong
                            option(value='Hungary') Hungary
                            option(value='Iceland') Iceland
                            option(value='India') India
                            option(value='Indonesia') Indonesia
                            option(value='Iran, Islamic Republic of') Iran, Islamic Republic of
                            option(value='Iraq') Iraq
                            option(value='Ireland') Ireland
                            option(value='Isle of Man') Isle of Man
                            option(value='Israel') Israel
                            option(value='Italy') Italy
                            option(value='Jamaica') Jamaica
                            option(value='Japan') Japan
                            option(value='Jersey') Jersey
                            option(value='Jordan') Jordan
                            option(value='Kazakhstan') Kazakhstan
                            option(value='Kenya') Kenya
                            option(value='Kiribati') Kiribati
                            option(value="Korea, Democratic People\'s Republic of") Korea, Democratic People\'s Republic of
                            option(value='Korea, Republic of') Korea, Republic of
                            option(value='Kuwait') Kuwait
                            option(value='Kyrgyzstan') Kyrgyzstan
                            option(value="Lao People\'s Democratic Republic") Lao People\'s Democratic Republic
                            option(value='Latvia') Latvia
                            option(value='Lebanon') Lebanon
                            option(value='Lesotho') Lesotho
                            option(value='Liberia') Liberia
                            option(value='Libya') Libya
                            option(value='Liechtenstein') Liechtenstein
                            option(value='Lithuania') Lithuania
                            option(value='Luxembourg') Luxembourg
                            option(value='Macao') Macao
                            option(value='Macedonia, The Former Yugoslav Republic of') Macedonia, The Former Yugoslav Republic of
                            option(value='Madagascar') Madagascar
                            option(value='Malawi') Malawi
                            option(value='Malaysia') Malaysia
                            option(value='Maldives') Maldives
                            option(value='Mali') Mali
                            option(value='Malta') Malta
                            option(value='Marshall Islands') Marshall Islands
                            option(value='Martinique') Martinique
                            option(value='Mauritania') Mauritania
                            option(value='Mauritius') Mauritius
                            option(value='Mayotte') Mayotte
                            option(value='Mexico') Mexico
                            option(value='Micronesia, Federated States of') Micronesia, Federated States of
                            option(value='Moldova, Republic of') Moldova, Republic of
                            option(value='Monaco') Monaco
                            option(value='Mongolia') Mongolia
                            option(value='Montenegro') Montenegro
                            option(value='Montserrat') Montserrat
                            option(value='Morocco') Morocco
                            option(value='Mozambique') Mozambique
                            option(value='Myanmar') Myanmar
                            option(value='Namibia') Namibia
                            option(value='Nauru') Nauru
                            option(value='Nepal') Nepal
                            option(value='Netherlands') Netherlands
                            option(value='Netherlands Antilles') Netherlands Antilles
                            option(value='New Caledonia') New Caledonia
                            option(value='New Zealand') New Zealand
                            option(value='Nicaragua') Nicaragua
                            option(value='Niger') Niger
                            option(value='Nigeria') Nigeria
                            option(value='Niue') Niue
                            option(value='Norfolk Island') Norfolk Island
                            option(value='Northern Mariana Islands') Northern Mariana Islands
                            option(value='Norway') Norway
                            option(value='Oman') Oman
                            option(value='Pakistan') Pakistan
                            option(value='Palau') Palau
                            option(value='Palestinian Territory') Palestinian Territory
                            option(value='Panama') Panama
                            option(value='Papua New Guinea') Papua New Guinea
                            option(value='Paraguay') Paraguay
                            option(value='Peru') Peru
                            option(value='Philippines') Philippines
                            option(value='Pitcairn') Pitcairn
                            option(value='Poland') Poland
                            option(value='Portugal') Portugal
                            option(value='Puerto Rico') Puerto Rico
                            option(value='Qatar') Qatar
                            option(value='Reunion') Reunion
                            option(value='Romania') Romania
                            option(value='Russian Federation') Russian Federation
                            option(value='Rwanda') Rwanda
                            option(value='Saint Barthelemy') Saint Barthelemy
                            option(value='Saint Helena') Saint Helena
                            option(value='Saint Kitts and Nevis') Saint Kitts and Nevis
                            option(value='Saint Lucia') Saint Lucia
                            option(value='Saint Martin') Saint Martin
                            option(value='Saint Pierre and Miquelon') Saint Pierre and Miquelon
                            option(value='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
                            option(value='Samoa') Samoa
                            option(value='San Marino') San Marino
                            option(value='Sao Tome and Principe') Sao Tome and Principe
                            option(value='Saudi Arabia') Saudi Arabia
                            option(value='Senegal') Senegal
                            option(value='Serbia') Serbia
                            option(value='Seychelles') Seychelles
                            option(value='Sierra Leone') Sierra Leone
                            option(value='Singapore') Singapore
                            option(value='Slovakia') Slovakia
                            option(value='Slovenia') Slovenia
                            option(value='Solomon Islands') Solomon Islands
                            option(value='Somalia') Somalia
                            option(value='South Africa') South Africa
                            option(value='South Georgia and the South Sandwich Islands') South Georgia and the South Sandwich Islands
                            option(value='Spain') Spain
                            option(value='Sri Lanka') Sri Lanka
                            option(value='Sudan') Sudan
                            option(value='Suriname') Suriname
                            option(value='Svalbard and Jan Mayen') Svalbard and Jan Mayen
                            option(value='Swaziland') Swaziland
                            option(value='Sweden') Sweden
                            option(value='Switzerland') Switzerland
                            option(value='Syrian Arab Republic') Syrian Arab Republic
                            option(value='Taiwan, Republic of China') Taiwan, Republic of China
                            option(value='Tajikistan') Tajikistan
                            option(value='Tanzania, United Republic of') Tanzania, United Republic of
                            option(value='Thailand') Thailand
                            option(value='Timor-leste') Timor-leste
                            option(value='Togo') Togo
                            option(value='Tokelau') Tokelau
                            option(value='Tonga') Tonga
                            option(value='Trinidad and Tobago') Trinidad and Tobago
                            option(value='Tunisia') Tunisia
                            option(value='Turkey') Turkey
                            option(value='Turkmenistan') Turkmenistan
                            option(value='Turks and Caicos Islands') Turks and Caicos Islands
                            option(value='Tuvalu') Tuvalu
                            option(value='Uganda') Uganda
                            option(value='Ukraine') Ukraine
                            option(value='United Arab Emirates') United Arab Emirates
                            option(value='United Kingdom') United Kingdom
                            option(value='United States') United States
                            option(value='United States Minor Outlying Islands') United States Minor Outlying Islands
                            option(value='Uruguay') Uruguay
                            option(value='Uzbekistan') Uzbekistan
                            option(value='Vanuatu') Vanuatu
                            option(value='Venezuela') Venezuela
                            option(value='Vietnam') Vietnam
                            option(value='Virgin Islands, British') Virgin Islands, British
                            option(value='Virgin Islands, U.S.') Virgin Islands, U.S.
                            option(value='Wallis and Futuna') Wallis and Futuna
                            option(value='Western Sahara') Western Sahara
                            option(value='Yemen') Yemen
                            option(value='Zambia') Zambia
                            option(value='Zimbabwe') Zimbabwe
                            option(value='Kosovo') Kosovo
                          textarea#field28910546(name='field28910546', placeholder='Products and Quantity to be Shipped*', rows='3', cols='50', style='width: 97%;')
                          textarea#field28910547(name='field28910547', placeholder='Questions or comments...', rows='3', cols='50', style='width: 97%;')
                          .fieldset-content
                            label.fsOptionLabel.vertical(for='field28910548_1', style='margin: 15px 0 30px;\
                            display: block;')
                              input#field28910548_1.fsField.vertical(type='checkbox', name='field28910548[]', value='Yes, Sign me up for exclusive offers and updates by email', style='margin-right: 15px;')
                              | Yes, Sign me up for exclusive offers and updates by email
                          input.button.medium(style='display:block;', type='submit', value='Submit Inquiry')
                          .clear

                    #contact-info.full25.float-right
                      h3 Email:
                        ul
                          li
                            | Sales:
                            script(language='JavaScript').
                              var username = "sales";
                              var hostname = "evodesk.com";
                              var linktext = username + "@" + hostname ;
                              document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                          li
                            | Support:
                            script(language='JavaScript').
                              var username = "support";
                              var hostname = "evodesk.com";
                              var linktext = username + "@" + hostname ;
                              document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                          li
                            | Dealer:
                            script(language='JavaScript').
                              var username = "dealers";
                              var hostname = "evodesk.com";
                              var linktext = username + "@" + hostname ;
                              document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
                        h3 Main Office:
                        ul
                          li Evodesk
                          li 2251 Piccadilly Drive
                          li Suite C340
                          li Austin, TX 78660
                        h3 Toll-Free Telephone:
                        ul
                          li (888) 615-5721
            include footer
            script(type='text/javascript').
              $(".tabContent").hide();
              $("div.tabs div").click(function () {
              $("div.tabs div").removeClass("active");
              $(this).addClass("active");
              $(".tabContent").hide();
              var activeTab = $(this).find("a").attr("data-href");
              $(activeTab).fadeIn('slow',function(){
              $('html,body').animate({
              scrollTop: $(activeTab).offset().top-100},
              'slow');
              });
              return false;
              });
            script(type='text/javascript').
              $("div.tabs div").click(function () {
              $("div.tabContainer").removeClass("none");
              });
            script(type='text/javascript').
              $(".myBox").click(function(){
              window.location=$(this).find("a").attr("href");
              return false;
              });