doctype html
html
	include head
	body#options-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				// main
				#banner-options
					.wrapper-container
						#banner-text
							h3 Seamless integration.
							h1 Standing Desk Options
							p
								| Evodesk advanced options are designed to elevate your standing desks potential. Add one or all to make your Evodesk uniquely you.
			
				include freeport

				section#controller
					.wrapper-container
						img#programmable-controller.absolute(src='../img/programmable-controller-grey.png', data-echo='img/programmable-controller-grey.png', width='864', height='368', alt='standing desk programmable remote controller')
						.keepItRealContent
							h2 Evodesk Remembers You
							h3 Digital Programmable Controller
							p
								| The Evodesk programmable controller makes each transition quick and easy. Every Evodesk features a simple up/down button that can be placed on the right or left side of your desk. Upgrade your standing desk to the programmable controller to add LED height readout and four programmable memory buttons. After you’ve found the perfect height for sitting or standing, simply store it so that returning to your preferred height is automatic.

				section#keyboard-platform
					img#evo-keyboard.absolute(src='../img/keyboard-platform.jpg', data-echo='img/keyboard-platform.jpg', width='1282', height='838', alt='evo keyboard')
					.wrapper-container
						
						.keepItRealContent
							h2 Greater Comfort. All Day Long.
							h3 Evo Keyboard Platform
							p
								| The Evo keyboard platform is designed for the perfect keyboard and mouse position during standing and sitting. Ergonomically correct placement of the monitor and keyboard makes a world of difference. Eye, arm, shoulder and neck fatigue are all reduced. The Evo keyboard platform is the solution for staying comfortable all day long. The Evo Platform allows independent adjustment of the distance between your monitor and keyboard for the perfect ergonomic position. That means the monitor should be just below eye level. The keyboard should be positioned so your elbows form a 90 degree angle. The Evo platform accommodates sitting and standing so you’re never strained or over extended. Changing positions through the day is now even easier. We made the Ergo platform out of steel to minimize flex. We then gave it rails so it slides under the desktop. Simply push and store under Evodesk when not in use. There are no complicated levers so the sleek design of Evodesk is maintained. We custom finish each keyboard platform to perfectly match your desk.
							a.text-link(href='http://www.evodesk.com/media/evo-keyboard-specs.pdf', target='_blank')
								i.fa.fa-file-pdf-o
								|  Download Technical Specs ›


				section#harman-kardon
					.wrapper-container

						img#harman-kardon-sound-system-integrated.absolute.z-back(src='../img/harman-kardon-sound-system-integrated-white.jpg', data-echo='img/harman-kardon-sound-system-integrated-white.jpg', width='1139', height='827', alt='hardman kardon integrated sound system')

						.keepItRealContent
							h2 Perfect Sound. Perfect Location.
							h3 Harman Kardon® Built in
							p
								| Standing desks should sound good too.  The Harman Kardon® Integrated Sound System uses stunning transparent, minimalist design. It catches your eye without being a distraction. The down-firing powered subwoofer is installed underneath Evodesk. It’s out of the way and off the floor. Adjustable satellites allow freedom of movement. Touch volume and mute controls are within easy reach. The result is a powerful sound system that goes beyond anything you’ve heard before. The three piece 2.1-channel multimedia system features a down-firing powered subwoofer, eight full-range transducers, and 40 watts of clean amplification.

				
				
				section#ergopro
					img#ergo-pro-desktop.absolute.z-back(src='../img/ergo-pro-desktop.jpg', data-echo='img/ergo-pro-desktop.jpg', width='1000', height='611', alt='ergo pro desktop')
					.wrapper-container
						.keepItRealContent
							h2 It's All About the Angles
							h3 Ergo Edge™ Desktop
							p
								| The Ergo Edge™ desktop was built on modern ergonomic science to improve comfort for long hours at work or play.  The Ergo Edge™ blueprint was perfected over the span of a full year using advanced computer modeling.  The result is a complex shape that looks like no other.  Each desktop is CNC machined into the complex shape with computer controlled precision.
							p
								| The arc of the desktop follows the natural curve of your body for a more natural way of interacting with your keyboard, monitor, and your work.  The result:  you’ll reach 22% more of your desktop.  This optimal human position is scientifically proven to increase productivity.
							p
								| And the angled palm rest keeps your wrists and forearms relaxed to reduce wrist pronation and improve your posture and alignment.  Comfortable. Natural. Revolutionary. The ergonomist approved design brings you even closer to your work.  Ergo Edge™ is available only on Evodesk Renew™ recycled wood desktops.
				section#monitor-arms
					.wrapper-container
						img#mobile-monitor(src='https://www.evodesk.com/store/image/data/options/ergo-double.jpg', data-echo='https://www.evodesk.com/store/image/data/options/ergo-double.jpg', width='475', height='250', alt='ergo double monitor arms')
						.keepItRealContent
							h2 Free Up Valuable Desk Space
							h3 Evo Monitor Arms
							p
								| Free up your desktop and ease eye strain with Evo space-saving monitor arms. Adjustable, dynamic monitor arms promote healthy habits and allow you work longer without strain on your neck and back. Ergonomists suggest the ideal position for your monitor is 20-24” away and 10-15° below your eyes.
							p
								| Evo monitor arms are designed to work perfectly with SmartPass™, the Evodesk oversized cable management pass-thru—now standard on every Evodesk. SmartPass™ allows you to conceal the monitor arm bracket for an ultra-clean desktop. Installation is easy and there’s no need to drill any holes. And for maximum versatility, each monitor arm can also be clamped on the edge of Evodesk.
							p.available-in
								| Three available models for single or double displays in Carbon Black, Silver Metallic, or Polar White.
							h4(style='margin-bottom:10px;') Download Monitor Arm Model Specifications:
							a.text-link(href='http://www.evodesk.com/media/evotech-single-monitor-arm-diagram.pdf', target='_blank')
								i.fa.fa-file-pdf-o
								|  EvoTech™ Single Monitor Arm ›
							a.text-link(href='http://www.evodesk.com/media/ergo-single-monitor-arm-diagram.pdf', target='_blank')
								i.fa.fa-file-pdf-o
								|  Ergo™ Single Monitor Arm ›
							a.text-link(href='http://www.evodesk.com/media/ergo-double-monitor-arm-diagram.pdf', target='_blank')
								i.fa.fa-file-pdf-o
								|  Ergo™ Double Monitor Arm ›
					img#double-left-monitor.absolute(src='../img/ergo-double-monitor-arms-left (1).jpg', data-echo='img/ergo-double-monitor-arms-left.jpg', width='1027', height='872', alt='ergo double monitor arms')
					img#single-right-monitor.absolute(src='../img/ergo-single-monitor-arm-right.jpg', data-echo='img/ergo-single-monitor-arm-right.jpg', width='998', height='854', alt='ergo single monitor arm')


				section#highrise
					img#highrise-img.absolute.z-back(src='../img/options-highrise.png', data-echo='img/options-highrise.png', alt='highrise desk platform storage', width='1192', height='780')
					// <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-highrise.jpg" alt="highrise desk platform storage" width="1190" height="801" class="absolute z-back" id="highrise-img">
					.wrapper-container
						.keepItRealContent
							h2 Increase desk space by a remarkable 29%
							h3 Evodesk Highrise
							p
								| With the new Evodesk storage solutions, we introduce the all-new HighRise second space for your desktop. The styling perfectly coordinates with Evodesk while increasing the surface area of your desktop by a remarkable 29%. This massive platform positions your monitor at the ideal ergonomic height, and is large enough to accommodate other accessories like speakers while freeing up valuable desktop space. HighRise features an oversized grommet hole to keep all your cables under control and neatly organized.
				section#podplus
					.wrapper-container
					
						img#podplus-img.absolute.z-back(src='../img/options-options-podplus.png', data-echo='img/options-options-podplus.png', width='851', height='878', alt='pod plus quick access storage')
						.keepItRealContent
							h2 Clever Quick-Access Storage
							h3 Evodesk Pod Plus
							p
								| The all-new Evodesk pods allow you to keep your most important tools close without taking up valuable space on your desktop. The Pod Plus storage space adds up to a massive 2500 cubic inches of quick-access space below your desktop.   The standard Pod adds 1175 cubic inches of quick-access storage space right where you need it.  Store your favorite electronics, tools, and supplies within arm’s reach while maintaining the clean, uncluttered look of your desktop. Add the Pod compartment for additional storage space right where you need it.
				section#pod
					img#pod-img.absolute.z-back(src='../img/options-pod.png', data-echo='img/options-pod.png', alt='pod quick access storage', width='1249', height='801')
					// <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-pod.jpg" alt="pod quick access storage" width="1257" height="801" class="absolute z-back" id="pod-img">
					.wrapper-container
						.keepItRealContent
							h2 Clever Quick-Access Storage
							h3 Evodesk Pod
							p
								| With the right equipment, there’s nothing to stop you from taking your goals by storm.  Evodesk introduces three new user-centric solutions that include centrally located storage and a split level desktop. This keeps your tools close, and improves ergonomic positioning.
				section#cable-tray
					.wrapper-container
					
						img#cable-management-tray2.absolute.z-back(src='../img/cable-management-tray-option-standing-desk-right.jpg', data-echo='img/cable-management-tray-option-standing-desk-right.jpg', width='869', height='600', alt='vanity cover standing desk')
						.keepItRealContent
							h2 Take Control of Cable Chaos
							h3 Smarter Organization
							p
								| The numbers of power, data and phone cords seem to multiply each year. Passing them all through the desktop and keeping them organized can be a real challenge. Simplify your workspace and say goodbye to tangled cables. The cable management tray is a must have option for those who like it clean and organized. Every cable and wire feeds into a matching raceway that keeps your workspace clutter-free. Each vanity cover is custom-fabricated from steel and then finished to match the Evodesk steel frame. The custom made cable raceway is a convenient and tidy compartment for all those cables found on the modern computer system.
				section#casters
					img#evo-casters.absolute.z-back(src='../img/casters.jpg', data-echo='img/casters.jpg', alt='vanity cover standing desk', width='494', height='531')
					.wrapper-container
						.keepItRealContent
							h2 Even More Standing Desk Mobility
							h3 Evodesk™ Casters
							p
								| Casters turn your Evodesk into a mobile workstation. Oversized 3” wheels are built with solid steel axels and soft, durable polyurethane tires for smooth, even rolling on all surfaces. The casters swivel easily and quickly lock into place when you reach your desired location. With automated height adjustment, a future-proof expandable frame and smooth rolling casters, Evodesk adapts to your every need.
				section#treadmill
					.wrapper-container

						img#treadmill-img.absolute.z-back(src='../img/evodesk-treadmill.jpg', data-echo='img/evodesk-treadmill.jpg', width='983', height='440', alt='vanity cover standing desk')
						.keepItRealContent
							h2 For Health & Productivity
							h3 Treadmill System
							p
								| The Evodesk Treadmill takes your standing desk experience to the next level. A sleek, low profile, best-in-class treadmill allows you to exercise while working and make serious gains on both your health and your productivity. A whisper quiet motor, specifically engineered for walking speeds, keeps the treadmill running cool and quiet for hours at a time. A high-quality suspension with BioStepTM 6-point cushioning offers supportive shock absorption that protects your knees and joints as you walk, meaning less strain and fatigue. And when you step off of the treadmill, it automatically senses that you’ve left and shuts down—all you have to do to start up again is begin walking. The Surgeon General recommends 10,000 steps a day and the Evodesk Treadmill lets you accomplish that with ease. We’ve included a digital LED console that counts your steps, Bluetooth connectivity and a built-in USB charging port, so you have everything you need to begin your fitness journey.
				section#cpu-mount
					.wrapper-container
						img#cpu-mount-img.absolute.z-back(src='../img/cpu-mount.jpg', data-echo='http://www.evodesk.com/img/cpu-mount.jpg', width='1331', height='650', alt='cpu mount')
					
						.keepItRealContent
							h2 Space-saving Organization
							h3 Evo CPU Mount
							p
								| Save desk and floor space for a clean, organized work area. The Evo CPU Mount’s space-saving design easily adjusts to fit most PCs, from 3.25” to 9.25” wide, and swivels 360° to give you convenient access to rear CPU ports. The high-strength all steel construction, available in black, silver or white, keeps your valuable CPU securely attached under the desk and out of the way. Not only is it a great organization tool, but elevating the CPU reduces dust intake and internal contamination, which helps extend the life of your PC.
							ul
								li Swivel range:  360°
								li Track Length: 17”
								li Maximum height: 24"
								li Minimum width: 3.25" | Maximum width:  9.25"
								li Maximum weight: 60 lbs.
								li Warranty: 1 Yr
								li Available in black, silver or white for coordination with Evodesk
								li
									a.text-link(href='http://www.evodesk.com/media/cpu-mount-diagram.pdf')
										i.fa.fa-file-pdf-o
										|  Download Technical Specs ›
				section#standing-mats
					.wrapper-container

						img#standing-mat.absolute.z-back(src='../img/standing-mats.jpg', alt='standing mat')
						.keepItRealContent
							h2 Even More Standing Desk Mobility
							h3 Ergnomic Standing Mats
							p
								| Science has proven that standing periodically throughout the day can provide a myriad of health benefits. That being said, standing for extended periods of time when you’re not used to it can cause your feet to ache. In order to minimize any discomfort or fatigue you might feel while standing, try an anti-fatigue standing mat to help your feet remain in their optimal position.
							p
								| The perfect standing mat should be the right balance firmness and softness to ensure your feet have the correct amount of support without sacrificing comfort. Evodesk’s anti-fatigue standing mats meet our highest standards of comfort, support, and durability. Their active, spring-like energy provides that necessary balance of softness and firmness for the proper amount of stability and support. Its materials are inert, nontoxic, and built to last. Choose from a variety of colors and make your work area as comfortable as possible.
							ul
								li Active, spring-like energy return
								li Provides right amount of stability and support
								li Maximum fatigue reduction
								li Reduced foot, leg and back pain caused by standing for long periods of time.
								li Enhanced employee comfort & higher satisfaction
								li Inert and nontoxic
				section#evoflex
					img(src='../img/evoflex-cable-management.jpg', alt='Evoflex Cable Management')
					.wrapper-container
							.keepItRealContent
								h2 All your cords & cables under control
								h3 EvoFlex Cable Management
								p
									| No modern workstation is complete without EvoFlex, the exclusive, high-performance cable management sleeving by Evodesk.  Don't spend hours perfecting your workstation only to see a birds nest of cables and cords escaping from the back of your desk. EvoFlex was designed to conquer all cables and hide them neatly out of sight. The expandable, braided sleeving is designed to expand up to 150% of its original size and adjust to any shape for bundling, managing, and protecting one or 20+ wires and cables.
				section#evoflex2
					.wrapper-container

						img.evoflex-img(src='../img/evoflex-cable-management-closeup.jpg', alt='Evoflex cable management')
						.keepItRealContent
								p
									| Gently push the braided polyethylene monofilament together and it magically expands to 150% of its original size to contain the fast growing bundle of cords and cables found around modern workstations. Commonly used in aerospace, military and automotive applications, the EvoFlex cable management is ideal for the modern workstation cable management.
				section#powerbond
					img(src='../img/powerbond-adhesive-bases.jpg', alt='powerbond adhesive bases')
					.wrapper-container
							.keepItRealContent
								h3 Powerbond Adhesive Bases
								p
									| Each Cable Management Kit includes a generous length of Evoflex, Powerbond Adhesive Bases, 4 inch cable ties, and 6 inch cable ties.  Unlike lesser adhesive bases which can fail, Powerbond bases include a full square inch self-adhesive specially engineered to bond to any surface.  Capable of holding even the largest cable bundles, each base is rated to a remarkable 10 lbs of force.  Today’s advanced workstations often have a dozen of cables running in multiple directions.  Unlike cable trays which are limited to one area and one direction, Powerbond bases can be positioned anywhere they’re needed and rotated in any direction.  Cable management needs change often as the digital landscape is constantly evolving.  Adding a new base or changing the tie size is quick and easy.  Powerbond bases are independent, allowing you to remove the tie and replace with a shorter/longer one while leaving the base untouched.
				section#deskshields-standing-desks
					.wrapper-container
						.keepItRealContent
								h2 DO YOUR WORK ON A WORK OF ART.
								h3 Limited only by your imagination.
								p.btn-below
									| Choose from hundreds of high-definition graphic designs, from rare woods to tranquil ocean scenes to family portraits. Acting as a durable second skin to your desk, your design simultaneously protects and transforms your desktop. This digital print technology gives you the power to turn a desk made of recycled wheat stalks into a beautiful desk made of Brazilian rosewood—all the while keeping trees in the rainforest where they belong.
								a.button.medium(href='http://www.evodesk.com/deskshields') Learn More ›
						img#skin-imagination(src='../img/skin-imagination.jpg', alt='skin imagination')
				include finance
				include footer
