doctype html
html
	include head
	body#options-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				// main
				.banner-policy
					.wrapper-container
						#banner-text
							h3 PRIVACY POLICY
							p
								| Please carefully review this privacy ploicy before using this site. Any use of this website creates a binding agreement to comply with these terms adn conditions. If you do not agree to these terms, please exit this site immediately.
				section.policy-content
					.wrapper
						p
							| This Web site is the responsibility of Evodesk.com (Evodesk). If you have questions regarding the Agreement or the practices of Evodesk, please contact us by e-mail or regular mail.
						h2 The Evodesk Commitment to Privacy.
						p
							| Your privacy is important to us. To better protect your privacy Evodesk provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, Evodesk has made it available on our homepage and at every point where personally identifiable information may be requested. The Information Evodesk Collects: This notice applies to all information collected or submitted at www.evodesk.com. On some pages, you can order products, make requests, and register to receive materials. The types of personal information collected at these pages are:
						
						p Name
						p Address
						p Email Address
						p Phone number
						p Credit/Debit Card Information
						p
							| On some pages, you can submit information about other people. For example, if you order a gift online and want it sent directly to the recipient, you will need to submit the recipient's address. In this circumstance, the types of personal information collected are:
						p Name
						p Address
						p Phone number
						h2 The Way Evodesk Uses Information:
						p
							| Evodesk uses the information you provide about yourself when placing an order only to complete that order. Evodesk does not share this information with outside parties except to the extent necessary to complete that order. Evodesk uses the information you provide about someone else when placing an order only to ship the product and to confirm delivery. Evodesk does not share this information with outside parties except to the extent necessary to complete that order. Evodesk uses return email addresses to answer email that we receive. Such addresses are not shared with outside parties.
						p
							| Evodesk uses non-identifying and aggregate information to better design our Evodesk.com site and to share with advertisers. For example, evoesk may tell an advertiser that X number of individuals visited a certain area on our Evodesk website, or that Y number of men and Z number of women filled out our registration form, but Evodesk would not disclose anything that could be used to identify those individuals. Finally, Evodesk never uses or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.
						h2 Our Commitment To Data Security
						p
							| To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, Evodesk has put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information Evodesk.com collects online.
						h2 Our Commitment to Children's Privacy:
						p
							| Protecting the privacy of the very young is especially important. For that reason, Evodesk never collects or maintain information at Evodesk.com from those we actually know are under 13, and no part of our Evodesk.com is structured to attract anyone under 13. How You Can Access or Correct Your Information
						p
							| You can access all your personally identifiable information that Evodesk collects online and maintain by calling us and verifying your identitiy. Evodesk.com uses this procedure to better safeguard your information. You can correct factual errors in your personally identifiable information by sending us a request that credibly shows error. To protect your privacy and security, Evodesk will also take reasonable steps to verify your identity before granting access or making corrections.
						h2 Evodesk's Right to Contact User.
						p
							| Evodesk reserves the right to contact site visitors regarding account status and changes to the subscriber agreement, privacy policy, or any other policies or agreements relevant to site visitors.
						h2 Evodesk's Right to Change Privacy Policy.
						p
							| Evodesk reserves the right to change this policy at any time by notifying visitors of the existence and location of the new or revised privacy policy.
						h2 How To Contact Us
						p
						| Should you have other questions or concerns about these privacy policies, please send contact us by visting our contact us page
				include footer


						