doctype html
html
	head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WV9HWZH');
		// End Google Tag Manager
		link(rel='dns-prefetch', href='http://www.evodesk.com')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Evodesk Reviews | Evodesk
		meta(name='description', content='Official Evodesk site featuring the standing desk that will elevate your expectations of what standing desks should be.  And Evodesk starts at only $599.')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/navbar-styles.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='../js/nav.js')
		script(src='../js/plugins.js')
		script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
		meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js")
		script(src="../js/jsshowoff.min.js")
		script(src='../js/masonry.pkgd.min.js')
		style.
			#reviewsNav {color: #00bbde;
			box-shadow: inset 0 4px 0 #00bbde;}
		// Canonical Link
		link(rel='canonical', href='http://www.evodesk.com/reviews')
	body#reviews-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				section#banner-reviews.animated.fadeIn
					.wrapper-container
							img#reviews-page-banner.absolute.z-back.animated.longer-ani.fadeInUp(src='http://www.evodesk.com/img/reviews-banner.png', width='1174', height='714', alt='evodesk controller desktop standing desk reviews')

							.keepItRealContent

								h1 Evodesk Reviews &
								h3 Social Buzz
								p
									| See what Evodesk customers are saying about their new standing desks and join the social standing revolution!
				section#join-clients-like
					h3 Featured In
					#carousel
						div
							img(src='http://www.evodesk.com/img/logos/chipchick-logo.gif', width='400', height='175', alt='chipchick logo')
						div
							img(src='http://www.evodesk.com/img/logos/psfk-logo.gif', width='400', height='175', alt='psfk logo')
						div
							img(src='http://www.evodesk.com/img/logos/slash-gear-logo.gif', width='400', height='175', alt='slashgear logo')
						div
							img(src='http://www.evodesk.com/img/logos/pc-gamer-logo.gif', width='400', height='175', alt='pc gamer logo')
						div
							img(src='http://www.evodesk.com/img/logos/entrepreneur-logo.gif', width='400', height='175', alt='entrepreneur logo')
						div
							img(src='http://www.evodesk.com/img/logos/digital-trends-logo.gif', width='400', height='175', alt='digital trends')
						div
							img(src='http://www.evodesk.com/img/logos/details-logo.gif', width='400', height='175', alt='details logo')
						div
							img(src='http://www.evodesk.com/img/logos/alpha-brain-gaming.gif', width='400', height='175', alt='alpha brain gaming logo')
						div
							img(src='http://www.evodesk.com/img/logos/examiner-loog.gif', width='400', height='175', alt='examiner logo')
						div
							img(src='http://www.evodesk.com/img/logos/mental-floss-logo.gif', width='400', height='175', alt='mental floss logo')
				// <section id="gallery" style="background:#fff;"><div id="gallery-title" class="full100 center-all"><h2>@Evodesk <strong>Social Buzz</strong></h2></div></section>
				section.featured-article-bg-light
					.wrapper-container
						a#pc-gamer-logo.float-left.full30(href='http://www.pcgamer.com/evodesk-standing-desk-review/', target='_blank')
							img(src='http://www.evodesk.com/img/pc-gamer-logo.jpg', width='492', height='221', alt='PC Gamer Logo')
						.keepItRealContent
							p
								b Editors Choice: Score of 90
								|   "Adjustable, stable, and smooth, the EvoDesk is a potent and well designed sit/stand gaming desk…in fact, despite a few nitpicks, I liked it so much my old traditional desk now sits in storage, disassembled."
							a.text-link(href='http://www.pcgamer.com/evodesk-standing-desk-review/', target='blank') Read More ›
				section.featured-article-bg-grey
					.wrapper-container
						.keepItRealContent-left
							a.featured50-logo(href='http://www.details.com/blogs/daily-details/2015/08/stand-and-deliver-stylish-ergonomic-desks.html', target='_blank')
								img(src='http://www.evodesk.com/img/details-logo.jpg', width='672', height='161', alt='details.com logo')
							p
								b "All by itself, this programmable sit-to-stand desk is stunning.
								|  But outfit it with the built-in Harman Kardon sound system, and it's veritable eye (and ear) candy. It features eight transducers and a down-firing subwoofer that's mounted under each desktop. It's so beautiful, you can even find it as part of the New York Museum of Modern Art's permanent collection."
							a.text-link(href='http://www.details.com/blogs/daily-details/2015/08/stand-and-deliver-stylish-ergonomic-desks.html', target='blank') Read More ›
						.vertical-seperator
						.keepItRealContent-right
							a.featured50-logo(href='http://www.entrepreneur.com/article/253519', target='_blank')
								img(src='http://www.evodesk.com/img/entrepreneur-logo.jpg', width='672', height='161', alt='Entrepreneur logo')
							p
								b Featured as a Top Ten Gift by Entrepreneur.com
							p
								| "There are several manufacturers that make standing desks, but I chose this one -- it’s the Lamborghini of standing desks -- super sleek."
							a.text-link(href='http://www.entrepreneur.com/article/253519', target='blank') Read More ›
				section.featured-article-bg-light
					.wrapper-container
						a#digital-trends-logo.float-left.full30(href='http://www.digitaltrends.com/furniture-reviews/evodesk-review/', target='_blank')
							img(src='http://www.evodesk.com/img/digital-trends-logo.jpg', width='492', height='221', alt='Digital Trends Logo')
						.keepItRealContent
							p
								b "The star of the show, however, is the EvoGuard coating.
								|  The textured black design stands out in our office of wooden desks that, in comparison, look like they were pulled off an old ship. This slick, modern take on the desktop fits the current theme of glossy and matte finishes found on most gaming peripherals."
							a.text-link(href='http://www.digitaltrends.com/furniture-reviews/evodesk-review/', target='blank') Read More ›
				section.featured-article-bg-grey
					.wrapper-container
						.keepItRealContent-left
							a.featured50-logo(href='https://alphabraingaming.com/your-desk-has-evolved/', target='_blank')
								img(src='http://www.evodesk.com/img/alpha-brain-gaming-logo.png', width='672', height='161', alt='Alpha Brain Gaming logo')
							p
								| "Standing while gaming is nothing new, but this suped up desk is. If you’ve got the money and need to have top of the line gaming equipment, 
								b this is the desk you want.
								| "
							a.text-link(href='https://alphabraingaming.com/your-desk-has-evolved/', target='blank') Read More ›
						.vertical-seperator
						.keepItRealContent-right
							a.featured50-logo(href='http://www.slashgear.com/evodesk-gaming-desk-lets-you-sit-or-stand-as-you-frag-17405201/', target='_blank')
								img(src='http://www.evodesk.com/img/slash-gear-logo.jpg', width='672', height='161', alt='Slash Gear logo')
							p
								| “The entire surface of the desk is finished in a material called EvoGuard that is designed for high mousing precision. That means you need no fancy gaming mouse pad, you simply put the mouse on the desk surface.”
							a.text-link(href='http://www.slashgear.com/evodesk-gaming-desk-lets-you-sit-or-stand-as-you-frag-17405201/', target='blank') Read More ›
				section.featured-article-bg-light
					.wrapper-container
						a(href='http://www.psfk.com/2015/08/standing-desk-evodesk-gaming-desk.html', target='_blank')
							img#psfk-logo(src='http://www.evodesk.com/img/psfk-logo.png', width='400', height='400', alt='psfk logo')
						.keepItRealContent
							p
								b
									| "When they say designed with hardcore gamers in mind, they don’t just mean the color scheme.
								|  Evodesk has taken into account every particular gaming need. For example, the desk surface is EvoGuard-finished, a trademarked surface coating with thousands of light-reflecting points kind to high-end gaming optical mouse."
							a.text-link(href='http://www.evodesk.com/http://www.psfk.com/2015/08/standing-desk-evodesk-gaming-desk.html', target='blank') Read More ›
				section#customers-title
					.wrapper-container
						h2 What Evodesk™ Customers are saying...
				section#reviews
					.wrapper-container
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p "This is the problem with modern offices. I get seduced by gear."
									h4
										i.fa.fa-twitter
										|  @wiredferret
									a(href='https://twitter.com/wiredferret/status/611628913312202752')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CLKuXIHUYAAZJ4R.jpg', width='600', height='800')
								.quote-wrapper.qw-img
									p
										| "Loving my new 
										strong @evodesk
										|  so glad I chose the ergo edge and the cable tray for that clean look"
									h4
										i.fa.fa-twitter
										|  @machojeremy
									a(href='https://twitter.com/machojeremy/status/626755014678089728')
						.keepItRealContent.review.myBox.clickDiv
							.padded
								.quote-wrapper
									p
										| "
										strong @evodesk
										|  - finally ordered the ol' polar white beauty today. Can't wait to get stood whilst working. Get up stand up."
									h4
										i.fa.fa-twitter
										|  @toomanyABrowns
									a(href='https://twitter.com/toomanyABrowns/status/626124294930599936')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CLQoXk2UcAAzD7i.jpg', width='600', height='450')
								.quote-wrapper.qw-img
									p
										| "I've had sciatica and was able to get an 
										strong @evodesk
										|  standing desk. @CompTIA is an awesome place to work! #comptiaperks"
									h4
										i.fa.fa-twitter
										|  @noeleberline
									a(href='https://twitter.com/noeleberline/status/627170634922106881')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "@JoeKaiserSports @cfrelund Bought a stand/sit desk from @evodesk and it changed my world. Changed.My.World."
									h4
										i.fa.fa-twitter
										|  @Socrdave
									a(href='https://twitter.com/Socrdave/status/626955458427752448')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CLBrvMtUMAAAgn0.jpg', width='600', height='450')
								.quote-wrapper.qw-img
									p
										| "It lives!!! 
										strong @evodesk
										| "
									h4
										i.fa.fa-twitter
										|  @ckz8780
									a(href='https://twitter.com/ckz8780/status/626118811628867586')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='http://static.ow.ly/photos/normal/89tfA.jpg', width='618', height='618')
								.quote-wrapper.qw-img
									p
										| "While I was away, my team got me an 
										strong @evodesk
										| . Love it! http://ow.ly/i/89tfA"
									h4
										i.fa.fa-twitter
										|  @kkinnison
									a(href='https://twitter.com/kkinnison/status/552115221641572353')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "After researching all day I decided to stick w/ the 
										strong @evodesk
										|  ... @UpDesk and others are really sweet but bottom line is evo was best bang"
									h4
										i.fa.fa-twitter
										|  @ckz8780
									a(href='https://twitter.com/ckz8780/status/623686481899601920')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CJ6wrVCUkAAP0xK.jpg', width='600', height='800')
								.quote-wrapper.qw-img
									p "My @evodesk is wonderful. Here are pics up and down. Love it! "
									h4
										i.fa.fa-twitter
										|  @bjmillerltd
									a(href='https://twitter.com/bjmillerltd/status/621128057689083904')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "Finally got some time to build my height adjustable pallet @evodesk now to get some new toys to sit… https://instagram.com/p/4xeJV_CY7E/ "
									h4
										i.fa.fa-twitter
										|  @HamishHill
									a(href='https://twitter.com/HamishHill/status/617838193648513024')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CIdM1JRVAAE4Bl_.jpg', width='600', height='800')
								.quote-wrapper.qw-img
									p "my @evodesk arrived today. assembly was a cinch. (cat for scale) "
									h4
										i.fa.fa-twitter
										|  @tsantero
									a(href='https://twitter.com/tsantero/status/614544350140235776')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CISN_kbWUAIRZxs.jpg', width='600', height='800')
								.quote-wrapper.qw-img
									p
										| "Everyone's up at their #standingdesks in the office today! Big thanks to 
										strong @evodesk
										|  @NextDesks! #officelife "
									h4
										i.fa.fa-twitter
										|  @BrummittEnergy
									a(href='https://twitter.com/BrummittEnergy/status/613771573619781632')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CGa1XlGWQAEee_c.jpg', width='600', height='450')
								.quote-wrapper.qw-img
									p
										| "@evodesk Up and running. Now all I need is to give her a name. Thanks for being there and listening. "
									h4
										i.fa.fa-twitter
										|  @BrummittEnergy
									a(href='https://twitter.com/fortune8/status/605370975224492032')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CIHbR-BWsAAb58P.jpg', width='600', height='1065')
								.quote-wrapper.qw-img
									p
										| "@evodesk love my new desk its been about a month and it is great. I've recommended to all who ask - Thank you!  "
									h4
										i.fa.fa-twitter
										|  @MiccalM
									a(href='https://twitter.com/MiccalM/status/613012126974787584')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p "finally decided on a new desk for the office. went with an @evodesk"
									h4
										i.fa.fa-twitter
										|  @tsantero
									a(href='https://twitter.com/tsantero/status/612811005916123137')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/CGC2RorUEAE5q-F.jpg', width='600', height='600')
								.quote-wrapper.qw-img
									p
										| "Amazing details ! Great product and customer service ! Highly recommend 
										strong @evodesk
										|  #evodesk thanks #happy #geek "
									h4
										i.fa.fa-twitter
										|  @pamirrimap
									a(href='https://twitter.com/pamirrimap/status/603682799732723712')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "@cjb5790 An 
										strong @evodesk
										| . Happy so far. They've been super responsive with support & it's far more stable than other adjustables I've tried."
									h4
										i.fa.fa-twitter
										|  @tkadlec
									a(href='https://twitter.com/tkadlec/status/545298345972207616')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/B4bQu22CEAATFWW.jpg', width='600', height='800')
								.quote-wrapper.qw-img
									p
										| "I am standing up for my work these days, thanks to 
										strong @evodesk
										|  "
									h4
										i.fa.fa-twitter
										|  @joachimscholz
									a(href='https://twitter.com/joachimscholz/status/542350311805837312')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "
										strong @evodesk
										|  Buying the desk alone, due to durable surface/curved edges is a good, no frills value. Good packing/shipping."
									h4
										i.fa.fa-twitter
										|  @cmieritz
									a(href='https://twitter.com/cmieritz/status/544671603536048128')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/B5OcTGLIcAAVN6e.jpg', width='478', height='637')
								.quote-wrapper.qw-img
									p
										| "First full day with my 
										strong @evodesk
										| "
									h4
										i.fa.fa-twitter
										|  @Clagett
									a(href='https://twitter.com/Clagett/status/545951831814574080')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "
										strong @evodesk
										|  looking forward to your next promotion."
									h4
										i.fa.fa-twitter
										|  @mdinh235
									a(href='https://twitter.com/mdinh235/status/544357511013216258')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "
										strong @evodesk
										|  My first impression, looking at keyboard tray, is at you're using an extremely high quality finish, applied flawlessly."
									h4
										i.fa.fa-twitter
										|  @cmieritz
									a(href='https://twitter.com/cmieritz/status/543480752743006208')
						.keepItRealContent.review.clickDiv
							.padded
								img.social-image(src='https://pbs.twimg.com/media/B4nvKoECEAAv4bs.jpg', width='600', height='355')
								.quote-wrapper.qw-img
									p
										| "
										strong @evodesk
										|  dry run in new home ofc. Loving the desk, highly-recommend. Studio monitors and iMac Retina 5K not included."
									h4
										i.fa.fa-twitter
										|  @julian_west
									a(href='https://twitter.com/julian_west/status/543228195978219520')
						.keepItRealContent.review.clickDiv
							.padded
								.quote-wrapper
									p
										| "So I did pull the trigger on a sit/stand desk finally. It arrived today. I ended up going with 
										strong @evodesk
										|  Now to find the time to install it"
									h4
										i.fa.fa-twitter
										|  @jimgoldstein
									a(href='https://twitter.com/jimgoldstein/status/542564906449387521')
				include finance
				include join-our-mailing
				include footer
				//if lt IE 9
					script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
				
				
				script(type='text/javascript').
					$( document ).ready(function() {
					$('#featured-rotator').jshowoff({
					links: false,
					controls: false,
					effect: 'fade',
					hoverPause: true ,
					changeSpeed: 1000,
					autoPlay: true,
					speed: 5000
					});
					});

				script(type='text/javascript').
					var x=document.getElementsByClassName('clickDiv');
					for(var i=0; i < x.length; i++)
					 	{
						 x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
						};

					var grid = document.querySelector('#reviews');
					var msnry = new Masonry(grid,{
						itemSelector: '.review'
					});
				script(type='text/javascript').
					var x=document.getElementsByClassName('myBox');
					for(var i=0; i < x.length; i++)
					{
					x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
					};
					// echo.render(); is also available for non-scroll callbacks
				// LOAD FONTS
				script(type='text/javascript', src='//use.typekit.net/ter5vyf.js')
				script(type='text/javascript').
					try{Typekit.load();}catch(e){}
				
				script(src='../js/jquery.carouFredSel-6.0.4-packed.js', type='text/javascript')
				script(type='text/javascript').
					$(function() {
					$('#carousel').carouFredSel({
					responsive: true,
					scroll: 1,
					items: {
					width: 300,
					visible: {
					min: 1,
					max: 10
					}
					}
					});
					});
				
				
				// #EndLibraryItem
				script(type='text/javascript').
					var x=document.getElementsByClassName('myBox');
					for(var i=0; i < x.length; i++)
					{
					x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
					};
					// Lazy Load
					// echo.render(); is also available for non-scroll callbacks
				
