doctype html
html
	include head
	body#options-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				// main
				.banner-policy
					.wrapper-container
						#banner-text
							h3 SHIPPING & RETURNS
							p
								| Learn more about our shipping and return procedured below
				section.policy-content
					.wrapper
						h3 Domestic Shipping
						p
							| Evodesk ships 48&rdquo; desks, 60&rdquo; desks and accessories via Fed Ex. 72&rdquo; and larger desks must be shipped via truck lines due to size.
						h3 International Shipping
						p
							| Evodesk will gladly ship products worldwide to most international destinations. The Evodesk Online Store ships within the United States of America and Canada. If you wish to get an international shipping quote on any of our products, please use our 
							a.text-link-small(href='http://www.evodesk.com/international-shipping') international shipping form
							|  to obtain a shipping quote.
						h3 Options for home delivery
						p Desks that are 60&rdquo; and smaller will be delivered via Fed Ex.
						p
							| For desks that are 72&rdquo; and larger, there are two types of delivery options: curbside delivery and inside delivery. With curbside delivery, the driver will bring the desk to the end of the driveway at the delivery location. The driver cannot bring the time under any coverings or inside your delivery location. Depending on the shipping company, they may remove the item from their truck. The second type of delivery is Inside Delivery. The driver will help bring the item inside your home. Inside delivery typically costs an extra $75. Extraordinary delivery requirements such as a multi-level building may require additional delivery charges.
						h3 Inspecting shipment for damage
						p
							| Many of our desks are large and rather heavy. Do not sign for a package before you inspect it. First, inspect the box for obvious damage. We then recommend that you open the box that contains the desktop to inspect for concealed damage. Once the driver leaves it becomes the buyer&rsquo;s responsibility to file a claim. Call the carrier immediately for instructions or visit their website for detailed instructions.
						h3 Large Desk Deliveries (desks 72&rdquo; or larger)
						p
							| The carrier will typically call to schedule a delivery appointment. Appointments are available during normal business hours and a 4 hour period. Please include a daytime phone number in the shipping information at the time of checkout.
						span#returns
						h3 Shipping date
						p Please allow 1-3 days for order processing. Transit time is normally 2-4 days.
						h3 Returns
						p
							| We believe you&apos;ll be thrilled with your new Evodesk. That&apos;s because we go out of our way to ensure each Evodesk is designed and built to be just what you want. We understand, however, that sometimes a product is not a good fit for you or your space for whatever reason. In that unlikely event, we invite you to return it.
						p
							| You may return your undamaged Evodesk with the receipt and packing within 30 days of purchase for a full refund of the purchase price less any shipping or installation charges. If Evodesk is returned within this timeframe and in its original condition, we&apos;ll exchange it for a new one or offer a refund based on the original payment method.
						h3 How to return
						p
							| Prior to shipping your item back to Evodesk, you must call or visit our contact us page to obtain an RGA number. To avoid damage during the return, it is required that you ship any return to Evodesk in its original packaging or equivalent packaging. You must ship any product to the address given to you when your RGA is issued. It is important to write the RGA number on the outside of each box so we may issue the credit to you.
						h3 Refunds
						p
							| The way your refund is processed depends on your original payment method. Credit card refunds will be issued to the same card bank within 7 business days of receipt of the returned item. If you paid via cash or check, we will mail you a check to your billing address within 14 days of receipt of the returned product.
				include footer


						