doctype html
html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    // End Google Tag Manager
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    link(rel='dns-prefetch', href='http://d17bplqo9q3lum.cloudfront.net')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Specifications | Evodesk
    meta(name='description', content='Explore Evodesk specifications and diagrams for precise measurements and details.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
    meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
    style(type='text/css').
      #about-nav {color: #00bbde;}
      #banner {  background-position: 0px -190px;}
      @media all and (max-width: 1000px) {
      #about-nav  {color: #00bbde !important;}
      }
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/specifications')
  body#options-page
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      // #BeginLibraryItem "/Library/header.lbi"
      include navbar
      main.cd-main-content
        // #EndLibraryItem
        section#banner-specifications
            #banner-text.animated.fadeIn
              h3 Every Detail Matters.
              h1 Standing Desk Specifications
              p
                | Learn more about the specifics that set Evodesk apart from the rest. Quality materials, more features, more possibilities.
        section#desktop-specifications.common-specification-styles
          .wrapper-container
            h3 Desktop Specifications
            img#desktop-specs-img(src='http://www.evodesk.com/img/evodesk-desktops-specifications.jpg', width='1100', height='285', alt='evodesk desktop specifications')
            .specs-wrapper
              ul
                li 100% reclaimed/recycled wood desktops
                li Available in 100% Recycled wood, Natural Bamboo, or Reclaimed Rubberwood
                li EvoGuard™ durable & stylish non-VOC seamless coating on 100% Recycled wood.
                li
                  | Natural Bamboo and Rubberwood protected by 100% solid ultraviolet cured finish (non-VOC and solvent-free)
                li Soft comfort edges eliminate nerve compression and pressure fatigue
                li Corners are slightly rounded for improved safety and style 
                li Oversized 3” x 6” Cable Pass Through
                li Pre-drilled for quick and easy setup
                li
                  | Available sizes: 
                  strong 48"
                  |  (30” x 48" x .75”), 
                  strong  60"
                  |  (30” x 60” x .75”), 
                  strong 72"
                  |  (30” x 72” x .75”)
                li
                  | Available Finishes:Carbon Black, Polar White, Slate Grey (in EvoGuard™) - Light, Medium, Dark UV cured finish (in Rubberwood & Natural Bamboo)
                li Studio L Size: Return Side (72” x 46” x .75”) User Side (72” x 28” x .75”)
                li Meets California Air Resources Board’s (CARB 2) stringent emission standard
                li Backed by a no-nonsense 5-year limited warranty
                li
                  | Optional Extended Warranty Coverage for an additional 3 or 6 years for 8 or 11 years total.
                li
                  a.text-link(href='http://www.evodesk.com/media/desktop-diagrams.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Standard Desktop Specs ›
                li
                  a.text-link(href='http://www.evodesk.com/media/studio-l-desktop-diagram.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Studio-L Desktop Specs ›
            .specs-downloads
              .full50.float-left.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-desktops.jpg', width='250', height='232', alt='Download Evodesk Desktops Diagram PDF')
                h2 Rectangle Desktop Diagrams
                a.text-link(href='http://www.evodesk.com/media/desktop-diagrams.pdf') Download PDF
              .full50.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/studio-l-desktop-diagram.jpg', width='250', height='232', alt='Download Evodesk Desktops Diagram PDF')
                h2 Studio-L™ Desktop Diagrams
                a.text-link(href='http://www.evodesk.com/media/studio-l-desktop-diagram.pdf') Download PDF
        section#frame-specifications.common-specification-styles
          .wrapper-container
            h3 Evolution™ Frame Specifications
            img#frame-specs-img(src='http://www.evodesk.com/img/frame-specifications.jpg', width='1100', height='583', alt='evodesk frame specification')
            .specs-wrapper
              ul
                li Power-adjustable height with over 250 positions 
                li Expandable frame works with any 48” – 90” desktops
                li Low-profile push button height controller 
                li Best-in-class 1.5 inches per second transitions
                li Best in class 355 lbs frame weight capacity
                li Best in class maximum height:  49.5”
                li Min height:  23.75”
                li Solvent-free and environmentally friendly finish 
                li EvoSync™ guidance system ensures precise & level movement
                li Dust, air, and moisture resistant frame design
                li Frame and motors are backed by a no-nonsense 5-year limited warranty
                li
                  | Optional Extended Warranty Coverage for an additional 3 or 6 years for 8 or 11 years total.
                li
                  a.text-link(href='http://www.evodesk.com/media/frame-diagram.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Standard Frame Specs ›
                li
                  a.text-link(href='http://www.evodesk.com/media/studio-l-frame-diagram.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Studio-L Frame Specs ›
            .specs-downloads
              .full50.float-left.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-frame.jpg', width='250', height='232', alt='Download Evodesk Frame Diagram PDF')
                h2 Evolution™ Frame Diagram
                a.text-link(href='http://www.evodesk.com/media/frame-diagram.pdf') Download PDF
              #manual.full50.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-manual.jpg', width='250', height='232', alt='Download Evodesk Manual PDF')
                h2 Evodesk Assembly Manual
                a.text-link(href='http://www.evodesk.com/manual-v2') Download PDF
        include finance
        include footer
        script(type='text/javascript').
          var x=document.getElementsByClassName('clickDiv');
          for(var i=0; i < x.length; i++)
          {
          x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
          };
