doctype html
html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    // End Google Tag Manager
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Evodesk Storage Options
    meta(name='description', content='NEED')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
    meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
    style(type='text/css').
      #productNav { color: #00bbde;
      box-shadow: inset 0 4px 0 #00bbde;
      }
      @media (min-width: 1300px) {
      #banner { background-position: center 90px;}
      }
      @media all and (max-width: 1000px) {
      #productNav {color: #00bbde !important;}
      }
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/evodesk-pro')
  body#storage-pods
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      include navbar
      main.cd-main-content
        section#standing-desk-banner
          .wrapper-container
            #banner-text-wrapper.animated.fadeIn
              #banner-text
                h3 Evodesk Storage Options
          img.product(src='http://www.evodesk.com/img/storage-pod-hero.png', alt='Evodesk Storage Options')

        section#highrise
          img#highrise-img.absolute.z-back(src='http://www.evodesk.com/img/options-highrise.png', data-echo='img/options-highrise.png', alt='highrise desk platform storage', width='1192', height='780')
          // <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-highrise.jpg" alt="highrise desk platform storage" width="1190" height="801" class="absolute z-back" id="highrise-img">
          .wrapper-container
            .keepItRealContent
              h2 Increase desk space by a remarkable 29%
              h3 Evodesk Highrise
              p
                | With the new Evodesk storage solutions, we introduce the all-new HighRise second space for your desktop. The styling perfectly coordinates with Evodesk while increasing the surface area of your desktop by a remarkable 29%. This massive platform positions your monitor at the ideal ergonomic height, and is large enough to accommodate other accessories like speakers while freeing up valuable desktop space. HighRise features an oversized grommet hole to keep all your cables under control and neatly organized.
            
        section#podplus
          .wrapper-container
          
            img#podplus-img.absolute.z-back(src='http://www.evodesk.com/img/options-options-podplus.png', data-echo='img/options-options-podplus.png', width='851', height='878', alt='pod plus quick access storage')
            .keepItRealContent
              h2 Clever Quick-Access Storage
              h3 Evodesk Pod Plus
              p
                | The all-new Evodesk pods allow you to keep your most important tools close without taking up valuable space on your desktop. The Pod Plus storage space adds up to a massive 2500 cubic inches of quick-access space below your desktop.   The standard Pod adds 1175 cubic inches of quick-access storage space right where you need it.  Store your favorite electronics, tools, and supplies within arm’s reach while maintaining the clean, uncluttered look of your desktop. Add the Pod compartment for additional storage space right where you need it.
            img#podplus-pod-img.absolute.z-back(src='http://www.evodesk.com/img/options-podplus.png', data-echo='img/options-podplus.png', width='1149', height='801', alt='pod plus quick access storage')
        section#pod
          img#pod-img.absolute.z-back(src='http://www.evodesk.com/img/options-pod.png', data-echo='img/options-pod.png', alt='pod quick access storage', width='1249', height='801')
          // <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-pod.jpg" alt="pod quick access storage" width="1257" height="801" class="absolute z-back" id="pod-img">
          .wrapper-container
            .keepItRealContent
              h2 Clever Quick-Access Storage
              h3 Evodesk Pod
              p
                | With the right equipment, there’s nothing to stop you from taking your goals by storm.  Evodesk introduces three new user-centric solutions that include centrally located storage and a split level desktop. This keeps your tools close, and improves ergonomic positioning.
        include finance
        include join-our-mailing
        include footer
      // #EndLibraryItem
    // Max Wrapper
    script(type='text/javascript').
      // Rotator
      $('#quotes-rotator').jshowoff({
      links: false,
      controls: false,
      effect: 'fade',
      hoverPause: false ,
      changeSpeed: 600,
      autoPlay: true,
      speed: 5000
      });
