doctype html
html
	include head
	body
		#max-wrapper
			include navbar
			// max-wrapper
			header
			// end of header
			main.cd-main-content
				// main
				section#video-banner
					// video-banner section
					.video-container
						// video-container
						video#video-banner.hero-video(autoplay='', loop='', poster='https://s3.amazonaws.com/evodesk/video/evodesk_video_banner.jpg')
							// 
							//
								we want the videos to load after the page has loaded so using data-src instead of src
								will then use javascript to build src (see js below)
							source(data-src='https://s3.amazonaws.com/evodesk/video/evodesk_video_banner.webm', type='video/webm', src='https://s3.amazonaws.com/evodesk/video/evodesk_video_banner.webm')
							source(data-src='https://s3.amazonaws.com/evodesk/video/evodesk_video_banner.mp4', type='video/mp4', src='https://s3.amazonaws.com/evodesk/video/evodesk_video_banner.mp4')
							source(data-src='https://s3.amazonaws.com/evodesk/video/evodesk_video_banner.ogv', type='video/ogg', src='https://s3.amazonaws.com/evodesk/video/evodesk_video_banner.ogv')
							|                         Your browser doesn't support HTML5 video tag.
						#hero-text-wrapper
							#hero-text
								h3 It's Time to Evolve
								h1 Standing Desks took a huge leap forward
								p
									| From the moment it first appeared on a drawing board, Evodesk changed the momentum of what was considered a real standing desk.
								a#banner-play(href='#overview') Play Video
					// end of video-container
				// end of video banner section
				section#overview
					// overview section
					.wrapper-container
						#videoContentId
							h2 More Power. More Style.
							h3
								span Your
								|  Desk
							p
								| No matter where it is, it's your home base. You're busy, lots to do. But you always come back to your desk, because it's your space. Designed by you, made by us, it's timeless, it's today. It's your Evodesk.
							p.btn-below
								| Explore all the ways to make Evodesk your desk today.
							a.text-link(href='#explore-desktops') Explore Evodesk Features ›
						#videoId.videoClass
							script(src='https://f.vimeocdn.com/js/froogaloop2.min.js')
							iframe#player1(src='https://player.vimeo.com/video/207338559?api=1&player_id=player1', width='800', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
				// end of overview section
				section#elevate
					// elevate section
					.wrapper-container
						// wrapper-elevate
						#video_elevate(style='width: 60%;float: left;')
							#videoId1(style='padding-top: 57%;width: 100%;position: relative;padding: 0')
								iframe#player2(src='https://player.vimeo.com/video/124627287?api=1&player_id=player2', width='800', height='500', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
						#videoContentId1
							h2 More Power. More Style.
							h3
								span Elevate
								|  Your Expectations
							p
								| Press a button and EvoDesk zooms to your choice of 250 different sitting and standing positions. The speed at which Evodesk moves is an amazing 1.5 inches per second. With a 50” maximum height, Evodesk is perfect for everyone. Evodesk also has the highest weight capacity in its class. You can load Evodesk with 355 pounds so it’s strong enough to lift all of your most prized possessions. So go ahead and get that 2nd or 3rd giant monitor, attach your PC and connect your Harmon Kardon sound system. Evodesk lifts it all without breaking a sweat.
					// end of wrapper-elevate
				// end of elevate section
				section#carousel-desks
					// carousel-section
					.wrapper-container
						// wrapper-container
						.carousel-intro
							// carousel-intro div
							h3
								span Explore
								|  Evodesk
							h2 Sustainably designed. Stunningly Crafted.
							p
								| With a focus on sustainable design, we took a bold step in a new direction offering three premium desktop materials designed to inspire.
						// end of carousel-intro div
						ul.slider
							// slider
							li
								img.desktop-images(src='../img/desktops-cascade-evoguard.jpg', width='1600', height='443', alt='desktop cascade rubberwood', title='Renew Recycled Wood')
							li
								img.desktop-images(src='../img/desktops-cascade-rubberwood.jpg', width='1600', height='443', alt='desktop cascade rubberwood', title='Genuine Rubberwood')
							li
								img.desktop-images(src='../img/desktops-cascade-bamboo.jpg', width='1600', height='443', alt='desktop cascade rubberwood', title='Genuine Bamboo')
						// end of slider
						.thirtyColumnParent
							// three column row div
							.thirtyColumnChild
								img.full(src='../img/evoguard-desktop-swatches.jpg', data-echo='http://www.evodesk.com/img/evoguard-desktop-swatches.jpg', width='700', height='250', alt='rubberwood desktop swatches - evodesk')
								.thirtyColumnContent
									h2 Renew&trade; recycled wood
									h4 Polar White / Slate Grey / Carbon Black
									p
										| Our 100% recycled and reclaimed wood desktops are sourced from forestry operations, orchard pruning, sawmills and construction sites. The material diverted from landfills is closely inspected and then CNC machined to exacting specifications. This precision allows the addition of those important small details like comfort edges and soft radius corners.
							.thirtyColumnChild
								img.full(src='../img/rubberwood-desktop-swatches.jpg', data-echo='http://www.evodesk.com/img/rubberwood-desktop-swatches.jpg', width='700', height='250', alt='rubberwood desktop swatches - evodesk')
								.thirtyColumnContent
									h2 Genuine Rubberwood
									h4 Light / Medium / Dark
									p
										| This gorgeous wood looks a lot like oak but is highly sustainable. After 30 years of latex production, rubber trees must be replaced with new ones. Instead of burning them, they’re sent to Evodesk where they are converted into desktops with a dense, warm grain that’s protected by a solvent-free and UV-cured durable finish.
							.thirtyColumnChild
								img.full(src='../img/bamboo-swatches.jpg', data-echo='http://www.evodesk.com/img/bamboo-swatches.jpg', width='700', height='250', alt='rubberwood desktop swatches - evodesk')
								.thirtyColumnContent
									h2 Genuine Bamboo
									h4 Light / Medium / Dark
									p
										| The calming, natural tones of Bamboo deliver style, serenity and an ageless beauty to any space. Growing up to 39 inches in a single day, bamboo is the fastest growing woody plant on earth. We select the highest-grade premium bamboo and apply a solvent-free and UV-cured durable finish.
						// end of three column row div
					// end of wrapper-container
				// end of carousel-section
				section#explore-frame
					// explore-frame section
					.wrapper-container
						// wrapper-container div
						.animation-desk-intro
							// intro div for animation div
							h3
								| One Frame. 
								span Future Proof.
							h2 Highly Expandable Frame System
							p
								| Your life is continuosly evolving. That's why we made the Evolution™ frame to evolve with your lifestyle. Fully adjustable, highly customizable, this may be the last desk you'll ever need to buy.
						// end of intro div for animation sexction
						#animated-frame.relative.animated-frame.upDown.infinite
							// animation div
							img#animated-leftside.absolute(src='http://www.evodesk.com/img/evolution-frame-center.png', data-echo='http://www.evodesk.com/img/evolution-frame-center.png', width='1600', height='624', alt='evolution frame center crossbar')
							img#animated-centerbar.absolute.animated-frame.infinite.leftRight(src='http://www.evodesk.com/img/evolution-frame-left-side.png', data-echo='http://www.evodesk.com/img/evolution-frame-left-side.png', width='1600', height='624', alt='evolution frame left side')
							img#animated-rightside.absolute.animated-frame.infinite.rightLeft(src='http://www.evodesk.com/img/evolution-frame-right-side.png', data-echo='http://www.evodesk.com/img/evolution-frame-right-side.png', width='1600', height='624', alt='evolution frame right side')
						// end of animation div
						.thirtyColumnParent
							.thirtyColumnChild
								img#expandable-frame-option-detail-img.full(src='../img/expandable-frame-system.jpg', data-echo='../img/expandable-frame-system.jpg', width='700', height='250', alt='performance design')
								.thirtyColumnContent
									h2 Expandable Frame System
									h4 For Desktop Sizes 48" - 90"
									p
										| All standing desks move up and down. But only the Evolution™ frame system also moves laterally. Capable of expanding from 48" to 90" desktops with ease.
							.thirtyColumnChild
								img.full(src='../img/performance-driven.jpg', data-echo='http://www.evodesk.com/img/performance-driven.jpg', width='700', height='250', alt='performance design')
								.thirtyColumnContent
									h2 Performance Driven
									h4 Strength, Speed, & Style
									p
										| Designed for maximum structural integrity, the Evolution™ frame features double steel wall tubing boasting a conservative 355 lbs. weight capacity. All while transitioning gracefully at a best in class 1.5 inches per second.
							.thirtyColumnChild
								img.full(src='../img/your-style-frame.jpg', data-echo='http://www.evodesk.com/img/your-style-frame.jpg', width='700', height='250', alt='your style standing desk frame')
								.thirtyColumnContent
									h2 Your Style First
									h4 Customize Every Detail & Option
									p
										| It's your desk, it should be your style. Customize your Evodesk using our award-winning configurator to create over 200,000 unique standing desk combinations.
					// end of wrapper container div
				// end of explore section
				include left-image-right-content
				include left-content-right-image
				section#posi-loc
					// posi-loc section
					.wrapper-container
						img#posi-loc-img2(src='../img/posi-loc-left.jpg', data-echo='img/posi-loc-left.jpg', width='1352', height='718', alt='posi-loc steel desktop inserts')
						// <img src="http://www.evodesk.com/img/mobile-posiloc.jpg" data-echo="img/mobile-posiloc.jpg" width="800" height="421" alt="posi-loc steel desktop inserts" class="mobile-only" id="posi-loc-img-mobile">
						.keepItRealContent
							h2 A Desktop Designed to Last
							h3
								| Posi-Loc™ Steel
								br
								|  Desktop Inserts
							p
								| Posi-Loc™ Steel desktop inserts were designed specifically for our Renew™ desktops to ensure maximum strength and stability in any position. Proprietary, corrosion resistant, externally machined threads provide superior holding power, so you can assemble and disassemble as often as you like with no loss in strength. Designed to stay as strong as the day you bought it, your Renew desktop is ready to go wherever life takes you.
				// end of posi-loc section
				section#oversized-grommet
					// over sized-grommet section
					.wrapper-container
						// <img src="../img/smart-pass-mobile.jpg" data-echo="img/smart-pass-mobile.jpg" width="1000" height="315" alt="smart cable pass" class="relative" id="cable-pass-mobile">
						img#cable-pass(src='http://www.evodesk.com/img/smart-pass-cable-pass.jpg', data-echo='img/smart-pass-cable-pass.jpg', width='1315', height='768', alt='smart cable pass')
						.keepItRealContent
							h2 A Smarter Cable Pass-through
							h3 SmartPass™ Standard
							p
								| The organization of computer cables is often an afterthought. We designed Evodesk from the ground up to control the cable chaos. Cables trailing over the back of a standing desk can be damaged when near a wall. Plus it just doesn’t look good. A proper cable management system starts with a smartly designed cable pass-through.
							p
								| The SmartPass design not only works better but looks better too. Cable connectors are rectangles. We started by changing the conventional round pass through shape to a rectangle. We then made it larger. We CNC machined a spacious 3” x 6” pass-through on every desktop. Passing through multiple large DVI connectors is now a breeze. We then machine and finish a matching cover to perfectly compliment the desktop. The cover can be slid forward or back for added flexibility. Cables can exit the front or back of the opening.
				// end of over sized-grommet section
				include testimonials
				#models
				section#evodesk-standard
					// evodesk-standard section
					.wrapper-container
						// wrapper-container div
						img#standard-evodesk-img.absolute.z-back(src='../img/evodesk-standard.jpg', data-echo='img/evodesk-standard.jpg', alt='Standard Evodesk Standing Desk')
						.keepItRealContent
							h3 Evodesk
							h2
								| Available in 48", 60", or 72"
								br
								|  with optional Ergo Edge™
							p
								| Sleek looks. Smooth performance. Quality materials. Best-in-class performance, stylish design, and a smart expandable frame allow the Evodesk to evolve with you. With a 50" maximum height and the highest weight capacity in its class, Evodesk exceeds expectations. All at the unbeatable price starting at just $599. It’s easy to understand why the Evodesk Rectangle is our most popular standing desk.
							p.disclaimer.btn-below Ergo Edge™ available only on the Renew™ recycled wood desktops.
							a.button.medium(href='https://www.evodesk.com/store/evodesk') Build Now ›
					// end of wrapper container div
				// end of evodesk-standard section
				section#evodesk-studio
					// evodesk-studio section
					.wrapper-container
						// wrapper container div
						img#studio-evodesk-img.absolute.z-back(src='../img/evodesk-studio-l.jpg', data-echo='img/evodesk-studio-l.jpg', alt='Standard Evodesk Standing Desk')
						.keepItRealContent
							h3
								| Evodesk 
								span Studio L™
							h2 72" with Ergo Edge™
							p
								| Sometimes you just need more room for all of those brilliant ideas— and maybe even an extra monitor or two. If you want a massive working surface, check out our most recent standing desk, the Evodesk Studio L™. It has everything that makes the Evodesk a force to be reckoned with — best-in-class performance, a slick design and an expandable frame — combined with a huge, highly functional L-shaped desktop. Customizable for lefties or righties and styled with Ergo Edge™ as a standard feature, you get an expansive desk for expansive potential.
							p.disclaimer.btn-below Studio L™ is available only on the Renew™ recycled wood desktops
							a.button.medium(href='https://www.evodesk.com/store/evodesk?studiol') Build Now ›
					// end of wrapper container div section
				// end of evodesk studio section
				section#evodesk-xe
					//- evodesk-xe section
					.wrapper-container
						// wrapper-container section
						a(href='https://www.evodesk.com/store/evodesk-xe')
							img.z-back(src='../img/evodesk-xe-model-desktop.jpg', alt='Evodesk XE')
						.keepItRealContent
							h3
								| Evodesk 
								span XE&trade;
							h2 Your Desk, Transformed
							p
								| The all-new Evodesk XE turns any desk into an adjustable height desk. It’s the answer for those who feel stuck with their existing desk but want to add life-enhancing movement to their day. The XE takes your desk to new heights with the power-adjusting technology, high-quality materials, and sophisticated design Evodesk is known for.
							a.button.medium(href='https://www.evodesk.com/store/evodesk-xe') Build Now ›
							a.text-link(href='/evodesk-xe') Learn More ›
				// end of evodesk-xe section
				section#evodesk-pro
					// evodesk-pro section
					.wrapper-container
						// wrapper container
						img#evodesk-pro-img.absolute.z-back(src='../img/evodesk-pro-overview1.jpg', data-echo='/store/catalog/view/theme/evodesk/img/evodesk-pro-overview1.jpg', alt='Standard Evodesk Standing Desk')
						.keepItRealContent
							h3
								| Evodesk 
								span Pro&trade;
							h2
								| Available in 48", 60", or 72"
								br
								|  with optional Ergo Edge&trade;
							p
								| The new Evodesk Pro pairs power-adjustable height with brawn to build upon its enduring legacy as the best value in electric adjustable desks. That legacy is elevated by an all new design delivering increased power and stability. Four microprocessor-controlled lifting columns arranged in unique 45 degree geometry offer a visual cue of increased potential.
							a.button.medium(href='https://www.evodesk.com/store/evodesk-pro') Build Now ›
					// end of wrapper container
				// end of evodesk pro section
				include pod-plus-storage
				section#explore-options
					// explore-options-section
					.wrapper-container
						// wrapper-container
						.carousel-intro
							// carousel-intro div
							h3
								| Systematically 
								span Enhanced.
							h2 All the Right Tools Onboard
							p
								| We offer a number of standing desk options to make Evodesk even more enjoyable. Choose from our popular choices such as the programmable memory controller, cable management tray, monitor arms, or our latest innovation, the integrated Harmon Kardon sound system.
						// end of carousel-intro div
						.thirtyColumnParent
							// three column row div
							.thirtyColumnChild
								img(src='../img/programmable-controller-option.jpg', data-echo='img/programmable-controller-option.jpg', width='700', height='250', alt='evodesk programmable controller')
								.thirtyColumnContent
									h2 Digital Programmable Controller
									h4 The perfect position. Every time.
									p.btn-below
										| Our most popular option, the Programmable Controller lets you store four positions height positions of your choice. Glide to the perfect sitting or standing heights with the press of a button. Save and store your favorite four positions, so you never have to guess again.
									a.text-link(href='http://www.evodesk.com/options#controller') Learn More ›
							.thirtyColumnChild
								img(src='../img/ergo-keyboard-standing-desk-option.jpg', data-echo='img/ergo-keyboard-standing-desk-option.jpg', width='700', height='250', alt='ergo keyboard standing desk option')
								.thirtyColumnContent
									h2 Evo Keyboard Platform
									h4 Greater Comfort. All Day Long.
									p.btn-below
										| Whether you are standing or sitting, the Evo Keyboard Platform is designed for your perfect, ergonomically correct position. Simply slide the Evo Keyboard Platform out from under your desk and position it for maximum comfort with minimal effort.
									a.text-link(href='http://www.evodesk.com/options#keyboard-platform') Learn More ›
							.thirtyColumnChild
								img(src='../img/sustainable-desktops-options.jpg', data-echo='img/sustainable-desktops-options.jpg', width='700', height='250', alt='monitor arm options')
								.thirtyColumnContent
									h2 Sustainable Wood Desktops
									h4 Available in Rubberwood or Bamboo
									p.btn-below
										| Choose from a selection of natural wood desktops for a truly personalized aesthetic. Handcrafted from sustainably-sourced materials like rubberwood and bamboo for a truly unique selection of desktops for every style. Protected by a solvent-free, UV-cured finish, Evodesk sustainable wood desktops are built for lasting impressions.
									a.text-link(href='http://www.evodesk.com/options#monitor-arms') Learn More ›
						// end of three column row div
						.thirtyColumnParent
							// three column row div
							.thirtyColumnChild
								img(src='../img/harman-kardon-option.jpg', data-echo='img/harman-kardon-option.jpg', width='700', height='250', alt='harman kardon sound system integrated')
								.thirtyColumnContent
									h2 HARMAN KARDON® Built In
									h4 Perfect Sound. Perfect Location.
									p.btn-below
										| Designed for both form and function, the Harman Kardon satellite speakers and subwoofer deliver world-class sounds with a major wow factor. See why the transparent, minimalistic design is a permanent feature in the New York City Museum of Modern Art.
									a.text-link(href='http://www.evodesk.com/options#harman-kardon') Learn More ›
							.thirtyColumnChild
								img(src='../img/ergo-edge-option.jpg', data-echo='img/ergo-edge-option.jpg', width='700', height='250', alt=' ergo edge desktop option')
								.thirtyColumnContent
									h2 Ergo Edge™ Desktop
									h4 More comfort. More reach.
									p.btn-below
										| Improve your comfort, productivity, and effortlessly reach 22% more of your desktop with the Ergo Edge’s unique shape and angled palm rest. Crafted to follow the natural curve of your body, this ergonomically superior desktop gets you in the optimal human position.
									a.text-link(href='http://www.evodesk.com/options#ergopro') Learn More ›
							.thirtyColumnChild
								img(src='../img/monitor-arm-options.jpg', data-echo='img/monitor-arm-options.jpg', width='700', height='250', alt='monitor arm options')
								.thirtyColumnContent
									h2 Evo Monitor Arms
									h4 Free up valuable desk space.
									p.btn-below
										| Free up your desktop and ease eye strain with space-saving monitor arms. Adjustable. Dynamic. Multiple monitors can make you more productive whether you are converting spreadsheets or gaming while watching a tutorial. More arms means more screen.
									a.text-link(href='http://www.evodesk.com/options#monitor-arms') Learn More ›
						// end of three column row div
						.thirtyColumnParent
							// three column row div
							.thirtyColumnChild
								img(src='../img/storage-highrise.jpg', data-echo='img/storage-highrise.jpg', width='494', height='177', alt='highrise desk platform storage')
								.thirtyColumnContent
									h2
										| Highrise Desktop
										br
										|  Platform
									h4 Control the Clutter
									p.btn-below
										| Control the clutter and use your entire desk. At 48 inches wide and a foot deep, there's room for monitors, speakers, and anything else you need close, but not too close.
									a.text-link(href='http://www.evodesk.com/options#highrise') Learn More ›
							.thirtyColumnChild
								img(src='../img/storage-pod-plus.jpg', data-echo='img/storage-pod-plus.jpg', width='494', height='177', alt='pod plus quick access storage')
								.thirtyColumnContent
									h2 Pod Plus
									h4 Out of sight, out of mind
									p.btn-below
										| When you need it, but you don’t want to see it, the Pod Plus gives you 2025 cubic inches of space (48Wx12Dx4H). Close enough to be ultimately convenient.
									a.text-link(href='http://www.evodesk.com/options#podplus') Learn More ›
							.thirtyColumnChild
								img(src='../img/storage-pod.jpg', data-echo='img/storage-pod.jpg', width='494', height='177', alt='pod quick access storage')
								.thirtyColumnContent
									h2 Pod
									h4 Keep it close
									p.btn-below
										| Pod fits your needs perfectly, handily. 1175 cubic inches all within reach. Room for keeping the important stuff close by.
									a.text-link(href='http://www.evodesk.com/options#pod') Learn More ›
						// end of three column row div
						.thirtyColumnParent
							// three column row div
							.thirtyColumnChild
								img(src='../img/cable-management-option.jpg', data-echo='img/cable-management-option.jpg', width='700', height='250', alt='cable management tray option')
								.thirtyColumnContent
									h2 Cable Management System
									h4 Control Cable Chaos.
									p.btn-below
										| Clutter is not an option with the cable management tray. Your cords go through the SmartPass opening, run through the custom-made steel tray, and stay organized. You’ll never have to deal with unsightly dangling cables again, or any of the problems that go with them.
									a.text-link(href='http://www.evodesk.com/options#cable-tray') Learn More ›
							.thirtyColumnChild
								img(src='../img/evodesk-casters-option.jpg', data-echo='img/evodesk-casters-option.jpg', width='700', height='250', alt='evodesk caster wheels option')
								.thirtyColumnContent
									h2 Evodesk Casters
									h4 Mobility Just Became Adjustable.
									p.btn-below
										| Turn your Evodesk into a mobile workstation with casters. Oversized 3" wheels are crafted for smooth, even rolling on any surface type. They swivel easily and dependably lock in place when you are ready to park. Glide into the future of standing desks with stylish casters.
									a.text-link(href='http://www.evodesk.com/options#casters') Learn More ›
							.thirtyColumnChild
								img(src='../img/evodesk-cpu-mount-option.jpg', data-echo='img/evodesk-cpu-mount-option.jpg', width='700', height='250', alt='evo cpu pc mount')
								.thirtyColumnContent
									h2 Evo CPU Mount
									h4 Space-saving organization
									p.btn-below
										| Protect your CPU and keep your PC tower close. Whether sitting or standing, the CPU is always in reach, rising and descending with your every move. Reduce dust intake and PC clutter all while keeping your tower securely fastened under the desktop.
									a.text-link(href='http://www.evodesk.com/options#cpu-mount') Learn More ›
						// end of three column row div
						.thirtyColumnParent
							// three column row div
							.thirtyColumnChild
								img(src='../img/deskshield-option.jpg', data-echo='img/deskshield-option.jpg', width='700', height='250', alt='treadmill standing walking desk option')
								.thirtyColumnContent
									h2 TopShield™ Surface Protector
									h4 Available in Clear or Designer Skins
									p.btn-below
										| Precision cut from high-quality automotive grade 6-mil vinyl, The TopShield provides unparalleled layer of defense against scratches, dings, and water damage. TopShield is easy to install, removable for replacement, and will protect the beauty of your Evodesk for years to come.
									a.text-link(href='http://www.evodesk.com/deskshields') Learn More ›
							.thirtyColumnChild
								img(src='../img/standing-mat-option.jpg', data-echo='img/standing-mat-option.jpg', width='700', height='250', alt='anti-fatigue standing mat')
								.thirtyColumnContent
									h2 Anti-Fatigue Standing Mat
									h4 Backed by Science
									p.btn-below
										| The SecondStance™ anti-fatigue mat allows you to stand comfortably for long periods of time. Its springy, yet cushy materials provide a secure, stable footing to ensure your feet remain in their optimal position for standing.
									a.text-link(href='http://www.evodesk.com/options#casters') Learn More ›
							.thirtyColumnChild
								img(src='../img/treadmill-option.jpg', data-echo='img/treadmill-option.jpg', width='700', height='250', alt='treadmill standing walking desk option')
								.thirtyColumnContent
									h2 Treadmill System
									h4 Customize Every Detail & Option
									p.btn-below
										| The Evodesk Treadmill takes your standing desk experience to the next level. A sleek, low profile, best-in-class treadmill allows you to exercise while working and make serious gains on both your health and your productivity.
									a.text-link(href='http://www.evodesk.com/options#treadmill') Learn More ›
						// end of three column row div
						.thirtyColumnParent
							// three column row div
							.thirtyColumnChild
								img(src='../img/Freeport-tile-700x250.jpg', data-echo='img/Freeport-tile-700x250.jpg', width='700', height='250', alt='cable management tray option')
								.thirtyColumnContent
									h2 FREEPORT™
									h4 SUPERIOR POWER MANAGEMENT
									p.btn-below
										| The Freeport PowerDock provides 1870 watts of pure power through 8 surge-protected AC outlets and 4 fuse-protected USB outlets in one convenient station—the perfect way to enable your office desk for any task while protecting even your most sensitive devices.
									a.text-link(href='http://www.evodesk.com/options#free-port') Learn More ›
							.thirtyColumnChild
								img(src='../img/Freeport-Plus-tile-1-700x250.jpg', data-echo='img/Freeport-Plus-tile-1-700x250.jpg', width='700', height='250', alt='evodesk caster wheels option')
								.thirtyColumnContent
									h2 FREEPORT™ PLUS
									h4 ULTIMATE POWER PLAY
									p.btn-below
										| The Freeport Plus offers all the advantages of our Freeport PowerDock, and adds a convenient front panel that brings 4 configurable high-speed USB ports and 2 standard audio jacks within easy reach. Hide away your CPU (with our space-saving CPU Mount option) and still have access to all its ports.
									a.text-link(href='http://www.evodesk.com/options#free-port') Learn More ›
							.thirtyColumnChild
								img(src='../img/Evoflex-tile-700x250.jpg', data-echo='img/Evoflex-tile-700x250.jpg', width='700', height='250', alt='evo cpu pc mount')
								.thirtyColumnContent
									h2 Evoflex
									h4 AVAILABLE IN SILVER, WHITE, OR BLACK
									p.btn-below
										| Gently push the braided polyethylene monofilament together and it magically expands to 150% of its original size to contain the fast growing bundle of cords and cables found around modern workstations. Commonly used in aerospace, military and automotive applications.
									a.text-link(href='http://www.evodesk.com/options#evoflex') Learn More ›
						// end of three column row div
					// end of wrapper-container
				// end of explore-options-section
				include finance
				include join-our-mailing
				include footer
			// end of main
		// end of max-wrapper
		script.
			$(document).ready(function(){
			$('.slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,
			arrows:true,
			dots:true,
			fade:true,
			cssEase: 'linear',
			});
			$('#quotes-rotator').jshowoff({
			links: false,
			controls: false,
			effect: 'fade',
			hoverPause: false,
			changeSpeed: 600,
			autoPlay: true,
			speed: 5000
			});
			});
