doctype html
html
	include head
	body#options-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				// main
				.banner-policy
					.wrapper-container
						#banner-text
							h3 TERMS OF USE
							p
								| Please carefully review this Terms and Conditions before using this site. Any use of this website creates a binding agreement to comply with these Terms adn Conditions. If you do not agree to these terms, please exit this site immediately.
				section.policy-content
					.wrapper
						h3 USER AGREEMENT 
						p
							| The following are terms of a legal agreement (the &quot;Agreement&quot;) between you and evodesk.com (&quot;evodesk&quot;, &quot;we&quot;, or &quot;us&quot;) that sets forth the terms and conditions for your use of this web site (the &quot;Site&quot;). The Site is owned and operated by evodesk.  This Site is being provided to you expressly subject to this Agreement. By accessing, browsing and/or using this site (&quot;Site&quot;), you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement and to comply with all applicable laws and regulations. The terms and conditions of this Agreement form an essential basis of our bargain.
						h3 LIMITATIONS OF USE 
						p
							| The copyright in all material on this Site, including without limitation the text, data, articles, design, source code, software, photos, images and other information (collectively the &quot;Content&quot;), is held by evodesk or by the original creator of the material and is protected by U.S. and International copyright laws and treaties. You agree that the Content may not be copied, reproduced, distributed, republished, displayed, posted or transmitted in any form or by any means, including, but not limited to, electronic, mechanical, photocopying, recording, or otherwise, without the express prior written consent of evodesk. You acknowledge that the Content is and shall remain the property of evodesk. You may not modify, participate in the sale or transfer of, or create derivative works based on any Content, in whole or in part. The use of the Content on any other Site, including by linking or framing, or in any networked computer environment for any purpose, is prohibited without evodesk&apos;s prior written approval. You also may not, without evodesk&apos;s express written permission, &quot;mirror&quot; any material contained on this Site on any other server. Any unauthorized use of any Content on this Site may violate copyright laws, trademark laws, the laws of privacy and publicity, and communications statutes and regulations. You agree to use the Content and Site only for lawful purposes. You are prohibited from any use of the Content or Site that would constitute a violation of any applicable law, regulation, rule or ordinance of any nationality, state, or locality or of any international law or treaty, or that could give rise to any civil or criminal liability. Any unauthorized use of the Site, including but not limited to unauthorized entry into evodesk&apos;s systems, misuse of passwords, or misuse of any information posted on the Site is strictly prohibited. evodesk makes no claims concerning whether the Content may be downloaded or is appropriate for use outside of the United States. If you access this Site from outside of the United States, you are solely responsible for ensuring compliance with the laws of your specific jurisdiction. Your eligibility for particular products or services is subject to final determination by evodesk.
						h3 TRADEMARKS 
						p
							| evodesk (including the evodesk logo), evodesk.com, and all related logos (collectively the &quot;evodesk Trademarks&quot;) are trademarks or service marks of evodesk. Other company, product, and service names and logos used and displayed on this Site may be trademarks or service marks owned by evodesk or others. Nothing on this Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of the evodesk trademarks displayed on this Site, without our prior written permission in each instance. You may not use, copy, display, distribute, modify or reproduce any of the trademarks found on the Site unless in accordance with written authorization by us. We prohibit use of any of the evodesk trademarks as part of a link to or from any site unless establishment of such a link is approved in writing by us in advance. Any questions concerning any evodesk Trademarks, or whether any mark or logo is a evodesk Trademark, should be referred to evodesk.
						h3 DISCLAIMER OF WARRANTIES 
						p
							| NONE OF evodesk, ANY OF ITS AFFILIATES, PROVIDERS OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, INDEPENDENT CONTRACTORS OR LICENSORS (COLLECTIVELY THE &quot;evodesk PARTIES&quot;) GUARANTEES THE ACCURACY, ADEQUACY, TIMELINESS, RELIABILITY, COMPLETENESS, OR USEFULNESS OF ANY OF THE CONTENT AND evodesk DISCLAIMS LIABILITY FOR ERRORS OR OMISSIONS IN THE CONTENT. THIS SITE AND ALL OF THE CONTENT IS PROVIDED &quot;AS IS&quot; AND &quot;AS AVAILABLE,&quot; WITHOUT ANY WARRANTY, EITHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR TITLE. ADDITIONALLY, THERE ARE NO WARRANTIES AS TO THE RESULTS OF YOUR USE OF THE CONTENT. evodesk PARTIES DO NOT WARRANT THAT THE SITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THIS DOES NOT AFFECT THOSE WARRANTIES WHICH ARE INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THIS AGREEMENT. evodesk MAY DISCONTINUE OR MAKE CHANGES IN THE CONTENT AND SITE AT ANY TIME WITHOUT PRIOR NOTICE TO YOU AND WITHOUT ANY LIABILITY TO YOU. ANY DATED INFORMATION IS PUBLISHED AS OF ITS DATE ONLY, AND evodesk PARTIES DO NOT UNDERTAKE ANY OBLIGATION OR RESPONSIBILITY TO UPDATE OR AMEND ANY SUCH INFORMATION. evodesk RESERVES THE RIGHT TO TERMINATE ANY OR ALL SITE OFFERINGS OR TRANSMISSIONS WITHOUT PRIOR NOTICE TO YOU. THIS SITE COULD CONTAIN TECHNICAL INACCURACIES OR TYOPOGRAPHICAL ERRORS. USE OF THIS SITE IS AT YOUR OWN RISK.
						h3 LIMITATION OF LIABILITY 
						p
							| UNDER NO CIRCUMSTANCES WILL evodesk PARTIES BE LIABLE FOR ANY DAMAGES INCLUDING GENERAL, SPECIAL, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR ANY OTHER DAMAGES (INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR BUSINESS INTERRUPTION) OF ANY KIND WHETHER IN AN ACTION IN CONTRACT OR NEGLIGENCE ARISING OR RELATING IN ANY WAY TO THE USE OR INABILITY TO USE BY ANY PARTY OF THE CONTENT, THE SITE OR ANY THIRD-PARTY SITE TO WHICH THIS SITE IS LINKED, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS OR LINE OR SYSTEM FAILURE, EVEN IF evodesk PARTIES, OR REPRESENTATIVES THEREOF, ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, LOSSES OR EXPENSES. evodesk IS NOT LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THIS SITE IS TO STOP USING THE SITE. IF YOUR USE OF MATERIALS FROM THIS SITE RESULTS IN THE NEED FOR SERVICING, REPAIR OR CORRECTION OF EQUIPMENT OR DATA, YOU ASSUME ANY COSTS THEREOF. IF THE FOREGOING LIMITATION IS FOUND TO BE INVALID, YOU AGREE THAT evodesk PARTIES&apos; TOTAL LIABILITY FOR ALL DAMAGES, LOSSES, OR CAUSES OF ACTION OF ANY KIND OR NATURE SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY APPLICABLE LAW.
						h3 INDEMNIFICATION 
						p
							| You agree to indemnify and hold harmless evodesk Parties from and against any and all claims, losses, expenses, demands or liabilities, including attorneys&apos; fees and costs, incurred by the evodesk Parties in connection with any claim by a third party (including any intellectual property claim) arising out of (i) materials and content you submit to, post to or transmit through the Site, or (ii) your use of the Site in violation of this Agreement or in violation of any applicable law. You further agree that you will cooperate fully in the defense of any such claims. evodesk Parties reserve the right, at their own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you shall not in any event settle any such claim or matter without the written consent of evodesk. You further agree to indemnify and hold harmless evodesk Parties from any claim arising from a third party&apos;s use of information or materials of any kind that you post to the Site.
						h3 MONITORING OF THE SITE 
						p
							| evodesk has no obligation to monitor the Site; however, you acknowledge and agree that evodesk has the right to monitor the Site electronically from time to time and to disclose any information as necessary or appropriate to satisfy any law, regulation or other governmental request, to operate the Site, or to protect itself or other users of the Site.
						h3 SUBMISSIONS TO THE SITE 
						p
							| All remarks, discussions, ideas, concepts, know-how, techniques, graphics or other submissions communicated to evodesk through this Site (collectively, &quot;Submissions&quot;) will be deemed and remain the property of evodesk, and evodesk is entitled to use any Submission for any purpose, without restriction or compensation to the individual who has provided the Submission. evodesk shall not be subject to any obligations of confidentiality regarding Submissions except as expressly agreed by evodesk or as otherwise required by applicable law. Nothing herein contained shall be construed as limiting evodesk&apos;s responsibilities and obligations under its Privacy Policy.
						h3 USE OF PERSONALLY IDENTIFIABLE INFORMATION 
						p
							| evodesk&apos;s practices and policies with respect to the collection and use of personally identifiable information are governed by evodesk&apos;s Privacy Policy.
						h3 AVAILABILITY 
						p
							| This Site is not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to applicable law or regulation. By offering this site and Content no distribution or solicitation is made by evodesk to any person to use the Site or Content in jurisdictions where the provision of the site and/or content is prohibited by law.
						h3 TERMINATION 
						p
							| This Agreement is effective until terminated by evodesk. evodesk may terminate this Agreement at any time without notice, or suspend or terminate your access and use of the Site at any time, with or without cause, in evodesk&apos;s absolute discretion and without notice. The following provisions of this Agreement shall survive termination of your use or access to the Site: the sections concerning Indemnification, Disclaimer of Warranties, Limitation of Liability, Waiver, Applicable Law and Dispute Resolution, and General Provisions, and any other provision that by its terms survives termination of your use or access to the Site.
						h3 WAIVER 
						p
						| Failure by evodesk to enforce any of its rights under this Agreement shall not be construed as a waiver of those rights or any other rights in any way whatsoever.
						h3 APPLICABLE LAW AND DISPUTE RESOLUTION 
						p
							| This Agreement and all other aspects of your use of the Site shall be governed by and construed in accordance with the laws of the United States and, to the extent applicable, to the laws of the State of Texas, without regard to its conflict of laws rules. You agree that you will notify evodesk in writing of any claim or dispute concerning or relating to the Site and the information or services provided through it, and give evodesk a reasonable period of time to address it BEFORE bringing any legal action, either individually, as a class member or representative, or as a private attorney general, against evodesk.
						h3 OTHER AGREEMENTS 
						p
							| This Agreement shall be subject to any other agreements you have entered into with evodesk.
						h3 ADDITIONAL TERMS 
						p
							| Certain sections or pages on the Site may contain separate terms and conditions of use, which are in addition to the terms and conditions of this Agreement. In the event of a conflict, the additional terms and conditions will govern for those sections or pages.
						h3 SEVERABILITY 
						p
							| If any provision of this Agreement is found to be invalid or unenforceable, the remaining provisions shall be enforced to the fullest extent possible, and the remaining provisions of the Agreement shall remain in full force and effect.
						h3 GENERAL PROVISIONS 
						p
							| This Agreement supersedes any previous Terms of Use Agreement to which you and evodesk may have been bound. This Agreement will be binding on, inure to the benefit of, and be enforceable against the parties and their respective successors and assigns. Neither the course of conduct between parties nor trade practice shall act to modify any provision of the Agreement. All rights not expressly granted herein are hereby reserved. Headings are for reference purposes only and in no way define, limit, construe or describe the scope or extent of such section.
						h3 CONTACTING US 
						p
							| If you have questions regarding the Agreement or the practices of evodesk, please contact us by e-mail at 
							script(language='JavaScript').
								var username = "info";
								var hostname = "evodesk.com";
								var linktext = username + "@" + hostname ;
								document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
							|  or by regular mail at 2251 Piccadilly Drive, Suite C340, Austin, TX 78660

				include footer