section#lavish
		.wrapper-container
			#quotes-rotator.rw-words.full75.center-all.relative.z-front
				.text-center
					h3
						| "There are several manufacturers that make standing desks, but I chose this one
						b -- it’s the Lamborghini of standing desks -- super sleek.
						| "
					img(src='http://www.evodesk.com/img/entreprenuer-quote-logo.png', alt='entreprenuer logo')
				.text-center
					h3
						| "@JoeKaiserSports @cfrelund Bought a stand/sit desk from @evodesk and 
						b it changed my world. Changed.My.World.
						| "
					h4.twitter-post
						i.fa.fa-twitter
						|  @Socrdave
				.text-center
					h3
						b Score of 90/100:
						|  "Adjustable, stable, and smooth, the EvoDesk is a potent and well designed sit/stand gaming desk…”
					img(src='http://www.evodesk.com/img/pc-gamer-logo.png', alt='pc gamer logo')
				.text-center
					h3
						| "
						b Gotta say that my initial impression of our new @evodesk's is outstanding.
						|  Fast adjustment, great finish, quick shipping."
					h4.twitter-post
						i.fa.fa-twitter
						|  @Risar_
				.text-center
					h3
						| "
						b Amazing details ! Great product and customer service!
						|  Highly recommend @evodesk #evodesk thanks! #happy #geek "
					h4.twitter-post
						i.fa.fa-twitter
						|  @pamirrimap
			#featured-in.row.clearfix
				#also.col-xs-12.text-center
					h3 Also Featured in
				.col-xs-6.col-sm-3
					img.img-responsive(src='http://www.evodesk.com/img/forbes-logo.png', alt='forbes logo')
				.col-xs-6.col-sm-3
					img.img-responsive(src='http://www.evodesk.com/img/digital-trends-logo.png', alt='Digital Trends logo')
				.col-xs-6.col-sm-3
					img.img-responsive(src='http://www.evodesk.com/img/cult-of-mac-logo.png', alt='cult of mac logo')
				.col-xs-6.col-sm-3
					img.img-responsive(src='http://www.evodesk.com/img/examiner-logo.png', alt='examiner logo')
			#more.row
				.col-xs-12.text-center
					a.text-link(href='reviews') Read More ›
